Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

[skip ci] DOC: Add to examples/README.md to notebook.rst
  docs/notebooks.rst
Due: none

[skip ci] DOC: Remove gallery
  docs/notebooks.rst
Due: none

[skip ci] DOC: Add relative path
  docs/notebooks.rst
Due: none

[skip ci] REV: Revert changes - Revert changes
  docs/notebooks.rst
Due: none

[skip ci] DOC: Rewrite notebooks.rst - Rewrite notebooks.rst
  docs/_static/sg_gallery.css
  docs/conf.py
  docs/images/advanced-techniques.png
  docs/images/hovernet.png
  docs/images/hovernetplus.png
  docs/images/patch-extraction.png
  docs/images/patch-prediction.png
  docs/images/wsi-reading.png
  docs/notebooks.rst
  docs/requirements.txt
Due: none

[skip ci] DOC: Rewrite notebooks.rst - Rewrite notebooks.rst
  docs/notebooks.rst
Due: none

[skip ci] DOC: Use rst for examples/readme - Use rst for examples/readme
  examples/README.md
  examples/README.rst
Due: none

Apply suggestions from code review
  tiatoolbox/models/architecture/nuclick.py
Due: none

[skip ci] DOC: Use separate rst for notebooks intro - Use separate rst for notebooks intro
  examples/README.rst
  examples/_example_docs/notebooks_intro.rst
Due: none

[skip ci] REV: Revert rst usage for examples/README - Revert rst usage for examples/README
  examples/README.md
  examples/README.rst
Due: none

[skip ci] REV: Revert rst usage for examples/README - Revert rst usage for examples/README
  examples/_example_docs/notebooks_intro.rst
Due: none

[skip ci] REV: Revert rst usage for examples/README - Revert rst usage for examples/README
  docs/notebooks.rst
Due: none

DOC: Fix docstring - Fix docstring
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Minor change - Minor change
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

[skip ci] DOC: Remove `nbgallery` (#469)
  README.md
  docs/_static/sg_gallery.css
  docs/conf.py
  docs/images/advanced-techniques.png
  docs/images/hovernet.png
  docs/images/hovernetplus.png
  docs/images/patch-extraction.png
  docs/images/patch-prediction.png
  docs/images/wsi-reading.png
  docs/notebooks.rst
  docs/requirements.txt
  examples/README.md
  tiatoolbox/models/architecture/__init__.py
Due: none

UPD: proto toilet OME TIFF
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

DOC: Remove nbsphinx - Remove nbsphinx
  docs/conf.py
  docs/notebooks.rst
  docs/requirements.txt
  examples/README.md
Due: none

[skip ci] DOC: Update examples/README.md - Update examples/README.md
  docs/images/idars.png
  docs/images/sematic-segment.png
  docs/notebooks.rst
  examples/README.md
Due: none

DOC: Setup notebooks rendering - Setup notebooks rendering
  docs/conf.py
  docs/index.rst
  docs/notebooks.rst
  examples/README.md
Due: none

[skip ci] DOC: Update notebook.rst
  docs/notebooks.rst
Due: none

NEW: Feature Matching for Deep Feature Based Registration (#440)
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

DEV: Restructure headings for notebooks.rst. - Restructure headings for notebooks.rst.
  docs/conf.py
  docs/notebooks.rst
  examples/README.md
Due: none

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/05-patch-prediction.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove nbshpinx tags. - Remove nbshpinx tags.
  examples/inference-pipelines/idars.ipynb
  examples/inference-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Set up correct links. - Set up correct links.
  docs/conf.py
Due: none

[skip ci] DOC: Remove cells in 01-wsi-reading.ipynb. - Remove cells in 01-wsi-reading.ipynb.
  docs/conf.py
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove output in 01-wsi-reading.ipynb. - Remove output in 01-wsi-reading.ipynb.
  examples/01-wsi-reading.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Fix outputs 01-wsi-reading.ipynb. - Fix outputs 01-wsi-reading.ipynb.
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

DEV: Add `docs/requirements.txt` to `requirements_dev.txt` (#470)
  .github/workflows/conda-env-create.yml
  requirements_dev.txt
Due: none
