Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

:bug: Fix hovernet and hovernetplus tests
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
Due: pytest-changed-files

[skip ci] Update to get remote sample from HF
  tests/models/test_dataset.py
  tiatoolbox/data/__init__.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/models/dataset/info.py
Due: pytest-changed-files

add unzip option
  tests/test_wsireader.py
  tiatoolbox/data/__init__.py
Due: pytest-changed-files

Fix mypy type error
  tiatoolbox/utils/misc.py
Due: none

:white_check_mark: Add tests for zarr output
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

update tests
  tests/models/test_patch_predictor.py
  tests/test_app_bokeh.py
  tests/test_json_config_bokeh.py
  tests/test_server_bokeh.py
  tests/test_tiatoolbox.py
  tiatoolbox/data/__init__.py
Due: pytest-changed-files

fix test
  tests/test_wsireader.py
Due: pytest-changed-files

update docstring and fix test
  tests/test_tiatoolbox.py
  tiatoolbox/data/__init__.py
  tiatoolbox/data/remote_samples.yaml
Due: pytest-changed-files

update docstring
  tiatoolbox/data/__init__.py
Due: none

address comments
  tests/models/test_patch_predictor.py
  tests/test_app_bokeh.py
  tests/test_utils.py
  tiatoolbox/data/__init__.py
Due: pytest-changed-files

skip tricky test case
  tiatoolbox/utils/misc.py
Due: none

:bug: Fix deepsource errors
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:white_check_mark: Add test for single output.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add test for save_dir and None output_type
  tests/engines/test_engine_abc.py
Due: pytest-changed-files

Fix mypy type error in misc.py
  tiatoolbox/utils/misc.py
Due: none

:white_check_mark: Improve test coverage.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

Fix mypy type error in misc.py2
  tiatoolbox/utils/misc.py
Due: none

:pushpin: Update `bokeh` to `3.8.2` and above - Fix security issue listed in https://github.com/TissueImageAnalytics/tiatoolbox/security/dependabot/3
  requirements/requirements.txt
Due: none

Fix mypy type error in misc.py3
  tiatoolbox/utils/misc.py
Due: none

:pushpin: Update `bokeh` to `3.8.2` and Above (#984)
  requirements/requirements.txt
Due: none

:pushpin: Update `dask` to `2025.12.0` and Above
  requirements/requirements.txt
Due: none

:white_check_mark: Add test for annotationstore single output.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

♻️ Move Remote Samples to Hugging Face (#983)
  tests/models/test_dataset.py
  tests/models/test_patch_predictor.py
  tests/test_app_bokeh.py
  tests/test_json_config_bokeh.py
  tests/test_server_bokeh.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/data/__init__.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/models/dataset/info.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:lipstick: Update URL for model.
  tests/engines/test_patch_predictor.py
Due: pytest-changed-files

update urls in files
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/utils/tiff_to_fsspec.py
Due: pytest-changed-files

update notebook 3
  examples/03-tissue-masking.ipynb
Due: notebook-markdown-format

:white_check_mark: Add tests for multitask annotation store
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Test output of layer and nuclei segmentation for annotationstore
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Test output of layer and nuclei segmentation for annotationstore
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Read image at correct resolution
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix saving annotationstore using zarr
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add test for logger.
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix deepsource error `PTC-W0060`
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:white_check_mark: Use file paths for a test
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix paths to input files in test
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files
