Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, requirements-consistency

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  requirements-consistency: any of: (requirements.*.(txt|yml|yaml)|setup.py)$

Test: Remove redundant test.
  tests/test_wsi_registration.py
Due: pytest-changed-files

Test: Minimize the difference between expected and obtained output.
  tests/test_wsi_registration.py
Due: pytest-changed-files

BUG: Fix G200 Logging statement uses exception. - Fix G200 Logging statement uses exception.
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

MAINT: Improve instructions for restarting runtime and also the following text cell.
  examples/05-patch-prediction.ipynb
Due: none

Logging error.
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

BUG: Fix Unsupported operand |. - Fix Unsupported operand |.
  tiatoolbox/models/architecture/sccnn.py
Due: none

MAINT: Introduce bullet-proof clean-up arrangements. Change "pip install tiatoolbox" so that the develop version is used instead.
  examples/05-patch-prediction.ipynb
Due: none

MAINT: Save Colab with GPU version, together with output.
  examples/05-patch-prediction.ipynb
Due: none

MAINT: Change bold-italic jnb rendering to italic jnb rendering
  examples/05-patch-prediction.ipynb
Due: none

MAINT: Change ***bold-italic*** to **bold**: bold-italic not supported on rtd.
  examples/01-wsi-reading.ipynb
Due: none

MAINT: Change attempted (rtd failure) ***bold-itali** to *italic*
  examples/01-wsi-reading.ipynb
Due: none

BUG: Fix G200 precommit. - Fix G200 precommit.
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

BUG: Fix G200 precommit. (#442)
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

DOC: Update sccnn-conic
  tiatoolbox/models/architecture/sccnn.py
Due: none

NEW: Add MapDe architecture. - Add MapDe architecture.
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
Due: none

DOC: Fix docstring. - Fix docstring.
  tiatoolbox/models/architecture/sccnn.py
Due: none

TST: Add tests for MapDe. - Add tests for MapDe.
  tests/models/test_arch_mapde.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/mapde.py
Due: pytest-changed-files

UPD: track
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

DEV: Compute transformation matrix.
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

BUG: Fix example gallery. - Fix example gallery.
  docs/Makefile
  docs/_templates/sg_gallery.css
Due: none

DOC: Fix example gallery. - Fix example gallery.
  docs/Makefile
  docs/conf.py
  docs/css/sg_gallery.css
Due: none

DOC: Try moving css file to _static. - Try moving css file to _static.
  docs/_static/sg_gallery.css
  docs/conf.py
Due: none

[skip CI] DOC: Try adding setup. - Try adding setup.
  docs/conf.py
Due: none

DOC: Add return values.
  tests/test_wsi_registration.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

[skip CI] DOC: Force sg_gallery.css using app connect. - Force sg_gallery.css using app connect.
  docs/conf.py
Due: none

DOC: Add docstring for estimate_affine_transform.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

[skip CI] DOC: Remove path in add sheet.
  docs/conf.py
Due: none

DEV: Remove unused variable and del statement.
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

DEV: Rename indx to ind.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DEV: Remove match_histograms function.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Fix Example Gallery (#444)
  docs/_static/sg_gallery.css
  docs/conf.py
Due: none

NEW: Add mapde-conic model. - Add mapde-conic model.
  tests/models/test_arch_mapde.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/mapde.py
Due: pytest-changed-files

DOC: Fix sccnn docstring. - Fix sccnn docstring.
  tiatoolbox/models/architecture/sccnn.py
Due: none

Update tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/sccnn.py
Due: none

add storage changes
  tiatoolbox/annotation/storage.py
Due: none

precommit fixes
  tiatoolbox/annotation/storage.py
Due: none

NEW: Pre-Alignment of an Image Pair (#427)
  tests/conftest.py
  tests/test_wsi_registration.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/tools/registration/__init__.py
  tiatoolbox/tools/registration/wsi_registration.py
  whitelist.txt
Due: pytest-changed-files

DOC: Fix Merge conflicts. - Fix Merge conflicts.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Fix Merge conflicts. - Fix Merge conflicts.
  tests/test_wsi_registration.py
Due: pytest-changed-files

:wrench: Migrate Sphinx From recommonmark To MyST
  docs/conf.py
  docs/history.md
  docs/history.rst
  docs/requirements.txt
Due: requirements-consistency
