Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/psf/black
    rev: 23.11.0 # Replace with any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.+
        additional_dependencies: ['click==8.0.4']  # Currently >8.0.4 breaks black
      - id: black-jupyter
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]

:white_check_mark: Fix `mypy` checks for multiple values
  tiatoolbox/utils/image.py
Due: none

:pencil2: Fix typos and other minor issues.
  docs/visualization.rst
  tests/test_app_bokeh.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:white_check_mark: Add `mypy` checks to `image.py` (#753)
  .github/workflows/mypy-type-check.yml
  tiatoolbox/typing.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/transforms.py
Due: none

:bug: Fix `mpy` checks errors
  .github/workflows/mypy-type-check.yml
  tiatoolbox/utils/image.py
  tiatoolbox/utils/transforms.py
Due: none

Reducing complexity in EngineABC as per review comments
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/utils/misc.py
Due: none

✨ Add `bokeh` Visualization (#684)
  MANIFEST.in
  docs/images/dual_win.png
  docs/images/properties_window.png
  docs/images/type_select.png
  docs/images/vis_gland_cmap.png
  docs/images/vis_graph.png
  docs/images/visualize_interface.png
  docs/index.rst
  docs/installation.rst
  docs/visualization.rst
  requirements/requirements.txt
  tests/conftest.py
  tests/test_annotation_tilerendering.py
  tests/test_app_bokeh.py
  tests/test_json_config_bokeh.py
  tests/test_server_bokeh.py
  tests/test_tileserver.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/misc.py
  tiatoolbox/visualization/bokeh_app/__init__.py
  tiatoolbox/visualization/bokeh_app/app_hooks.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/bokeh_app/templates/index.html
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/tileserver_api.yml
  tiatoolbox/visualization/ui_utils.py
Due: pytest-changed-files

🩹 Fix `save_tiles` (#752)
  tiatoolbox/wsicore/wsireader.py
Due: none

:white_check_mark: Add `mypy` checks to `visualization.py` (#755)
  .github/workflows/mypy-type-check.yml
  tests/test_wsireader.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

:memo: Update release notes for version 1.5.0
  HISTORY.md
Due: none

:memo: Update version number to 1.5.0
  .github/workflows/docker-publish.yml
  CITATION.cff
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:pushpin: Pin dependencies
  requirements/requirements.txt
Due: none

:bug: Fix deepsource errors
  tiatoolbox/annotation/storage.py
Due: none

[skip ci] :bug: Fix idars example notebook
  examples/inference-pipelines/idars.ipynb
Due: notebook-markdown-format

[skip ci] :bug: Fix idars example notebook (#760)
  examples/inference-pipelines/idars.ipynb
Due: notebook-markdown-format

:pushpin: Fix pin on dependencies
  requirements/requirements.txt
Due: none

[skip ci] :memo: Update HISTORY.md
  HISTORY.md
Due: none

[skip ci] :memo: Update AUTHORS.md
  AUTHORS.md
  HISTORY.md
Due: none

[skip ci] :memo: Update HISTORY.md and AUTHORS.md
  AUTHORS.md
Due: none

[skip ci] :memo: Update version numbers
  .github/workflows/docker-publish.yml
  CITATION.cff
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

[skip ci] :bug: Fix deepsource errors
  tiatoolbox/annotation/storage.py
Due: none

🔖 Release 1.5.0 (#761)
  .github/workflows/docker-publish.yml
  AUTHORS.md
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
  tiatoolbox/annotation/storage.py
Due: none

:pushpin: Specify Python versions
  setup.py
Due: none

:pushpin: Specify Python versions (#762)
  setup.py
Due: none

:memo: Update HISTORY.md
  HISTORY.md
Due: none

:pushpin: Update version number
  .github/workflows/docker-publish.yml
  CITATION.cff
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

🚑 Release 1.5.1 (#764)
  .github/workflows/docker-publish.yml
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

🚑 Release 1.5.1 ## 1.5.1 (2023-12-16)
  .github/workflows/docker-publish.yml
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

🚑 Release 1.5.1 (#766)
  .github/workflows/docker-publish.yml
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

Replacing tolist() with Zarr groups
  predictions/.zgroup
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:test_tube: Remove failing test temporarily.
  tests/test_app_bokeh.py
Due: pytest-changed-files
