Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/psf/black
    rev: 23.11.0 # Replace with any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.+
        additional_dependencies: ['click==8.0.4']  # Currently >8.0.4 breaks black
      - id: black-jupyter
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]

[skip ci] :fire: Remove repeated docstring entry.
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_classifier.py
Due: none

fix DeepSource error
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

fix deepsource error
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

Apply suggestions from code review
  tiatoolbox/models/architecture/utils.py
Due: none

show how thumbnails and masks can be saved using `tiatoolbox.utils.misc.imwrite`
  examples/03-tissue-masking.ipynb
Due: notebook-markdown-format

fix typo
  examples/03-tissue-masking.ipynb
Due: notebook-markdown-format

add Google Colab link
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

add TimmBackbone example as a comment under model = CNNBackbone("resnet50") into the full pipelines version of slide-graph
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

Attempt to fix ruff error: commented code (TimmBackbone)
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

MAINT: add suggestion toolbox
  tiatoolbox/tools/stainextract.py
Due: none

TEST: add test for vahadane warning
  tests/test_stainnorm.py
Due: pytest-changed-files

:recycle: Move `infer_wsi` to `EngineABC` - Move `infer_wsi` to `EngineABC`
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:recycle: Use `EngineABC` as base class for `PatchClassifier`. - Use `EngineABC` as base class for `PatchClassifier`.
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/patch_classifier.py
Due: pytest-changed-files

:memo: Fix docstring
  tiatoolbox/models/engine/patch_classifier.py
Due: none

:recycle: `PatchPredictor` inherits from `PatchClassifier` - `PatchPredictor` inherits from `PatchClassifier` - `PatchPredictor` adds deprecation warning.
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:recycle: Rename `IOPatchPredictorConfig` to `IOPatchClassifierConfig`
  tests/engines/test_patch_predictor.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/__init__.py
  tiatoolbox/models/engine/io_config.py
Due: pytest-changed-files

:fire: Remove `patch-predictor` cli
  tests/engines/test_patch_predictor.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/patch_predictor.py
Due: pytest-changed-files

:fire: Remove `patch-predictor` cli
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:white_check_mark: Fix test for `PatchPredictor`.
  tests/engines/test_patch_predictor.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

:white_check_mark: Fix test for `PatchPredictor`.
  tests/engines/test_patch_classifier.py
Due: pytest-changed-files

🐛 Add Warning for `VahadaneExtractor` Algorithm Instability (#871)
  tests/test_stainnorm.py
  tiatoolbox/tools/stainextract.py
Due: pytest-changed-files

Update semantic_segmentor.py as per code review
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

Apply suggestions from code review
  .github/workflows/mypy-type-check.yml
  .github/workflows/python-package.yml
Due: none

try fixing testcov
  .github/workflows/python-package.yml
Due: none

Adjust spacing in github workflows
  .github/workflows/mypy-type-check.yml
  .github/workflows/python-package.yml
Due: none

[skip ci] :memo: Update 03-tissue-masking.ipynb
  examples/03-tissue-masking.ipynb
Due: notebook-markdown-format

Update utils.py to address review comments
  tiatoolbox/models/architecture/utils.py
Due: none

:memo: Add `torch.compile` mode descriptions
  tiatoolbox/models/architecture/utils.py
Due: none

[skip ci] :memo: Update the jupyter notebooks.
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

:fire: Remove test_patch_classifier.py and move the code to test_patch_predictor.py
  tests/engines/test_patch_classifier.py
  tests/engines/test_patch_predictor.py
Due: pytest-changed-files

:recycle: Refactor all code and remove patch classifier. Replace it with patch predictor.
  tests/engines/test_patch_predictor.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/__init__.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/patch_classifier.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

:pushpin: Update `ruff` version.
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:bug: Fix E501 Line too long
  tiatoolbox/models/architecture/utils.py
Due: none

:bug: Fix `test_torch_compile_compatibility`
  tests/test_utils.py
Due: pytest-changed-files

⚡️Add `torch.compile` Functionality (#716)
  .github/workflows/python-package.yml
  tests/conftest.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_utils.py
  tests/test_wsi_registration.py
  tiatoolbox/__init__.py
  tiatoolbox/models/architecture/__init__.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/models/models_abc.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/__init__.py
Due: pytest-changed-files

:bug: Fix `model_to` import
  tests/models/test_arch_vanilla.py
Due: pytest-changed-files
