Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

✨ File Magic Detection & NGFF SQLite3 Support
  tests/test_magic.py
  tests/test_wsireader.py
  tiatoolbox/utils/magic.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

🐛 Fix Opening Of Zarr From Path In is_ngff
  tiatoolbox/utils/magic.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:recycle: Use `__all__` for high level imports (#614)
  tiatoolbox/wsicore/__init__.py
Due: none

🐛 Fix Errors with `glymur` Update to `0.12.6` (#612)
  requirements/requirements.txt
Due: none

♻️Refactor Resolution and Units
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: fix missing imports in slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

:bulb: clean up comments
  examples/inference-pipelines/slide-graph.ipynb
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/wsicore/wsireader.py
Due: notebook-check-ast, notebook-markdown-format

:white_check_mark: add tests for 01-wsi-reading.ipynb
  .github/workflows/python-package.yml
  examples/01-wsi-reading.ipynb
  requirements/requirements_dev.txt
  tests/conftest.py
  tests/test_notebooks.py
Due: pytest-changed-files, notebook-check-ast, notebook-markdown-format

:recycle: Refactor `Resolution` and `Units` (#598)
  examples/full-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: notebook-check-ast, notebook-markdown-format

:recycle: High Level `engines` Import (#607)
  tests/models/test_arch_micronet.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/semantic_segment.py
  tiatoolbox/models/__init__.py
Due: pytest-changed-files

🎨 Use zipfile To Test Zips & Fix Failing Tests
  tiatoolbox/utils/magic.py
  tiatoolbox/wsicore/wsireader.py
Due: none

🐛 Fix Passing Non-Existant File To is_ngff
  tiatoolbox/wsicore/wsireader.py
Due: none

✨ Add is_dcm
  tests/test_magic.py
  tiatoolbox/utils/magic.py
  whitelist.txt
Due: pytest-changed-files

✨ Add Arg To Allow Non-Existant Paths
  tests/test_magic.py
  tiatoolbox/utils/magic.py
Due: pytest-changed-files

🐛 Return False If Path Does Not Exist In is_ngff
  tiatoolbox/wsicore/wsireader.py
Due: none

✅ Add Tests
  tests/test_magic.py
Due: pytest-changed-files

✅ Add Tests
  tests/test_magic.py
  tiatoolbox/utils/magic.py
Due: pytest-changed-files

add get routes
  tests/test_tileserver.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:pushpin: Pin `torch` version - Pin `torch` version
  requirements/requirements.txt
Due: none

✅ Fix Test Creating Zarr Array
  tests/test_wsireader.py
Due: pytest-changed-files

✅ Add Missing test_
  tests/test_magic.py
Due: pytest-changed-files

📝 Add Line Breaks
  tests/test_wsireader.py
  tiatoolbox/utils/magic.py
Due: pytest-changed-files

:recycle: Refactor base code from IOSegmentorConfig to IOConfigABC - Refactor base code from IOSegmentorConfig to IOConfigABC
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
  whitelist.txt
Due: none

:recycle: No need for a separate function - No need for a separate function
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:technologist: Enable git workflow on this PR - Enable git workflow on this PR
  .github/workflows/python-package.yml
Due: none

:bug: Add missing variable - Add missing variable
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

✨ File Magic Detection & NGFF SQLite3 Support (#616)
  tests/test_magic.py
  tests/test_wsireader.py
  tiatoolbox/utils/magic.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

:art: Move `to_baseline` code to ABC - Move `to_baseline` code to ABC
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:art: Move `to_baseline` code to ABC - Move `to_baseline` code to ABC
  tiatoolbox/models/engine/engine_abc.py
Due: none

update routes
  tests/test_tileserver.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:bug: Fix incorrect calculations for output_resolutions - Fix incorrect calculations for output_resolutions
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:sparkles: Add `typing` to tiatoolbox - Add `typing` to tiatoolbox
  tiatoolbox/typing.py
  tiatoolbox/wsicore/wsimeta.py
Due: none

:sparkles: Import TypeHints from `tiatoolbox.typing` - Import TypeHints from `tiatoolbox.typing`
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/typing.py
  tiatoolbox/wsicore/wsireader.py
Due: none

update api yaml
  tiatoolbox/visualization/tileserver_api.yml
Due: none

reduce complexity
  tests/test_tileserver.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

deepsource fix
  tiatoolbox/utils/visualization.py
Due: none

add even more tests
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:art: Add Typehints for misc.py - Add Typehints for misc.py
  tiatoolbox/utils/misc.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
