Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:wrench: Set output type to annotationstore
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

fix deepsource
  tests/models/test_arch_efficientnetunet.py
  tests/models/test_arch_utils.py
  tiatoolbox/models/architecture/tissue_mask_model.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

fix deepsource
  tiatoolbox/models/architecture/tissue_mask_model.py
Due: none

address comments and rename
  tests/models/test_arch_efficientnetunet_tissue_mask_model.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
Due: pytest-changed-files

address comments
  tests/models/test_arch_utils.py
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

address comments
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
Due: none

:memo: Add image to `examples/README.md` for nucleus detection
  docs/images/nucleus_detection_classification.png
  examples/README.md
Due: none

:bug: Try OpenSlide Reader for tiff files first - Try OpenSlide Reader for tiff files first - Fallback to calculating objective power from mpp
  tests/test_tiffreader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: Use `make_safe_name`
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:bug: Fix path to annotationstore
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:white_check_mark: Update tests for coverage
  tests/test_tiffreader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

🆕 Add Support for `QuPath` Compatible Output (#995)
  tests/engines/test_engine_abc.py
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_nucleus_detection_engine.py
  tests/engines/test_patch_predictor.py
  tests/engines/test_semantic_segmentor.py
  tests/test_utils.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_detector.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

set persistent_workers for patch dataloader
  tiatoolbox/models/engine/engine_abc.py
Due: none

add .db handling to load annotations endpoint
  tiatoolbox/visualization/tileserver.py
Due: none

adjust test
  tests/test_app_bokeh.py
Due: pytest-changed-files

:memo: Update docstrings
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
Due: none

🆕 Add EfficientUnet Tissue Mask Model (#999)
  tests/models/test_arch_efficientnetunet_tissue_mask_model.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
Due: pytest-changed-files

:memo: Use intermediate ouptut for annotationstore and qupath tests
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:memo: Use intermediate output for annotationstore and qupath tests for single task segmentor
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:green_heart: Allow specifying mpp and power to engines for images with no metadata.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/wsicore/__init__.py
Due: pytest-changed-files

remove old dat handling
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:bug: Fix `EngineABC` tests
  tests/engines/test_engine_abc.py
  tiatoolbox/models/dataset/dataset_abc.py
Due: pytest-changed-files

:bug: Fix test for coverage
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

⏪ Revert `Bokeh` Tests for Compatibility with the New Engine Design (#1000)
  tests/test_app_bokeh.py
  tests/test_tileserver.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:bug: Add Tests for coverage
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add Tests for coverage
  tests/models/test_arch_timm_efficientnet.py
Due: pytest-changed-files

:bug: Fix deepsource errors
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:memo: Update notebook 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
  tiatoolbox/models/engine/semantic_segmentor.py
Due: notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
