Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

Fix stacked target child queries
  tests/models/test_training_targets.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files

Fix mixed stacked target interpolation
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/augmentations.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files, notebook-markdown-format

Add training artifact manifests
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/artifact.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files, notebook-markdown-format

Unify direct model weight loading
  tests/models/test_training.py
  tiatoolbox/models/models_abc.py
Due: pytest-changed-files

Polish training target validation
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/targets.py
  tiatoolbox/models/training/tasks.py
Due: pytest-changed-files, notebook-markdown-format

Support shared stacked target queries
  examples/15-training-kongnet-conic.ipynb
  examples/kongnet_conic_instance_postproc_qc.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files, notebook-markdown-format

Streamline training setup helpers
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/15-training-kongnet-conic.ipynb
  examples/README.md
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/trainer.py
  tiatoolbox/models/training/utils.py
Due: pytest-changed-files, notebook-markdown-format

Add patch annotation directory pairing
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training_targets.py
  tiatoolbox/models/training/datasets.py
Due: pytest-changed-files, notebook-markdown-format

Improve training artifact inference handoff
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/artifact.py
Due: pytest-changed-files, notebook-markdown-format

:pushpin: Update `ruff` version
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

🐛 Fix pip install workflow
  .github/workflows/pip-install.yml
Due: none

:bug: Replace `create_dataset` with `create_array`
  tiatoolbox/models/engine/deep_feature_extractor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:bug: Fix test_clear_zarr
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix chunksize 0 unsupported by zarr v3.2.0+
  tiatoolbox/models/engine/engine_abc.py
Due: none

add cerberus initial attempt
  tiatoolbox/annotation/__init__.py
  tiatoolbox/annotation/utils.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/__init__.py
  tiatoolbox/models/architecture/cerberus/__init__.py
  tiatoolbox/models/architecture/cerberus/backbone/__init__.py
  tiatoolbox/models/architecture/cerberus/backbone/densenet.py
  tiatoolbox/models/architecture/cerberus/backbone/dsf_cnn.py
  tiatoolbox/models/architecture/cerberus/backbone/mobilenet.py
  tiatoolbox/models/architecture/cerberus/backbone/resnet.py
  tiatoolbox/models/architecture/cerberus/backbone/unet_encoder.py
  tiatoolbox/models/architecture/cerberus/net_desc.py
  tiatoolbox/models/architecture/cerberus/postproc.py
  tiatoolbox/models/architecture/cerberus/utils/__init__.py
  tiatoolbox/models/architecture/cerberus/utils/conv_layers.py
  tiatoolbox/models/architecture/cerberus/utils/gconv_layers.py
  tiatoolbox/models/architecture/cerberus/utils/gconv_utils.py
  tiatoolbox/models/architecture/cerberus/utils/misc_utils.py
  tiatoolbox/models/architecture/cerberus/utils/net_layers.py
  tiatoolbox/models/models_abc.py
  tiatoolbox/wsicore/wsireader.py
Due: none

remove alternative architectures
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/cerberus/__init__.py
  tiatoolbox/models/architecture/cerberus/backbone/__init__.py
  tiatoolbox/models/architecture/cerberus/backbone/densenet.py
  tiatoolbox/models/architecture/cerberus/backbone/dsf_cnn.py
  tiatoolbox/models/architecture/cerberus/backbone/mobilenet.py
  tiatoolbox/models/architecture/cerberus/backbone/resnet.py
  tiatoolbox/models/architecture/cerberus/backbone/unet_encoder.py
  tiatoolbox/models/architecture/cerberus/net_desc.py
  tiatoolbox/models/architecture/cerberus/postproc.py
  tiatoolbox/models/architecture/cerberus/utils/__init__.py
  tiatoolbox/models/architecture/cerberus/utils/conv_layers.py
  tiatoolbox/models/architecture/cerberus/utils/gconv_layers.py
  tiatoolbox/models/architecture/cerberus/utils/gconv_utils.py
  tiatoolbox/models/architecture/cerberus/utils/misc_utils.py
  tiatoolbox/models/architecture/cerberus/utils/net_layers.py
Due: none

add test
  tests/models/test_arch_cerberus.py
Due: pytest-changed-files

:arrow_up: Upgrade Zarr to v3+ Compatibility (#904)
  .github/workflows/mypy-type-check.yml
  requirements/requirements.txt
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_nucleus_detection_engine.py
  tests/engines/test_semantic_segmentor.py
  tests/models/test_arch_micronet.py
  tests/models/test_models_abc.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/engine/deep_feature_extractor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_detector.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/graph.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/wsicore/__init__.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

restructure code
  tiatoolbox/models/architecture/cerberus/__init__.py
  tiatoolbox/models/architecture/cerberus/model.py
Due: none

:technologist: Increase timeout for Python 3.14
  tests/test_app_bokeh.py
Due: pytest-changed-files

add tests
  tests/models/test_arch_cerberus.py
  tests/test_annotation_utils.py
  tiatoolbox/models/architecture/cerberus/model.py
Due: pytest-changed-files

:technologist: Add a loop and wait for annotations
  tests/test_app_bokeh.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:technologist: Update multiprocessing start method
  tests/test_app_bokeh.py
Due: pytest-changed-files

:technologist: Move multiprocessing block to doc
  tests/test_app_bokeh.py
Due: pytest-changed-files

Corrected IOInstanceSegmentorConfig error for hovernet docs
  docs/pretrained.rst
Due: none

:technologist: Use threads instead of multiprocessing.
  tests/test_app_bokeh.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:fire: Remove uv.lock
  .gitignore
  uv.lock
Due: none

:fire: Remove requirements text files
  docs/requirements.txt
  requirements/requirements.txt
  requirements/requirements_cpu.txt
  requirements/requirements_dev.txt
Due: none

:construction: Update references to requirements
  .deepsource.toml
  pre-commit/missing_imports.py
  pyproject.toml
  setup.py
Due: none

:construction: Update conda requirements files
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
Due: none

:construction_worker: Update GitHub workflows
  .github/workflows/conda-env-create.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
Due: none

:construction: Update requirements_consistency script
  pre-commit/requirements_consistency.py
Due: none

:white_check_mark: Update uv setup test
  tests/test_uv_setup.py
Due: pytest-changed-files

:construction: Update readthedocs config
  .pre-commit-config.yaml
  .readthedocs.yml
Due: none

:memo: Include uv installation guide in readthedocs
  docs/installation.rst
Due: none

:memo: Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: none

:memo: Update README
  README.md
Due: none

:fire: Remove further references to requirements text files
  MANIFEST.in
  docs/conf.py
Due: none
