Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:memo: Update notebook 07-advanced-modeling.ipynb (#1003)
  examples/07-advanced-modeling.ipynb
  tiatoolbox/models/engine/semantic_segmentor.py
Due: notebook-markdown-format

only postprocess necessary tiles
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

inference in mask only
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

fix disjoint mask inference
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

[skip ci] :memo: Update `idars` notebook
  examples/inference-pipelines/idars.ipynb
Due: notebook-markdown-format

:green_heart: Improve Performance by Using Mask
  tests/engines/test_semantic_segmentor.py
  tests/models/test_dataset.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

update locs
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:children_crossing: Incorporate changes from #1007 - Add canvas width to merge horizontal
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:green_heart: Improve mask based multi-task segmentation
  tests/engines/test_multi_task_segmentor.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:bug: Fix patch output tests
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix micronet test
  tests/models/test_arch_micronet.py
  tiatoolbox/models/architecture/micronet.py
Due: pytest-changed-files

:white_check_mark: Update tile based instance prediction
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix offset in nucleus_detector.py
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

:memo: Update docstrings for patch_predictor.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:white_check_mark: Add tests for coverage
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix disappearing annotations
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:ambulance: Use multiprocessing cpu count by default
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:white_check_mark: Add test for _process_instance_predictions
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

[skip ci] :memo: Update slide-graph.ipynb full pipeline
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

:arrow_up: Update cuda dependency
  setup.py
Due: none

:bug: Update `engine_module`
  tests/engines/test_engine_abc.py
  tiatoolbox/models/architecture/__init__.py
Due: pytest-changed-files

:bug: Fix `engines_module` import in test_multi_task_segmentor.py
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:pushpin: Update ruff version
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:recycle: Rename `pad_width` to `da_pad_width`
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/engines/multi_task_segmentor.py
  tiatoolbox/models/engines/semantic_segmentor.py
Due: none

:bug: Fix broken output in tile-processing
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/engines/multi_task_segmentor.py
Due: none

:green_heart: Improve Performance Using Mask (#1006)
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_nucleus_detection_engine.py
  tests/engines/test_semantic_segmentor.py
  tests/models/test_arch_micronet.py
  tests/models/test_dataset.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engines/engine_abc.py
  tiatoolbox/models/engines/multi_task_segmentor.py
  tiatoolbox/models/engines/nucleus_detector.py
  tiatoolbox/models/engines/semantic_segmentor.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:rocket: Add estimation of mpp and objective power for all the readers
  tests/test_tiffreader.py
  tiatoolbox/utils/misc.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:fire: Remove github actions from dev-define-engines-abc branch
  .github/workflows/mypy-type-check.yml
  .github/workflows/python-package.yml
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
