Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

Altering contrast_enhancer to use rust
  Cargo.toml
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

Update patch_predictions_as_qupath_json to use rust code
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

:white_check_mark: Optimise `test_arch_sam` (#1120)
  tests/models/test_arch_sam.py
  tiatoolbox/models/architecture/sam.py
Due: pytest-changed-files

:alembic: Add Experimental Dynamic `OpenLayers` based Viewer (#1115)
  tests/test_tileserver.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/show_wsi.py
  tiatoolbox/cli/visualize_beta.py
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.css
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.js
  tiatoolbox/data/visualization/templates/index_legacy.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/package.json
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/main_legacy.js
  tiatoolbox/visualization/openlayers/src/style_legacy.css
  tiatoolbox/visualization/openlayers/vite.legacy.config.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Editing patch_predictions_as_annotations to use rust code
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

In rust created library equilviant to json.dump
  Cargo.toml
  tiatoolbox/rust-library/lib.rs
Due: none

Changes to Overview, viewport and making buttons consistent
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Updated patch predictions as annotations to have preds of type f64
  tiatoolbox/rust-library/lib.rs
Due: none

Corrected types on patch_predictions_as_annotations
  Cargo.toml
  tiatoolbox/rust-library/lib.rs
Due: none

Corrected types on patch-predictions-as-qupath-json
  tiatoolbox/rust-library/lib.rs
Due: none

Fix TypeError: object of type 'Array' has no len() in examples 05 and 09 (#1122)
  examples/05-patch-prediction.ipynb
  examples/09-multi-task-segmentation.ipynb
Due: notebook-markdown-format

Corrected misc.py for types
  tiatoolbox/utils/misc.py
Due: none

Changes to allow loading of multiple overlays at the same time and improvement of layers button
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/tileserver.py
Due: none

:new: Add SegFormer Architecture (#1085)
  pyproject.toml
  tests/models/test_arch_segformer.py
  tests/models/test_arch_timm_efficientnet.py
  tests/models/test_arch_utils.py
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/segformer.py
  tiatoolbox/models/architecture/segformer_hf.py
  tiatoolbox/models/architecture/timm_efficientnet.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

:white_check_mark: Optimise `test_app_bokeh`
  tests/test_app_bokeh.py
Due: pytest-changed-files

Updated patch_predictions_as_annotations
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

Small change to have consistent text colour
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Seperate projection for empty viewer
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Corrected to find mypy error
  tiatoolbox/__init__.py
Due: none

Changed name from miscrust to rust-misc
  Cargo.toml
  benchmarks/implementing_misc_in_rust.ipynb
  pyproject.toml
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: notebook-markdown-format

Added benchmarking
  benchmarks/implementing_misc_in_rust.ipynb
Due: notebook-markdown-format

Corrected to fix mypy error
  tiatoolbox/rust_misc.pyi
Due: none

:sparkles: Improve Experimental `OpenLayers` Viewer (#1124)
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

[skip ci] :memo: Fix 11-import-foundation-models name
  examples/11-import-foundation-models.ipynb
Due: notebook-markdown-format

[skip ci] :memo: Fix `11-import-foundation-models` Name (#1125)
  examples/11-import-foundation-models.ipynb
Due: notebook-markdown-format

Corrected types error
  tiatoolbox/__init__.py
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

Added the full name of slide when you hover over
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Fixing removing layers and adding tests
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: pytest-changed-files

Small fixes to annotation name
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Edited so that json.dump using rust instead of python
  Cargo.toml
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  benchmarks/implementing_misc_in_rust.ipynb
  pyproject.toml
  tiatoolbox/__init__.py
  tiatoolbox/rmisc.pyi
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: notebook-markdown-format

Removed rust code from tiatoolbox/utils
  tiatoolbox/utils/misc.py
Due: none

Edited contrast_enhancer to use rust code
  tiatoolbox/utils/misc.py
Due: none

Updated benchmarking
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

WIP loading slides from the folder panel and fixes to folder panel too.
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/tileserver.py
Due: none

Added new tests to cover all branches
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  tests/test_utils.py
Due: pytest-changed-files, notebook-markdown-format

Changes to layout of buttons
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Updated test_utils to include a new test for contrast enhancer
  tests/test_utils.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
