Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

remove redundant code
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

:construction: Minor changes to patch output
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

:construction: Rearrange order of tests
  tests/engines/test_nucleus_detection_engine.py
Due: pytest-changed-files

:construction: Add __init__
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

:memo: Update docstrings for module and functions
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

🐛 Bug fix for model/module assumption - implement helper logic to acces model attributes regardless of DataParallel wrapping
  tiatoolbox/models/engine/deep_feature_extractor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

update docstring
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

add cli
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nuclues_detector.py
  tiatoolbox/models/__init__.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

:pencil2: Fix typos and minor issues
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/nucleus_detector.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

:bug: Fix pre-commit errors
  examples/05-patch-prediction.ipynb
  pre-commit/notebook_markdown_format.py
  tiatoolbox/models/engine/engine_abc.py
Due: notebook-markdown-format

:white_check_mark: Add test for a tile image
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:white_check_mark: Fix rendering issues
  examples/05-patch-prediction.ipynb
Due: notebook-markdown-format

:rewind: Revert changes to multi_task_segmentor.py and nucleus_instance_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
Due: none

:art: Improve Jupyter Notebook output
  examples/05-patch-prediction.ipynb
  requirements/requirements.txt
Due: notebook-markdown-format

:technologist: Update .readthedocs.yml to install cpu version of torch for speed up
  .readthedocs.yml
Due: none

[skip ci] :bug: Fix yaml file
  .readthedocs.yml
Due: none

Revert "[skip ci] :bug: Fix yaml file"
  .readthedocs.yml
Due: none

[skip ci] :bug: Update docs/requirements
  .readthedocs.yml
  docs/requirements.txt
Due: none

:fire: Remove openslide-tools and update config
  .readthedocs.yml
  docs/requirements.txt
  requirements/requirements.txt
Due: none

:technologist: Install torch GPU by default
  .readthedocs.yml
  docs/requirements.txt
  requirements/requirements.txt
  requirements/requirements_cpu.txt
Due: none

:technologist: Update `.readthedocs.yml` to Install CPU Version only (#979)
  .readthedocs.yml
  requirements/requirements.txt
  requirements/requirements_cpu.txt
Due: none

initial update
  examples/nucleus-detection.ipynb
  test.py
  tests/models/test_arch_kongnet.py
  tests/models/test_arch_utils.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files, notebook-markdown-format

🐛 Small fix
  tiatoolbox/models/engine/engine_abc.py
Due: none

update WSI postprocessing
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nucleus_detector.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

remove unused code
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/cli/nucleus_detector.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

remove unnecessary logging
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

🔨 Fix TileServer issues on `macOS` (#976)
  tests/conftest.py
  tests/test_app_bokeh.py
  tests/test_json_config_bokeh.py
  tests/test_server_bokeh.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/visualization/bokeh_app/app_hooks.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:white_check_mark: Address review comments
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/models/engine/nucleus_detector.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

replace cache_dir with temp dir
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nucleus_detector.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

merge nucleus_detector
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

Use dask python lib
  requirements/requirements.txt
Due: none

use save_path for cache
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/nucleus_detector.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

fix test
  tests/engines/test_engine_abc.py
Due: pytest-changed-files
