Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:bug: Add `--system` flag
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
Due: none

:bug: Remove space in the name.
  pyproject.toml
Due: none

:bug: Fix `fetch_depth`
  .github/workflows/pip-install.yml
Due: none

:bug: Fix notebook_urls.py
  pre-commit/notebook_urls.py
Due: none

:bug: Fix `REF` for GITHub Actions
  .github/workflows/pip-install.yml
Due: none

:memo: Update Installation docs
  docs/installation.rst
Due: none

Potential fix for code scanning alert no. 6: Failure to use secure cookies
  tiatoolbox/visualization/tileserver.py
Due: none

Add KongNet CoNIC instance post-processing
  examples/15-training-kongnet-conic.ipynb
  examples/kongnet_conic_instance_postproc_qc.py
  tests/models/test_arch_kongnet.py
  tiatoolbox/models/architecture/kongnet.py
Due: pytest-changed-files, notebook-markdown-format

fix mypy errors
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/transforms.py
Due: none

:bug: Fix missing mask for contours
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:hammer: Use `skip` for follow imports
  .github/workflows/mypy-type-check.yml
Due: none

fix mypy type errors
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/graph.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/transforms.py
Due: none

:hammer: Mark s3 test for NGFF as expected to fail - This test is expected to fail depending on external source being available.
  tests/test_wsireader.py
Due: pytest-changed-files

:bug: Fix deepsource error
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix deepsource error cyclomatic complexity too high.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix instance test with zarr.Array
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add tests for coverage
  tests/test_utils.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:white_check_mark: Add tests for wsireader coverage
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:white_check_mark: Add tests for multi_task_segmentor coverage
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:fire: Remove dtype object check
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix "store" attribute error with dictionary
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bulb: Address Co-Pilot comments
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bulb: Address Co-Pilot comments
  tiatoolbox/wsicore/wsireader.py
Due: none

:white_check_mark: Add tests to improve coverage
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add tests to improve coverage
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:technologist: Address quality check issues
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix JSON outputs - Validate Shapely objects before saving to JSON based outputs.
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: none

:pencil2: Use links to stable version instead of develop
  README.md
Due: none

:rewind: Revert changes to multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: none

fix geom using buffer 0
  test.py
  tiatoolbox/utils/misc.py
Due: none

remove test.py file
  test.py
Due: none

:bug: Use make_valid_poly to fix the annotation
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix Invalid Geometry in JSON Outputs (#1057)
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix pip install workflow
  .github/workflows/pip-install.yml
Due: none

:sparkles: Add basic uv support
  pyproject.toml
  uv.lock
Due: none

:white_check_mark: Add uv install test
  tests/test_uv_setup.py
Due: pytest-changed-files

:memo: Update README with uv install steps
  README.md
Due: none

:memo: Remove "recommended" from uv install section
  README.md
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
