Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

Removed unused import
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Filter unsupported files
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Update README
  tiatoolbox/visualization/openlayers/README.md
Due: none

Fix github ai problems
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

More tests for codecov coverage
  tests/test_tileserver.py
Due: pytest-changed-files

Updated benchmarking
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  benchmarks/comparing_multitask_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

Added new tests for rmultitask
  tests/test_rust.py
Due: pytest-changed-files

Added new tests for rmultitask
  tests/test_rust.py
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: pytest-changed-files

removed unneccessary variable
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Added new rmultitask test
  tests/test_rust.py
Due: pytest-changed-files

Updated formatting of rmultitask
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Improved testing for rmultitask
  tests/test_rust.py
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: pytest-changed-files

Improved tests
  tests/test_rust.py
Due: pytest-changed-files

Changed name of the module
  pyproject.toml
  tests/test_misc.rs
  tests/test_rust.py
  tiatoolbox/rust-library/misc/Cargo.toml
  tiatoolbox/rust-library/misc/src/lib.rs
  tiatoolbox/rust-library/multitask/Cargo.toml
  tiatoolbox/rust-library/multitask/src/lib.rs
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

Seeing if mypy checks are working
  tiatoolbox/rmisc.pyi
Due: none

Seeing if mypy checks are working
  tiatoolbox/__init__.py
Due: none

Corrected to have mypy checks working
  Cargo.toml
  pyproject.toml
  tiatoolbox/rust/utils/misc/Cargo.toml
  tiatoolbox/rust/utils/misc/__init__.pyi
  tiatoolbox/rust/utils/misc/src/lib.rs
Due: none

Mypy check should fail
  tiatoolbox/rust/utils/misc/__init__.pyi
Due: none

Undo last commit
  tiatoolbox/rust/utils/misc/__init__.pyi
Due: none

Automatically load first slide when starting session
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

:new: Add File Loading in Experimental `OpenLayers` Viewer (#1128)
  tests/test_cli.py
  tests/test_tileserver.py
  tests/test_visualize_beta.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/cli/visualize_beta.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Add settings to experimental OpenLayers viewer
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Extract OpenLayers utility helpers
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/colours.js
  tiatoolbox/visualization/openlayers/src/utils/paths.js
Due: none

Extract OpenLayers file select component
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/components/file-select.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers TileServer API
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers scale bar control
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/controls/scale-bar.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers scale bar control
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/controls/overview-map.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers map controls
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/controls/map-controls.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers grid controls
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/controls/grid.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Extract OpenLayers Layers panel
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/layers.js
Due: none

Extract OpenLayers Files panel
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/files.js
Due: none

Extract OpenLayers Settings panel
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
Due: none

Split OpenLayers viewer styles into modules
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/openlayers/src/styles/base.css
  tiatoolbox/visualization/openlayers/src/styles/controls.css
  tiatoolbox/visualization/openlayers/src/styles/files.css
  tiatoolbox/visualization/openlayers/src/styles/layers.css
  tiatoolbox/visualization/openlayers/src/styles/overview-map.css
  tiatoolbox/visualization/openlayers/src/styles/panels.css
  tiatoolbox/visualization/openlayers/src/styles/settings.css
  tiatoolbox/visualization/openlayers/src/styles/states.css
Due: none

Simplify OpenLayers viewer entry point
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
Due: none
