Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

✅ Use Smaller JP2 for Some Tests
  tests/test_wsireader.py
  tiatoolbox/data/remote_samples.yaml
Due: pytest-changed-files

🚚 Rename OmnyxJP2Reader -> JP2Reader
  tests/test_patch_extraction.py
  tests/test_slide_thumbnail.py
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bookmark: Release v1.4.1 (#662)
  .github/workflows/docker-publish.yml
  CITATION.cff
  HISTORY.md
  setup.py
  tiatoolbox/__init__.py
Due: none

🧪 Swap Other Tests To Small JP2
  tests/conftest.py
  tests/test_wsireader.py
  tiatoolbox/utils/image.py
Due: pytest-changed-files

🔥 Remove Unused Method
  tiatoolbox/enums.py
Due: none

✅ Add No Cover
  tiatoolbox/annotation/storage.py
Due: none

[skip ci] :rotating_light: Add `ruff` Checks 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add `ruff` Checks 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add `ruff` Checks 07-advanced-modeling.ipynb (#664)
  examples/07-advanced-modeling.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

✅ Add Annotation Tests
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

✅ Add Annotation Tests
  tests/test_annotation_stores.py
Due: pytest-changed-files

✅ Add Equality Test
  tests/test_annotation_stores.py
Due: pytest-changed-files

📝 Docstring Update
  tests/test_annotation_stores.py
Due: pytest-changed-files

🚧 Remove JP2 Raw WSIMeta
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix `test_points_patch_extractor_jp2`
  tests/test_patch_extraction.py
Due: pytest-changed-files

✅ Update Slide Info Test For New Image
  tests/test_slide_info.py
Due: pytest-changed-files

✅ Replace Occurence of test1 with CMU-1-Small-Region.omnyx
  tests/test_tissuemask.py
Due: pytest-changed-files

🔥 Remove Bad Change To safe_padded_read
  tiatoolbox/utils/image.py
Due: none

✅ Replace Occurences of test.jp2 with CMU-1-Small-Region.omny.jp2
  tests/test_wsireader.py
Due: pytest-changed-files

🐛 Set SSIM win_size <= Image Size
  tests/test_wsireader.py
Due: pytest-changed-files

✅ Update Test for Appending Invalid Geometry Type
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

✅ Update Tests for Rendering Unknown Geometry
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
Due: pytest-changed-files

✅ Update MultiPolygon Rendering
  tests/test_annotation_tilerendering.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

📝 Missing Newline
  tiatoolbox/annotation/storage.py
Due: none

🐛 Parse JP2 Boxes By ID Not Position (#651)
  tests/conftest.py
  tests/test_patch_extraction.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_tissuemask.py
  tests/test_wsireader.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/utils/misc.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

[skip ci] :rotating_light: Update README.md
  README.md
Due: none

[skip ci] :rotating_light: Update 01-wsi-reading.ipynb
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

:recycle: Creating a new object is not required.
  tiatoolbox/models/engine/io_config.py
Due: none

:recycle: Move output_resolution in to_baseline to ModelIOConfig.
  tiatoolbox/models/engine/io_config.py
Due: none

[skip ci] :memo: Update documentation
  tiatoolbox/models/engine/io_config.py
Due: none
