Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/psf/black
    rev: 23.11.0 # Replace with any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.+
        additional_dependencies: ['click==8.0.4']  # Currently >8.0.4 breaks black
      - id: black-jupyter
        language: python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]

:white_check_mark: Add test to reset logger filters. - Logger filters need to be reset at the start of run. This is required if a failed test with logs is run in another pytest.
  tests/test_annotation_stores.py
  tests/test_init.py
Due: pytest-changed-files

:white_check_mark: Add test to reset logger filters. (#827)
  tests/test_annotation_stores.py
  tests/test_init.py
Due: pytest-changed-files

:rewind: Add duplicate filter.
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix tests using duplicate filters.
  tests/test_annotation_stores.py
  tests/test_init.py
Due: pytest-changed-files

:bug: Fix tests using duplicate filters.
  tests/test_annotation_stores.py
Due: pytest-changed-files

fix read_rect
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/wsicore/wsireader.py
Due: none

fix typo
  tests/test_wsireader.py
  tiatoolbox/utils/postproc_defs.py
Due: pytest-changed-files

✅ Replace test with a level consistency test
  tests/test_wsireader.py
Due: pytest-changed-files

deepsource
  tiatoolbox/wsicore/wsireader.py
Due: none

✅ Remove test and update sample OME image paths
  tests/conftest.py
  tests/test_tiffreader.py
  tests/test_wsireader.py
  tiatoolbox/data/remote_samples.yaml
Due: pytest-changed-files

get colors from metadata if poss.
  tiatoolbox/utils/postproc_defs.py
  tiatoolbox/wsicore/wsireader.py
Due: none

deepsource
  tiatoolbox/utils/postproc_defs.py
Due: none

:pushpin: Pin `ruff` versions
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:recycle: Address review comments
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:rewind: Revert unwanted changes.
  pre-commit/notebook_urls.py
Due: none

:bug: Fix changes due to `0.5.0` version
  tests/test_init.py
Due: pytest-changed-files

:bug: Fix changes due to `0.5.0` version
  tiatoolbox/utils/env_detection.py
Due: none

:bug: Fix changes due to `0.5.0` version
  benchmarks/annotation_store_alloc.py
Due: none

:bug: Fix changes due to `0.5.0` version
  benchmarks/annotation_store.ipynb
Due: notebook-markdown-format

:bug: Fix changes due to `0.5.0` version
  tiatoolbox/data/__init__.py
Due: none

:bug: Fix changes due to `0.5.0` version
  pre-commit/requirements_consistency.py
Due: none

:white_check_mark: Adding test for mutli_channel visualisation
  tests/test_wsireader.py
  tiatoolbox/utils/postproc_defs.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

replace depreciated funcTickFormatter
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

[skip ci] :memo: Fix indentation.
  tests/test_wsireader.py
Due: pytest-changed-files

🐛 Fix `TIFFWSIReader` `read_bound` (#777)
  tests/conftest.py
  tests/test_tiffreader.py
  tests/test_wsireader.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:white_check_mark: Adding test for mutli_channel visualisation
  tests/test_wsireader.py
Due: pytest-changed-files

fix type errors
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/transforms.py
Due: none

:pushpin: Pin bokeh to less than 3.5.0 due to incompatibility.
  requirements/requirements.txt
Due: none

:pushpin: Pin bokeh to less than 3.5.0 due to incompatibility. (#830)
  requirements/requirements.txt
Due: none

fix error
  tiatoolbox/utils/transforms.py
Due: none

compatibility for bokeh 3.5
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:pushpin: Pin `bokeh` dependency to `>3.5.0`
  requirements/requirements.txt
Due: none

Update requirements.txt
  requirements/requirements.txt
Due: none

📌 Fix Compatibility with `bokeh` Version `3.5.0` (#832)
  requirements/requirements.txt
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:pushpin: Pin `ruff` to `0.5.1`.
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:bug: Fix bug related to default values of resolution and units.
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/utils/misc.py
Due: none

🐛 Add `mypy` Type Check `tools/wsi_registration.py` (#831)
  tiatoolbox/tools/registration/wsi_registration.py
Due: none
