Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:memo: Fix docstring
  tests/test_uv_setup.py
Due: pytest-changed-files

:white_check_mark: Add tests for `infer_wsi`
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:technologist: Optimise `SemanticSegmentor` Tests for CI Runs (#1101)
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:technologist: Optimise `MultiTaskSegmentor` Tests
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add potential fix for Windows uv sync issue
  setup.py
Due: none

:hammer: Fix version to 2.1.3
  pyproject.toml
Due: none

:technologist: Optimise `NucleusInstanceSegmentor` Tests - `NucleusInstanceSegmentor` is based on `MultiTaskSegmentor`, therefore updating it in this PR
  tests/engines/test_nucleus_instance_segmentor.py
Due: pytest-changed-files

Add DeepSpot-M model (H&E -> virtual spatial transcriptomics)
  tests/models/test_arch_deepspotm.py
  tiatoolbox/models/__init__.py
  tiatoolbox/models/architecture/deepspotm.py
Due: pytest-changed-files

test: cover tensor-batch path in DeepSpotM.infer_batch
  tests/models/test_arch_deepspotm.py
Due: pytest-changed-files

feature add: MC-Dropout uncertainty estimation
  .gitignore
  tests/test_mc_dropout_units.py
  tiatoolbox/models/architecture/bayesian_wrapper.py
  tiatoolbox/models/engine/mc_dropout.py
  tiatoolbox/models/engine/uncertainty.py
Due: pytest-changed-files

fix: apply ruff formatting and precommit tests
  tests/test_mc_dropout_units.py
  tiatoolbox/models/architecture/bayesian_wrapper.py
  tiatoolbox/models/engine/mc_dropout.py
  tiatoolbox/models/engine/uncertainty.py
Due: pytest-changed-files

:heavy_plus_sign: Add `pysqlite3` as a dependency
  requirements/requirements.txt
Due: none

:pushpin: Pin `sqlite3` version
  requirements/requirements.txt
Due: none

:memo: Add DeepSpot-M inference-pipeline notebook
  docs/images/deepspotm.png
  examples/README.md
  examples/inference-pipelines/deepspotm.ipynb
Due: notebook-markdown-format

:sparkles: Add a deepspotm extras entry now that it is on PyPI
  examples/inference-pipelines/deepspotm.ipynb
  setup.py
  tiatoolbox/models/architecture/deepspotm.py
Due: notebook-markdown-format

:memo: Remove uv instructions from README
  README.md
Due: none

:memo: Add openjpeg and sqlite step to README
  README.md
Due: none

some minor updates to notebook
  examples/inference-pipelines/deepspotm.ipynb
Due: notebook-markdown-format

change example wsi
  examples/inference-pipelines/deepspotm.ipynb
Due: notebook-markdown-format

bug fix
  tiatoolbox/data/pretrained_model.yaml
Due: none

bug fix in line 343 for duplicate entry
  tiatoolbox/data/pretrained_model.yaml
Due: none

:pushpin: Update dependencies
  pyproject.toml
Due: none

:pushpin: Update dependencies
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

♻️ Refactor `WSIReader.open` (#1092)
  tests/test_tiffreader.py
  tests/test_wsireader.py
  tiatoolbox/wsicore/__init__.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/detection.py
  tiatoolbox/wsicore/wsireader/factory.py
  tiatoolbox/wsicore/wsireader/types.py
Due: pytest-changed-files

:bug: Fix ISC004 Unparenthesized implicit string concatenation in collection
  tiatoolbox/wsicore/wsireader/base.py
Due: none

:bug: Fix PLR0917 Too many positional arguments (18 > 10)
  tiatoolbox/cli/deep_feature_extractor.py
Due: none

:bug: Fix PLR0917 Too many positional arguments (18 > 10)
  tiatoolbox/cli/multitask_segmentor.py
  tiatoolbox/cli/nucleus_detector.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/semantic_segmentor.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/visualization.py
Due: none

:technologist: Add uv setup workflow (#1058)
  .deepsource.toml
  .github/workflows/conda-env-create.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  CONTRIBUTING.rst
  MANIFEST.in
  README.md
  docs/conf.py
  docs/installation.rst
  docs/requirements.txt
  pre-commit/missing_imports.py
  pre-commit/requirements_consistency.py
  pyproject.toml
  requirements/generate_conda_env.py
  requirements/requirements.conda.yml
  requirements/requirements.txt
  requirements/requirements_cpu.txt
  requirements/requirements_dev.txt
  setup.py
  tests/test_utils.py
  tests/test_uv_setup.py
Due: pytest-changed-files

:bug: Fix Deepsource errors
  tiatoolbox/utils/image.py
Due: none

:pushpin: Update `ruff` version
  pyproject.toml
Due: none

:recycle: Move `pysqlite3` to pyproject.toml
  pyproject.toml
Due: none

Move OpenLayers template into visualization package
  MANIFEST.in
  tiatoolbox/visualization/openlayers/__init__.py
  tiatoolbox/visualization/openlayers/templates/index.html
  tiatoolbox/visualization/tileserver.py
Due: none

:bug: Fix DICOMWSIReader import
  tiatoolbox/wsicore/wsireader/factory.py
Due: none

:new: Add DeepSpot-M model (H&E → virtual spatial transcriptomics) (#1103)
  docs/images/deepspotm.png
  examples/README.md
  examples/inference-pipelines/deepspotm.ipynb
  setup.py
  tests/models/test_arch_deepspotm.py
  tiatoolbox/models/__init__.py
  tiatoolbox/models/architecture/deepspotm.py
Due: pytest-changed-files, notebook-markdown-format

:fire: Remove requirements.txt
  requirements/requirements.txt
  requirements/requirements_dev.txt
Due: none

:bug: Add ".dicom" in dicom suffixes
  tiatoolbox/wsicore/wsireader/detection.py
Due: none

:bug: Use WsiDicom to detect dicom
  tiatoolbox/wsicore/wsireader/detection.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
