Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

[skip ci] DOC: Remove cells from documentation in 03-tissue-masking.ipynb - Remove cells from documentation in 03-tissue-masking.ipynb
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove cells from documentation in 05-patch-prediction.ipynb - Remove cells from documentation in 05-patch-prediction.ipynb
  examples/05-patch-prediction.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove colab tags in 01-wsi-reading.ipynb - Remove colab tags in 01-wsi-reading.ipynb
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove colab tags in 01-wsi-reading.ipynb - Remove colab tags in 01-wsi-reading.ipynb
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove colab tags in 05-patch-prediction.ipynb - Remove colab tags in 05-patch-prediction.ipynb
  examples/05-patch-prediction.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Set 05-patch-prediction.ipynb for dark mode - Set 05-patch-prediction.ipynb for dark mode
  examples/05-patch-prediction.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove cell ON_GPU in 05-patch-prediction.ipynb - Remove cell ON_GPU in 05-patch-prediction.ipynb
  examples/05-patch-prediction.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove cells in 07-advanced-modeling.ipynb - Remove cells in 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Hide output in 07-advanced-modeling.ipynb - Hide output in 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Add heading for basic functionalities and pipelines - Add heading for basic functionalities and pipelines
  docs/notebooks.rst
Due: none

[skip ci] REV: Revert changes in notebooks.rst - Revert changes in notebooks.rst
  docs/notebooks.rst
Due: none

[skip ci] DOC: Restructure Jupyter notebook docs - Restructure Jupyter notebook docs
  docs/basic_functionalities.rst
  docs/conf.py
  docs/index.rst
  docs/jnb_pipelines.rst
  docs/notebooks.rst
Due: none

[skip ci] DOC: Remove cells in idars.ipynb - Remove cells in idars.ipynb
  examples/inference-pipelines/idars.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Update idars.ipynb for white background. - Update idars.ipynb for white background.
  examples/inference-pipelines/idars.ipynb
Due: notebook-check-ast, notebook-markdown-format

translate_db -> transform_db
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

BUG: Fix bug from deepsource
  tiatoolbox/models/architecture/nuclick.py
Due: none

BUG: fix bug from deepsource
  tests/models/test_arch_nuclick.py
Due: pytest-changed-files

Update nuclick.py
  tiatoolbox/models/architecture/nuclick.py
Due: none

attempt to fix colorbar test bug
  tiatoolbox/utils/visualization.py
Due: none

attempt to fix colorbar test bug v2
  tiatoolbox/utils/visualization.py
Due: none

BUG: remove redundant plt usage
  tests/models/test_arch_nuclick.py
Due: pytest-changed-files

fix the colorbar bug in testing
  tiatoolbox/utils/visualization.py
Due: none

[skip ci] DOC: Update `examples/README.md`. - Update `examples/README.md`.
  docs/installation.rst
  examples/README.md
Due: none

small test additions
  tests/test_annotation_stores.py
Due: pytest-changed-files
