Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

:pencil2: Fix typo
  tests/test_app_bokeh.py
Due: pytest-changed-files

:recycle: Use track_tmp_path for deletion at the end of test run
  tests/test_app_bokeh.py
Due: pytest-changed-files

:lock: Failure to use secure cookies
  tiatoolbox/visualization/tileserver.py
Due: none

:technologist: skip `test_module_level_do_doc_true` on CI.
  tests/test_app_bokeh.py
Due: pytest-changed-files

:zap: Improve Metadata Handling for WSI Readers (#1001)
  tests/engines/test_engine_abc.py
  tests/test_patch_extraction.py
  tests/test_tiffreader.py
  tests/test_tileserver.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/utils/misc.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:technologist: skip `test_module_auto_setup_doc` on CI.
  tests/test_app_bokeh.py
Due: pytest-changed-files

🆕 Simplified `SAM` Segmentation in `TIAViz` (#968)
  requirements/requirements.txt
  tests/engines/test_semantic_segmentor.py
  tests/models/test_arch_grandqc.py
  tests/models/test_arch_sam.py
  tests/test_app_bokeh.py
  tests/test_pyramid.py
  tests/test_server_bokeh.py
  tests/test_tileserver.py
  tests/test_tileserver_channels.py
  tests/test_utils.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/__init__.py
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/sam.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/prompt_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/utils/misc.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:bug: Test if zarr_group is None before deletion
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:wastebasket: Clean up after run
  tiatoolbox/models/engine/engine_abc.py
Due: none

:art: Fix `tqdm` Progress Bar on Colab
  examples/03-tissue-masking.ipynb
Due: notebook-markdown-format

:art: Fix `tqdm` Progress Bar on Colab
  examples/07-advanced-modeling.ipynb
Due: notebook-markdown-format

:bookmark: Bump up version to `2.0.0`
  .github/workflows/docker-publish.yml
  CITATION.cff
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:bookmark: Update Copyright year
  LICENSE
  docs/conf.py
Due: none

:pushpin: Pin library versions in requirements.txt
  requirements/requirements.txt
Due: none
