Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

improve train notebooks
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_arch_kongnet.py
  tiatoolbox/models/architecture/kongnet.py
Due: pytest-changed-files, notebook-markdown-format

:pencil2: Fix `docs/pretrained.rst file` (#1062)
  docs/pretrained.rst
Due: none

:rotating_light: Fix ruff linter error
  tests/test_uv_setup.py
Due: pytest-changed-files

:rotating_light: Fix DeepSource errors
  tests/test_uv_setup.py
Due: pytest-changed-files

:technologist: Update conda env workflow
  .github/workflows/conda-env-create.yml
  requirements/__init__.py
  requirements/generate_conda_env.py
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
Due: none

:technologist: Add openslide
  requirements/generate_conda_env.py
Due: none

:bug: Fix bugs in the workflow
  .github/workflows/conda-env-create.yml
  requirements/generate_conda_env.py
Due: none

:bug: Fix deepsource error
  requirements/generate_conda_env.py
Due: none

:bug: Fix test_dsl.py
  tests/test_dsl.py
Due: pytest-changed-files

:bug: Fix conda-env-create.yml
  .github/workflows/conda-env-create.yml
Due: none

🆙 Add `Python 3.14` Support (#1035)
  .github/workflows/conda-env-create.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  docs/installation.rst
  requirements/__init__.py
  requirements/generate_conda_env.py
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
  tests/test_app_bokeh.py
  tests/test_dsl.py
Due: pytest-changed-files

:pushpin: Fix to correct versions of zarr and tifffile
  pyproject.toml
Due: none

:hammer: Update generate_conda_env.py to use pyproject.toml
  requirements/generate_conda_env.py
Due: none

:pushpin: Bump version to `2.1.0`
  .github/workflows/docker-publish.yml
  CITATION.cff
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:pushpin: Update dependencies
  requirements/requirements.txt
Due: none

:memo: Update HISTORY.md and AUTHORS.md
  AUTHORS.md
  HISTORY.md
Due: none

Revert ":pushpin: Update dependencies"
  requirements/requirements.txt
Due: none

🔖 Release 2.1.0 (#1065)
  .github/workflows/docker-publish.yml
  AUTHORS.md
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:hammer: Add Python 3.14 docker
  .github/workflows/docker-publish.yml
Due: none

:technologist: Add simsimd as a dependency
  requirements/requirements.txt
Due: none

add Dockerfile(s)
  docker/3.14/Debian/Dockerfile
  docker/3.14/Ubuntu/Dockerfile
Due: none

:bookmark: Update repo version in pyproject.toml
  pyproject.toml
Due: none

:coffin: Remove outdated python version check
  tests/test_uv_setup.py
Due: pytest-changed-files

halo postproc
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

address copilot comments
  .github/workflows/docker-publish.yml
  docker/3.14/Debian/Dockerfile
  requirements/requirements.txt
Due: none

:hammer: Add Python 3.14 docker (#1066)
  .github/workflows/docker-publish.yml
  docker/3.14/Debian/Dockerfile
  docker/3.14/Ubuntu/Dockerfile
  requirements/requirements.txt
Due: none

fix broken margin behaviour
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

modified fcn_resnet50_unet-bcss ignore_index as 0 is for tumour, causing annotation store writing to ignore tumour class entirely.
  tiatoolbox/data/pretrained_model.yaml
Due: none

:pushpin: Update sphinx-toolbox to match with sphinx v9.0.0
  docs/requirements.txt
Due: none

:pushpin: Update `Sphinx>=9.0` (#1050)
  README.md
  docs/requirements.txt
  requirements/requirements.txt
Due: none

update class dict for UNet and EUnet
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/unet.py
Due: none

add class dict to UNet
  tests/engines/test_semantic_segmentor.py
  tests/models/test_arch_efficientnetunet_tissue_mask_model.py
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/unet.py
Due: pytest-changed-files

add docstrings
  tests/engines/test_multi_task_segmentor.py
  tests/models/test_arch_cerberus.py
  tiatoolbox/models/architecture/cerberus/backbone/resnet.py
  tiatoolbox/models/architecture/cerberus/model.py
  tiatoolbox/models/architecture/cerberus/postproc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

deepsource fixes
  tiatoolbox/models/architecture/cerberus/model.py
Due: none

mypy fixes
  tiatoolbox/annotation/utils.py
Due: none

fix test
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none
