Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

🚨 Add noqa Comments
  tiatoolbox/annotation/storage.py
Due: none

:arrow_up: Upgrade `ruff`
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

✨ Extend Annotation to Support Init from WKB (#639)
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_enums.py
  tests/test_visualization.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/enums.py
  tiatoolbox/typing.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

:arrow_up: Upgrade `ruff` (#698)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:rotating_light: Add `flake8-annotations` checks for `examples/07-advanced-modeling.ipynb`
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add `flake8-annotations` checks for `idars.ipynb`
  examples/inference-pipelines/idars.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add `flake8-annotations` checks for `slide-graph.ipynb`
  examples/full-pipelines/slide-graph.ipynb
  tiatoolbox/enums.py
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add `flake8-annotations` checks for `slide-graph.ipynb`
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Fix `flake8-annotations` for `wsireader.py`
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Fix `flake8-annotations` for `wsicore`
  tiatoolbox/wsicore/wsimeta.py
Due: none

:rotating_light: Fix `flake8-annotations` for `wsicore`
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Fix `flake8-annotations` for `wsicore` (#700)
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Add `flake8-annotations` checks for `multi_task_segmentor.py`
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:rotating_light: Add `flake8-annotations` checks for `semantic_segmentor.py`
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:rotating_light: Fix `flake8-annotations` for `semantic_segmentor.py`
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:rotating_light: Fix `flake8-annotations` for `nucleus_instance_segmentor.py`
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/tools/patchextraction.py
Due: none

:rotating_light: Fix `flake8-annotations` for `patch_predictor.py`
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:bug: Fix keyword arguments required for `_predict_wsi_handle_exception`
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:recycle: move `chdir` to fixtures
  tests/conftest.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:rotating_light: Add `flake8-annotations` Checks for `engine` (#701)
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
Due: none

:rotating_light: Fix `flake8-annotations` in `models/__init__.py`
  tiatoolbox/models/architecture/__init__.py
Due: none

:rotating_light: Fix `flake8-annotations` in `hovernetplus.py`
  tiatoolbox/models/architecture/hovernetplus.py
Due: none

:rotating_light: Fix `flake8-annotations` in `dataset/info.py`
  tiatoolbox/models/dataset/info.py
Due: none

:rotating_light: Fix `flake8-annotations` in `models_abc.py`
  tiatoolbox/models/dataset/info.py
  tiatoolbox/models/models_abc.py
Due: none

:rotating_light: Fix `flake8-annotations` in `dataset_abc.py`
  tiatoolbox/models/dataset/dataset_abc.py
Due: none

:rotating_light: Fix `flake8-annotations` in `dataset/classification.py`
  tiatoolbox/models/dataset/classification.py
Due: none

:rotating_light: Fix `flake8-annotations` in `mapde.py`
  tiatoolbox/models/architecture/mapde.py
Due: none

:rotating_light: Fix `flake8-annotations` in `architecture/utils.py`
  tiatoolbox/models/architecture/utils.py
Due: none

💚 Parallel tests (#671)
  Makefile
  requirements/requirements_dev.txt
  tests/conftest.py
  tests/models/test_hovernetplus.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_init.py
  tests/test_utils.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix `flake8-annotations` in `vanilla.py`
  tiatoolbox/models/architecture/vanilla.py
Due: none

:rotating_light: Fix `flake8-annotations` in `sccnn.py`
  tiatoolbox/models/architecture/sccnn.py
Due: none

:rotating_light: Fix `flake8-annotations` in `idars.py`
  tiatoolbox/models/architecture/idars.py
Due: none

:rotating_light: Fix `flake8-annotations` in `unet.py`
  tiatoolbox/models/architecture/unet.py
Due: none

:rotating_light: Fix `flake8-annotations` in `nuclick.py`
  tiatoolbox/models/architecture/nuclick.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
