Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:white_check_mark: Assert shape and interpolation
  tests/test_wsireader.py
Due: pytest-changed-files

add test for key containing a .
  tests/test_dsl.py
Due: pytest-changed-files

UPD: fix bound
  tiatoolbox/wsicore/wsireader.py
Due: none

✅ Add `torch.compile` tests
  tests/conftest.py
  tests/models/test_patch_predictor.py
  tiatoolbox/models/architecture/__init__.py
Due: pytest-changed-files

✅ Change to a more generic test
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

📝 Update test docstring
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

update test
  tests/test_annotation_stores.py
Due: pytest-changed-files

add warn class
  tests/test_annotation_stores.py
Due: pytest-changed-files

rewrite test
  tests/test_annotation_stores.py
Due: pytest-changed-files

test changing sn type
  tests/test_stainnorm.py
Due: pytest-changed-files

🐛Fix `test` in `test_annotation_stores.py` (#779)
  tests/test_annotation_stores.py
  tests/test_stainnorm.py
Due: pytest-changed-files

🐛 Fix `json_extract` Construction (#772)
  tests/test_dsl.py
  tiatoolbox/annotation/dsl.py
Due: pytest-changed-files

⚡️ Reset `TorchDynamo` when changing `torch.compile` mode
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

mypy type check
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/visualization.py
Due: none

Update pyramid.py
  tiatoolbox/tools/pyramid.py
Due: none

update pyramid.py
  tiatoolbox/tools/pyramid.py
Due: none

add tissuemask.py
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/tissuemask.py
Due: none

add graph.py
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/graph.py
Due: none

fix tests
  tiatoolbox/tools/graph.py
Due: none

:hammer: Fix settings for ruff
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements/requirements_dev.txt
Due: none

:bug: Fix SIM401 Use `kwargs.get("chunks", 10000)` instead of an `if` block
  tiatoolbox/utils/misc.py
Due: none

:bug: SIM401 Use `clinical_info.get(v, np.nan)` instead of an `if` block
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

:pencil2: Address minor comments
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:hammer: Use `model.to`
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix unnecessary SIM911 fix by `ruff`.
  tiatoolbox/annotation/storage.py
Due: none

:hammer: `mypy` type check `tools/` (#782)
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/graph.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/tools/tissuemask.py
  tiatoolbox/utils/visualization.py
Due: none

:pushpin: Update `wsidicom`
  requirements/requirements.txt
Due: none

:pushpin: Update minimum Python version to `3.9`
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  README.md
  pyproject.toml
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
  tests/test_annotation_stores.py
  tests/test_app_bokeh.py
  tiatoolbox/__init__.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/data/__init__.py
  tiatoolbox/tools/stainextract.py
Due: pytest-changed-files

:memo: Add todos from discussion.
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix `ruff` checks
  tests/test_app_bokeh.py
  tests/test_docs.py
  tests/test_dsl.py
  tests/test_wsireader.py
  tiatoolbox/__init__.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/typing.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: Fix `ruff` checks
  benchmarks/annotation_store.ipynb
  benchmarks/annotation_store_alloc.py
Due: notebook-markdown-format

:bug: Fix `ruff` checks
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

:bug: Fix mypy checks
  tiatoolbox/tools/stainextract.py
Due: none

:bug: Fix mypy checks
  tiatoolbox/__init__.py
Due: none

:pushpin: Update python versions for docker containers.
  .github/workflows/docker-publish.yml
Due: none

:pushpin: Update python versions for docker containers.
  docker/3.8/Debian/Dockerfile
Due: none

:technologist: Use `cached_property`.
  tiatoolbox/wsicore/wsireader.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
