Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

♻️ Convert Benchmark Script To Notebook
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_nquery.py
Due: notebook-check-ast, notebook-markdown-format

📝 Convert Notebook Diagram To SVG
  benchmarks/annotation_nquery.ipynb
Due: notebook-check-ast, notebook-markdown-format

♻️ Move SVG To Separate File For Compatibility
  benchmarks/annotation_nquery.ipynb
  benchmarks/nquery-concept.svg
Due: notebook-check-ast, notebook-markdown-format

📝 Fix SVG Scaling
  benchmarks/nquery-concept.svg
Due: none

faster filtering in patch dataset
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/tools/patchextraction.py
Due: none

simplify filtering
  tests/test_patch_extraction.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/tools/patchextraction.py
Due: pytest-changed-files

update wsi_reg
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

test len
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
Due: pytest-changed-files

:memo: DOC: Improve Installation Instructions (#567)
  README.md
  docs/installation.rst
Due: none

:wrench: Use pyproject.toml for isort configuration - Use pyproject.toml for isort
  pyproject.toml
  setup.cfg
Due: none

:wrench: Use pyproject.toml for isort configuration - Use pyproject.toml for isort
  pyproject.toml
Due: none

:wrench: Use pyproject.toml for isort configuration - Use pyproject.toml for isort
  benchmarks/annotation_store_alloc.py
  pyproject.toml
Due: none

🔧 Use pyproject.toml for pytest Configuration - Use pyproject.toml for pytest Configuration
  pyproject.toml
Due: none

:art: Move Models to Top-Level Import - Move Models to top-level import
  tests/models/test_arch_idars.py
  tests/models/test_arch_mapde.py
  tests/models/test_arch_micronet.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_sccnn.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tiatoolbox/models/__init__.py
Due: pytest-changed-files

🐛 Changer Version Parts From int To str
  tiatoolbox/wsicore/wsireader.py
Due: none

🦺 Add NGFF Version Warnings
  tiatoolbox/wsicore/wsireader.py
Due: none

📝 Add Test Docstring
  tests/test_annotation_stores.py
Due: pytest-changed-files

✏️ Minor Typo Fix
  tests/test_dsl.py
Due: pytest-changed-files

📝 Fix Bug In Docstring Example
  tiatoolbox/annotation/storage.py
Due: none

✏️ Minor Typo Fix
  tiatoolbox/annotation/storage.py
Due: none

📝 Rephrase Docstring
  tiatoolbox/annotation/storage.py
Due: none

📝 Rewording
  tiatoolbox/annotation/storage.py
Due: none

:art: Move Models to Top-Level Import (#574)
  tests/models/test_arch_idars.py
  tests/models/test_arch_mapde.py
  tests/models/test_arch_micronet.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_sccnn.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tiatoolbox/models/__init__.py
Due: pytest-changed-files

:wrench: Use `pyproject.toml` for `bdist_wheel` configuration - Use `pyproject.toml` for `bdist_wheel` configuration
  pyproject.toml
  setup.cfg
Due: none

✅ Add Tests For NGFF Version Checks
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

✅ Add NGFF Version Tests
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

✅ Add NGFF Min/Max Version Tests
  tests/test_wsireader.py
Due: pytest-changed-files

✅ Add Multiscales Min/Max Version Tests
  tests/test_wsireader.py
Due: pytest-changed-files

update tests
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/tileserver_api.yml
Due: pytest-changed-files

fix deepsource issues
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/tileserver_api.yml
Due: none

:adhesive_bandage: Add support for numpy array and WSIReader in datasets
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/dataset/dataset_abc.py
Due: none

:recycle: Add checks for input_path existence
  tiatoolbox/wsicore/wsireader.py
Due: none

:recycle: Refactor PatchPredictor
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:white_check_mark: Update tests for np.ndarray and WSIReader support in PatchPredictor
  tests/conftest.py
  tests/models/test_patch_predictor.py
  tests/test_patch_extraction.py
  tests/test_wsireader.py
Due: pytest-changed-files

🩹 BUG: Fix Parsing Missing Omero Version NGFF Metadata (#568)
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

:white_check_mark: fix SlidingWindowInRegionsPatchExtractor tests
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
Due: pytest-changed-files

:recycle: Refactor code.
  tests/conftest.py
  tests/test_wsireader.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:white_check_mark: Make tests check default min_region_covered
  tests/test_patch_extraction.py
Due: pytest-changed-files

replicate sel func in fast filter
  tiatoolbox/tools/patchextraction.py
Due: none
