Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

UPD: change image in meta
  .github/workflows/docker-publish.yml
Due: none

docstring consistency
  tests/test_wsireader.py
Due: pytest-changed-files

ENH: add cpu-based images with latest and explicit tags
  .github/workflows/docker-publish.yml
Due: none

UPD: adding previous workflows back
  .github/workflows/conda-env-create.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
Due: none

MAINT: rename action title
  .github/workflows/docker-publish.yml
Due: none

MAINT: fix precommit in wsireader and storage
  tiatoolbox/annotation/storage.py
  tiatoolbox/wsicore/wsireader.py
Due: none

TST: Remove Extra Parameterized Generate Function
  tests/test_wsireader.py
Due: pytest-changed-files

BUG: Fix R505 flake8 error - Fix R505 flake8 error unnecessary elif after return statement.
  tiatoolbox/annotation/storage.py
  tiatoolbox/wsicore/wsireader.py
Due: none

TST: Prevent Test Dumping File To Root
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

ADD: Add unit tests
  tests/models/test_multi_task_segmentor.py
Due: pytest-changed-files

EG: Clean Up Notebook Imports
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

EG: Add Matplotlib Config Options
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

EG: Update Figures
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

BUG: Fix R505 flake8 error (#505)
  tiatoolbox/annotation/storage.py
  tiatoolbox/wsicore/wsireader.py
Due: none

TST: Prevent Test Dumping File To Root (#507)
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

MAIN: replace num_classes with num_output_channels for micronet
  tests/models/test_arch_micronet.py
  tiatoolbox/data/pretrained_model.yaml
Due: pytest-changed-files

MAIN: replace num_classes with num_output_channels for micronet
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
Due: none

MAIN: fix deepsource errors
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
Due: none

TST: Add Test for `data.small_svs`
  tests/test_data.py
Due: pytest-changed-files

TST: Break Up Assert
  tests/test_data.py
Due: pytest-changed-files

UPD: revert changes to preprocess function
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
Due: none

Update tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Replace level with units+resolution.
  examples/10-wsi-registration.ipynb
  tiatoolbox/tools/registration/wsi_registration.py
Due: notebook-check-ast, notebook-markdown-format

Fix test expected values.
  tests/test_wsi_registration.py
Due: pytest-changed-files

Update read_rect of AffineWSITransformer.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

Add Examples in comment section.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Fix Examples error.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Update github and colab link.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

Add test for AffineWSITransformer.
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

Add example for AffineWSITransformer.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Update README.md for registration notebook.
  docs/images/wsi-registration.png
  examples/README.md
Due: none

MAIN: fix PYL-W0221 with nuclick forward
  tiatoolbox/models/architecture/nuclick.py
Due: none

MAIN: unify using preproc in all models
  tiatoolbox/models/architecture/idars.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
Due: none
