Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:bug: Fix `model_to` device specification
  tests/models/test_arch_vanilla.py
Due: pytest-changed-files

:twisted_rightwards_arrows: Merge changes from #716 (commit: 32cae0b)
  tests/engines/test_patch_predictor.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/engine_abc.py
Due: pytest-changed-files

:bug: Fix wrong intput to `compile_model`.
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix torch.compile tests and improve coverage
  tests/engines/test_engine_abc.py
  tests/engines/test_patch_predictor.py
  tiatoolbox/cli/patch_predictor.py
Due: pytest-changed-files

:bug: Fix `patch_predictor` cli
  tiatoolbox/cli/common.py
  tiatoolbox/cli/patch_predictor.py
Due: none

✨ Add `PatchPredictor` Engine (#865)
  tests/engines/test_engine_abc.py
  tests/engines/test_patch_predictor.py
  tests/models/test_models_abc.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:twisted_rightwards_arrows: Merge changes from #578 - Merge changes from #578 which will improve the performance of main branch. - It will also help simplify #578
  .gitignore
  tests/models/test_arch_mapde.py
  tests/models/test_arch_micronet.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_sccnn.py
  tests/models/test_arch_unet.py
  tests/models/test_arch_vanilla.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_init.py
  tests/test_utils.py
  tests/test_wsimeta.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/architecture/vanilla.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/models_abc.py
  whitelist.txt
Due: pytest-changed-files

:recycle: Use the new `model_to` function with device as input
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:memo: Improve documentation
  tiatoolbox/models/models_abc.py
  tiatoolbox/utils/misc.py
Due: none

:bug: Fix `test_feature_extractor` for `on_gpu` input.
  tests/models/test_feature_extractor.py
Due: pytest-changed-files

:bug: Fix deepsource errors
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
Due: none

:bug: Fix errors related to new design.
  tiatoolbox/models/architecture/vanilla.py
Due: none

:bug: Fix errors related to new design.
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/semantic_segment.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:bug: Fix errors related to new design.
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
Due: pytest-changed-files

:bug: Fix `test_slides_available`
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:white_check_mark: Fix Coverage
  tests/models/test_abc.py
  tests/test_utils.py
  tiatoolbox/cli/common.py
Due: pytest-changed-files

:bug: Fix deepsource error
  tests/models/test_abc.py
  tests/test_utils.py
Due: pytest-changed-files

:white_check_mark: Fix coverage
  tests/test_annotation_tilerendering.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

:bug: Fix mypy checks
  tiatoolbox/utils/visualization.py
Due: none

:twisted_rightwards_arrows: Undo unwanted changes during merge.
  tests/models/test_models_abc.py
  tests/test_utils.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/patch_predictor.py
Due: pytest-changed-files

Refine error messages
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

[skip ci] :memo: Update 07-advanced-modeling.ipynb
  examples/07-advanced-modeling.ipynb
Due: notebook-markdown-format

[skip ci] :memo: Update idars.ipynb
  examples/inference-pipelines/idars.ipynb
Due: notebook-markdown-format

[skip ci] :memo: Update slide-graph.ipynb full pipeline.
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-markdown-format

Update error message
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

Delete =1.0.3
  =1.0.3
Due: none

:technologist: `torch.compile` is not compatible with Windows.
  tiatoolbox/models/architecture/utils.py
Due: none

🧑‍💻 Refine `PatchExtractor` Error Message (#883)
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:technologist: `torch.compile` is not compatible with Windows. (#888)
  tiatoolbox/models/architecture/utils.py
Due: none

:pushpin: Update `ruff` Version to `v0.8.1`
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:bug: Fix `PYI063` Use PEP 570 syntax for positional-only parameters
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:bug: Fix `A004` Import `display` is shadowing a Python builtin
  benchmarks/annotation_store.ipynb
Due: notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
