Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

Update tests/test_annotation_stores.py
  tests/test_annotation_stores.py
Due: pytest-changed-files

Update tiatoolbox/annotation/storage.py
  tiatoolbox/annotation/storage.py
Due: none

Update tiatoolbox/utils/misc.py
  tiatoolbox/utils/misc.py
Due: none

Update tests/test_wsi_registration.py
  tests/test_wsi_registration.py
Due: pytest-changed-files

Add assert test and Renaming
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

address comments
  tests/test_annotation_stores.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

fix typing
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: none

add edge_score_prop
  tiatoolbox/utils/visualization.py
Due: none

Remove tests from extract_features and add them to register
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

Add pre-alignment inside register function
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

UPD: Track
  examples/full-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

DEV: Update scikit-learn for slide-graph - Update scikit-learn for slide-graph
  requirements.txt
Due: none

REV: scikit-learn >1.02 not compatible with python 3.7 - scikit-learn >1.02 not compatible with python 3.7
  requirements.txt
Due: none

- Simplify code - Use DICE to check if transformation is successful
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

[skip ci]: DOC: Update inference-pipelines/slide-graph.ipynb - Update inference-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Update inference-pipelines/slide-graph.ipynb - Update inference-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

DEV: Remove imports in tools/__init__ to avoid circular imports - Remove imports in tools/__init__ to avoid circular imports
  tiatoolbox/tools/__init__.py
  tiatoolbox/wsicore/wsireader.py
Due: none

DEV: Use lazy import to avoid cirular imports - Use lazy import to avoid cirular imports
  tiatoolbox/tools/__init__.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/wsicore/wsireader.py
Due: none

add test for zoomed out rendering
  tests/test_annotation_tilerendering.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

DEV: Add registration package to tools - Add registration package to tools
  tiatoolbox/tools/__init__.py
Due: none

- Rewrite find_points_inside_boundary function with PatchExtractor.filter_coordinates_fast
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Split test functions into separate unit tests.
  tests/test_wsi_registration.py
Due: pytest-changed-files

- Notebook for WSI registration.
  examples/wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Rename the notebook.
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

change defaults
  tiatoolbox/wsicore/wsireader.py
Due: none

DEV: Fix Circular import `wsireader` (#484)
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/wsicore/wsireader.py
Due: none

add version history 1.0.1
  tiatoolbox/annotation/storage.py
Due: none

- Improve coverage
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Add comments for Affine transform
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
