Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

Edited workflow
  .github/workflows/rust.yml
  tests/test_rust.py
Due: pytest-changed-files

Edited workflow
  .github/workflows/rust.yml
Due: none

Edited tests
  tests/test_misc.rs
  tests/test_rust.py
Due: pytest-changed-files

Improvements to the UI
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Corrected test
  tests/test_misc.rs
Due: none

Updated workflow to ensure test utils as well
  .github/workflows/rust.yml
Due: none

Updated tests
  .github/workflows/rust.yml
  tests/test_rust.py
Due: pytest-changed-files

Test for patch predictions as annotations
  tests/test_rust.py
  tiatoolbox/rust-library/lib.rs
Due: pytest-changed-files

Edited rust library for formatting
  tiatoolbox/rust-library/lib.rs
Due: none

Edited rust library for formatting
  tests/test_rust.py
Due: pytest-changed-files

Added two new tests for semantic_segmentations_as_qupath_json and json_dump_python_object
  tests/test_rust.py
  tiatoolbox/rust-library/lib.rs
Due: pytest-changed-files

Corrected formatting for rust
  tiatoolbox/rust-library/lib.rs
Due: none

Corrected formatting for rust-library/lib.rs
  tiatoolbox/rust-library/lib.rs
Due: none

Update README for new commands
  tiatoolbox/visualization/openlayers/README.md
Due: none

Small bug fix with the URL
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Improved formatting
  tests/test_misc.rs
  tiatoolbox/rmisc.pyi
  tiatoolbox/rust-library/lib.rs
  tiatoolbox/utils/misc.py
Due: none

Improving descriptions in visualize_beta
  tiatoolbox/cli/visualize_beta.py
Due: none

Improved formatting
  tests/test_misc.rs
Due: none

Altered misc.py to include rust code
  tiatoolbox/utils/misc.py
Due: none

More small changes to descriptions
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/tileserver.py
Due: none

Altered misc.py for type checking
  tiatoolbox/utils/misc.py
Due: none

Added new tests for new functionalities
  tests/test_tileserver.py
Due: pytest-changed-files

Rebuilding viewer.js and viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
Due: none

Corrected to speed up rust code
  pyproject.toml
Due: none

Corrected to allow for codecov to run
  pyproject.toml
Due: none

Removed slow rust code from misc
  tiatoolbox/utils/misc.py
Due: none

Updated benchmarking
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  benchmarks/example.txt
Due: notebook-markdown-format

Updated benchmarks folder
  benchmarks/example.txt
Due: none

Updated benchmarking to remove asserts
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

Add tests for visualize_beta
  tests/test_visualize_beta.py
Due: pytest-changed-files

Updated patch_predictions_as_annotations test to cover all branches
  tests/test_utils.py
Due: pytest-changed-files

Improve Layer Management in Experimental OpenLayers Viewer (#1126)
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Updated to have json.dump use rust
  tiatoolbox/utils/misc.py
Due: none

Add reusable CLI options
  tests/test_cli.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/visualize_beta.py
Due: pytest-changed-files

Updating the dropdown boxes to act like bokeh viewer
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Improved benchmarking
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format
