Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

UPD: Fix broken tests
  tests/test_app_bokeh.py
Due: pytest-changed-files

UPD: Add tests
  tests/test_bokeh_main_urls.py
  tests/test_tileserver_channels.py
Due: pytest-changed-files

UPD: Add tests
  tests/test_postproc_defs.py
  tiatoolbox/utils/postproc_defs.py
Due: pytest-changed-files

:memo: Update contact address to `TIA@warwick.ac.uk`
  AUTHORS.md
  HISTORY.md
  README.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:memo: Update web address to https
  HISTORY.md
Due: none

:bug: Fix `mypy` issues
  tiatoolbox/utils/transforms.py
Due: none

[skip ci] :memo: Update links
  HISTORY.md
Due: none

:memo: Update contact address to `TIA@warwick.ac.uk` (#986)
  AUTHORS.md
  HISTORY.md
  README.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
  tiatoolbox/utils/transforms.py
Due: none

UPD: Fix broken tests
  pyproject.toml
  tests/test_tileserver_channels.py
  tests/test_wsireader.py
Due: pytest-changed-files

UPD: Fix test issues
  tests/test_tileserver_channels.py
Due: pytest-changed-files

UPD: Fix test issues
  tests/test_wsireader.py
Due: pytest-changed-files

UPD: Fix test issues and patch issues in virtualwsireader
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

UPD: Fix test issues and patch issues in virtualwsireader
  tests/test_tileserver_channels.py
  tests/test_wsireader.py
Due: pytest-changed-files

Update KongNet config and tests
  test.py
  tests/models/test_arch_kongnet.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

UPD: Add missing tests
  tests/test_multichannel_reading.py
  tests/test_postproc_defs.py
  tests/test_wsireader.py
Due: pytest-changed-files

Update wsi and tile shape
  tests/models/test_multi_task_segmentor.py
  tiatoolbox/data/pretrained_model.yaml
Due: pytest-changed-files

:bug: Fix count in merge_predictions
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:bug: Fix count in merge_predictions
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:bug: Fix HoVerNetPlus postprocessing.
  tiatoolbox/models/architecture/hovernetplus.py
Due: none

fix precommit and update docs
  examples/nucleus-detection.ipynb
  tests/models/test_arch_kongnet.py
  tests/models/test_arch_utils.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files, notebook-markdown-format

fix typing
  tiatoolbox/models/architecture/utils.py
Due: none

fix deepsource
  tests/models/test_arch_utils.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

:construction: Merge using tile outputs.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

[skip ci] :construction: Restructure dictionary output
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

[skip ci] :construction: Fix structure of the output
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

[skip ci] :construction: Fix structure of the output
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/data/pretrained_model.yaml
Due: pytest-changed-files

update notebook
  examples/nucleus-detection.ipynb
  examples/test.py
Due: notebook-markdown-format

update semantic segmentor
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:bug: Fix division by count. - Count was not being updated correctly causing errors in segmentation in all patch rows except row 1.
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:bug: Fix nuclei detection tests
  tests/engines/test_nucleus_detection_engine.py
Due: pytest-changed-files

:bug: Fix `model_abc` for updates to semantic segmentor
  tiatoolbox/models/models_abc.py
Due: none

:bug: Fix Division by Count in `SemanticSegmentor` (#989)
  tests/engines/test_nucleus_detection_engine.py
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/models/models_abc.py
Due: pytest-changed-files

fix memory spill issue
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:memo: Add docstring for `_get_inst_info_dicts`
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

revert some changes
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

update docstring
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:construction: Working on testing tile based output
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:construction: Finalise wsi_info_dict structure to work with save_predictions.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
