Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

:bug: Use `Generator.random` instead of `np.random.rand`
  tests/models/test_arch_vanilla.py
Due: pytest-changed-files

:bug: Use `Generator.choice` instead of `np.random.choice`
  tests/test_wsi_registration.py
Due: pytest-changed-files

:rewind: Revert :bug: Use `Generator.random` instead of `np.random.rand`
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_graph.py
  tests/test_scale.py
  tests/test_tileserver.py
  tests/test_utils.py
  tests/test_wsi_registration.py
  tests/test_wsireader.py
  tiatoolbox/tools/graph.py
Due: pytest-changed-files

:bug: Use `Generator.random` instead of `np.random.rand`
  tests/test_annotation_tilerendering.py
  tests/test_graph.py
  tests/test_scale.py
  tests/test_tileserver.py
  tests/test_utils.py
  tests/test_wsi_registration.py
  tests/test_wsireader.py
  tiatoolbox/tools/graph.py
Due: pytest-changed-files

:bug: Use `Generator.random` instead of `np.random.rand`
  tests/test_wsi_registration.py
Due: pytest-changed-files

:bug: Use `Generator` instead of `np.random.seed`
  tests/test_graph.py
  tests/test_scale.py
  tests/test_tileserver.py
Due: pytest-changed-files

:bug: Use `Generator` instead of `np.random.seed`
  tests/test_annotation_tilerendering.py
Due: pytest-changed-files

:bug: Use `Generator` instead of `np.random.seed`
  benchmarks/annotation_store_alloc.py
  tiatoolbox/utils/visualization.py
Due: none

:bug: Use `Generator` instead of `np.random.seed`
  tests/test_annotation_stores.py
Due: pytest-changed-files

:bug: Fix random number generator state
  benchmarks/annotation_store_alloc.py
  pyproject.toml
  tiatoolbox/utils/visualization.py
Due: none

🐛 Fix None Check & Potential Key Errors
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Add "NPY" `NumPy-specific rules` Checks (#654)
  benchmarks/annotation_store_alloc.py
  pyproject.toml
  tests/models/test_arch_vanilla.py
  tests/models/test_patch_predictor.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_graph.py
  tests/test_metrics.py
  tests/test_scale.py
  tests/test_tileserver.py
  tests/test_utils.py
  tests/test_wsi_registration.py
  tests/test_wsireader.py
  tiatoolbox/tools/graph.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

✅ Allow Non-Omnyx Metadata In JP2 XML <description>
  tiatoolbox/wsicore/wsireader.py
Due: none

🐛 Update Regex to Allow Whitespace
  tiatoolbox/wsicore/wsireader.py
Due: none

🐛 Allow 1+ Digits in AppMag
  tiatoolbox/wsicore/wsireader.py
Due: none

🐛 Fix Create Frozen Annotation from Coordinates
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/visualization.py
Due: none

✅ Change Expected Exception
  tests/test_annotation_stores.py
Due: pytest-changed-files

📝 Fix Quotes In Example
  tiatoolbox/annotation/storage.py
Due: none

🎨 Change Imports to Avoid Shadowing wkt/wkb
  tiatoolbox/annotation/storage.py
Due: none

🎨 Format Tests
  tests/test_wsireader.py
Due: pytest-changed-files

✅ Fix decode_wkb Test
  tests/test_visualization.py
Due: pytest-changed-files

✅ Add Test Coverage For Missing JP2 Metadata
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:arrow_up: Update `ruff`
  .pre-commit-config.yaml
  benchmarks/annotation_store_alloc.py
  requirements/requirements_dev.txt
  tests/models/test_abc.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_unet.py
  tests/models/test_dataset.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_utils.py
  tests/test_wsireader.py
Due: pytest-changed-files

✅ Add Test for Missing JP2 Header
  tests/test_wsireader.py
Due: pytest-changed-files

🎨 Change Helper Dev Only Exception to Assert
  tiatoolbox/wsicore/wsireader.py
Due: none

:arrow_up: Upgrade `ruff` to Version `0.0.280` (#655)
  .pre-commit-config.yaml
  benchmarks/annotation_store_alloc.py
  requirements/requirements_dev.txt
  tests/models/test_abc.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_unet.py
  tests/models/test_dataset.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_utils.py
  tests/test_wsireader.py
Due: pytest-changed-files

[skip ci] :rotating_light: Add linter checks to `01-wsi-reading.ipynb`
  examples/01-wsi-reading.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :bug: Fix logger
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add linter checks to `01-wsi-reading.ipynb` (#656)
  examples/01-wsi-reading.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

:memo: Update tests/test_wsireader.py
  tests/test_wsireader.py
Due: pytest-changed-files

✏️ Fix JP2 Typo
  tests/test_wsireader.py
Due: pytest-changed-files

[skip ci] :rotating_light: Add linter checks to 03-tissue-masking.ipynb
  examples/01-wsi-reading.ipynb
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add linter checks to 03-tissue-masking.ipynb
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add linter checks to 02-normalization.ipynb
  pyproject.toml
Due: none

[skip ci] :rotating_light: Add linter checks to 03-tissue-masking.ipynb
  pyproject.toml
Due: none

[skip ci] :rotating_light: Add linter checks to 03-tissue-masking.ipynb
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci]🚨 Add `ruff` Checks `03-tissue-masking.ipynb` (#658)
  examples/03-tissue-masking.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format
