Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

🔨 Add `mypy` check to `wsireader` files (#1114)
  .github/workflows/mypy-type-check.yml
  pyproject.toml
  tests/test_type_hints.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/type_hints.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/wsicore/wsireader/detection.py
  tiatoolbox/wsicore/wsireader/factory.py
  tiatoolbox/wsicore/wsireader/types.py
Due: pytest-changed-files

:alembic: Add tests for `save_predictions()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

Add tests for Codecov and fixing DeepSource test fail
  tests/test_tileserver.py
Due: pytest-changed-files

fix grandqc doc [skip-ci] (#1116)
  tiatoolbox/models/architecture/grandqc.py
Due: none

:alembic: Add tests for `_save_predictions_as_dict_zarr()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `_save_predictions_as_json_store()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `_rearrange_raw_predictions_to_per_task_dict()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `build_post_process_raw_predictions()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

Update OpenLayers frontend dependencies
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

:alembic: Add tests for `_process_tile_mode()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `_process_full_wsi()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Use broad exception to test if the file opens successfully
  tiatoolbox/wsicore/wsireader/detection.py
Due: none

:alembic: Add tests for `post_process_patches()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `post_process_wsi()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

Reorganize OpenLayers viewer architecture
  tests/test_tileserver.py
  tiatoolbox/cli/show_wsi.py
  tiatoolbox/cli/visualize_beta.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.css
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.js
  tiatoolbox/data/visualization/templates/index_legacy.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/package.json
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/main_legacy.js
  tiatoolbox/visualization/openlayers/src/style_legacy.css
  tiatoolbox/visualization/openlayers/src/visualize_beta_viewer.js
  tiatoolbox/visualization/openlayers/vite.legacy.config.js
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/visualize_beta_tileserver.py
Due: pytest-changed-files

:alembic: Add tests for `infer_wsi()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:alembic: Add tests for `infer_patches()`
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix test_app_bokeh.py for parallel tests
  tests/test_app_bokeh.py
Due: pytest-changed-files

:technologist: Optimise `MultiTaskSegmentor` Tests (#1102)
  tests/engines/test_engine_abc.py
  tests/engines/test_multi_task_segmentor.py
  tests/engines/test_nucleus_instance_segmentor.py
  tests/engines/test_semantic_segmentor.py
  tests/models/test_dataset.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tests/test_utils.py
Due: pytest-changed-files

Update OpenLayers frontend dependencies (#1117)
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

WIP improved URLS
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

:bug: Fix test_app_bokeh.py for parallel tests (#1119)
  tests/test_app_bokeh.py
Due: pytest-changed-files

Fix OpenLayers 10 viewer compatibility
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Update OpenLayers viewer controls
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

:white_check_mark: Optimise `test_arch_sam`
  tests/models/test_arch_sam.py
Due: pytest-changed-files

:white_check_mark: Optimize CLI
  tiatoolbox/cli/visualize_beta.py
Due: none

:bug: Fix unwanted argument
  tiatoolbox/cli/visualize_beta.py
Due: none

:bug: Fix deepsource errors
  tiatoolbox/cli/visualize_beta.py
Due: none

Updating to include a small rust library
  Cargo.toml
  pyproject.toml
  src/lib.rs
Due: none

:white_check_mark: Add tests for`preproc()`
  tests/models/test_arch_sam.py
Due: pytest-changed-files

:white_check_mark: Add tests for`infer_batch()`
  tests/models/test_arch_sam.py
Due: pytest-changed-files

:white_check_mark: Add tests for`forward()`
  tests/models/test_arch_sam.py
  tiatoolbox/models/architecture/sam.py
Due: pytest-changed-files

:white_check_mark: Add tests for`forward()`
  tests/models/test_arch_sam.py
Due: pytest-changed-files

:rewind: Revert `pragma: no cover` flag
  tiatoolbox/cli/visualize_beta.py
Due: none

Editing so that rust code is now stored under tiatoolbox/rust-library
  Cargo.toml
  tiatoolbox/rust-library/lib.rs
Due: none

Fix TypeError: object of type 'Array' has no len() in examples 05 and 09
  examples/05-patch-prediction.ipynb
  examples/09-multi-task-segmentation.ipynb
Due: notebook-markdown-format
