Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

:memo: Add docstring on separate line. - Fix Multi-line docstring closing quotes should be on a separate line FLK-D209
  tests/test_wsireader.py
Due: pytest-changed-files

:memo: Remove blank lines after function docstring - Fix No blank lines allowed after function docstring FLK-D202
  tests/models/test_patch_predictor.py
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:recycle: Refactor code to cut line length - Fix Doc line too long FLK-W505
  pre-commit/notebook_urls.py
Due: none

:bug: Fix Attribute defined outside __init__ PYL-W0201 - Fix Attribute defined outside __init__ PYL-W0201
  tiatoolbox/models/architecture/unet.py
Due: none

:bug: Fix unused argument and static method - Fix Function contains unused argument PYL-W0613 - Fix Consider decorating method with @staticmethod PYL-R0201
  tiatoolbox/tools/stainaugment.py
Due: none

:bug: Fix Missing module/function docstring PY-D0003 - Fix Missing module/function docstring PY-D0003
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix Missing module/function docstring PY-D0003 - Fix Missing module/function docstring PY-D0003
  tiatoolbox/annotation/storage.py
Due: none

:bug: Fix NGFF multiscales meta passed as list - Fix NGFF multiscales meta passed as list
  tiatoolbox/wsicore/metadata/ngff.py
  tiatoolbox/wsicore/wsireader.py
Due: none

🐛 Fix `deepsource` Errors (#594)
  pre-commit/notebook_urls.py
  tests/models/test_patch_predictor.py
  tests/test_wsireader.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/wsicore/metadata/ngff.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:memo: Update HISTORY.md with release notes - Update HISTORY.md with release notes
  HISTORY.md
Due: none

Bump version: 1.3.3 → 1.4.0
  .github/workflows/docker-publish.yml
  CITATION.cff
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: none

:pushpin: Pin dependencies for long term stable release - Pin dependencies for long term stable release
  requirements/requirements.txt
Due: none

:pencil2: fixed a typo
  examples/full-pipelines/slide-graph.ipynb
  tiatoolbox/data/__init__.py
Due: notebook-check-ast, notebook-markdown-format

:pencil2: Fix Typo (#596)
  examples/full-pipelines/slide-graph.ipynb
  tiatoolbox/data/__init__.py
Due: notebook-check-ast, notebook-markdown-format

:recycle: Refactor engines_abc.py - Refactor engines_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

🐛 Store cx, cy and area as floats
  tiatoolbox/annotation/storage.py
Due: none

update api yml
  tiatoolbox/visualization/tileserver_api.yml
Due: none

changes due to flask/matplotlib versions
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:memo: Add example models - Add example models
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

:recycle: refactor patch predictor and related methods
  requirements/requirements.txt
  tests/models/test_patch_predictor.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: fix MultiTaskSegmentor example
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:construction_worker: reverted test_validate_docstring_examples execution in CI
  tests/test_docs.py
Due: pytest-changed-files

:recycle: refactor `Resolution` and `Units`
  examples/full-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: notebook-check-ast, notebook-markdown-format

:recycle: add a blank line to `get_reader_by_filepath`
  tiatoolbox/wsicore/wsireader.py
Due: none

Update multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

🐛 Fix `MultiTaskSegmentor` Example (#597)
  tests/test_docs.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:heavy_plus_sign: Add numba as dependency - Add numba as dependency - Pin numba>=0.57.0
  requirements/requirements.txt
Due: none

:bug: Use `np.int_` as `np.int` is deprecated. - Use `np.int_` as `np.int` is deprecated.
  tiatoolbox/wsicore/wsireader.py
Due: none

:arrow_up: Upgrade `numpy` Dependency (#543)
  requirements/requirements.txt
  tests/models/test_patch_predictor.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:pushpin: Update `numpy` pin - Update `numpy` pin
  requirements/requirements.txt
Due: none

🐛 Fix boxpoint-boxpoint Logic
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

🐛 Change k To Distance on iquery()
  tiatoolbox/annotation/storage.py
Due: none

:sparkles: ENH: Add Neighbourhood Querying Support To `AnnotationStore` (#540)
  benchmarks/annotation_nquery.ipynb
  benchmarks/nquery-concept.svg
  docs/images/nquery-box-box.png
  docs/images/nquery-boxpoint-boxpoint.png
  docs/images/nquery-poly-poly.png
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tiatoolbox/annotation/storage.py
  whitelist.txt
Due: pytest-changed-files, notebook-check-ast, notebook-markdown-format

yml update
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/tileserver_api.yml
Due: none

🐍 Update Supported Python Versions (add 3.11 ) (#500)
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.txt
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
Due: none

:pencil2: Fix typo - Fix typo
  tests/models/test_arch_nuclick.py
Due: pytest-changed-files

🚨 Use `logger` Instead Of `warnings` for `models` Package (#588)
  tests/models/test_arch_nuclick.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

🚨 Use `logger` Instead Of `warnings` for `wsi_registration.py` (#587)
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files
