Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

add tests
  tests/engines/test_multi_task_segmentor.py
  tests/models/test_arch_cerberus.py
Due: pytest-changed-files

postproc test
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Remove `ignore_index` for `fcn_resnet50_unet-bcss` (#1069)
  tests/engines/test_semantic_segmentor.py
  tests/models/test_arch_efficientnetunet_tissue_mask_model.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/unet.py
Due: pytest-changed-files

fix small stride bug
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:pushpin: Update ruff version
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

fix issue with MPS device
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/vanilla.py
Due: none

:bug: Fix issue with MPS device (#1073)
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
  tiatoolbox/models/architecture/grandqc.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/vanilla.py
Due: none

🐛 Fix multi-gpu error (DataParallel Err) for kongnet and nucleus_detector
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

small unet postproc tweak
  examples/13-training-patch-folder-classification.ipynb
  tests/models/test_arch_efficientnetunet_tissue_mask_model.py
  tiatoolbox/models/architecture/efficientunet_tissue_mask_model.py
Due: pytest-changed-files, notebook-markdown-format

♻️ Refactor: Split monolithic wsireader into modular package
  REFACTORING_SUMMARY.md
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/annotation_store.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/dicom.py
  tiatoolbox/wsicore/wsireader/fsspec_json.py
  tiatoolbox/wsicore/wsireader/jp2.py
  tiatoolbox/wsicore/wsireader/ngff.py
  tiatoolbox/wsicore/wsireader/openslide.py
  tiatoolbox/wsicore/wsireader/tiff.py
  tiatoolbox/wsicore/wsireader/transformed.py
  tiatoolbox/wsicore/wsireader/virtual.py
Due: none

fix: Add missing module exports to wsireader for backward compatibility
  REFACTORING_SUMMARY.md
  tiatoolbox/wsicore/wsireader.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/annotation_store.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/dicom.py
  tiatoolbox/wsicore/wsireader/fsspec_json.py
  tiatoolbox/wsicore/wsireader/jp2.py
  tiatoolbox/wsicore/wsireader/ngff.py
  tiatoolbox/wsicore/wsireader/openslide.py
  tiatoolbox/wsicore/wsireader/tiff.py
  tiatoolbox/wsicore/wsireader/transformed.py
  tiatoolbox/wsicore/wsireader/virtual.py
Due: none

:bug: Fix imports
  tiatoolbox/wsicore/wsireader/jp2.py
  tiatoolbox/wsicore/wsireader/tiff.py
Due: none

:bug: Fix `json` imports
  tiatoolbox/wsicore/wsireader/annotation_store.py
Due: none

:bug: Fix `fsspec` imports
  tiatoolbox/wsicore/wsireader/fsspec_json.py
Due: none

:bug: Fix imports
  tiatoolbox/wsicore/wsireader.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/fsspec_json.py
  tiatoolbox/wsicore/wsireader/ngff.py
  tiatoolbox/wsicore/wsireader/tiff.py
  tiatoolbox/wsicore/wsireader/transformed.py
  tiatoolbox/wsicore/wsireader/virtual.py
Due: none

:fire: Remove REFACTORING_SUMMARY.md
  REFACTORING_SUMMARY.md
Due: none

:art: Sort imports
  tiatoolbox/wsicore/wsireader/__init__.py
Due: none

:bug: Fix tests for wsireader
  requirements/requirements.txt
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader/base.py
Due: pytest-changed-files

:bug: Fix WSI reading - On Windows urlparse would convert the input to str causing WSI reading to fail - s3 links to test cloud ngff read is also fixed.
  requirements/requirements.txt
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: Fix `ruff` tests
  tiatoolbox/wsicore/wsireader.py
  tiatoolbox/wsicore/wsireader/annotation_store.py
  tiatoolbox/wsicore/wsireader/dicom.py
  tiatoolbox/wsicore/wsireader/fsspec_json.py
  tiatoolbox/wsicore/wsireader/jp2.py
  tiatoolbox/wsicore/wsireader/ngff.py
  tiatoolbox/wsicore/wsireader/openslide.py
  tiatoolbox/wsicore/wsireader/tiff.py
Due: none

:pushpin: Remove s3fs pin
  requirements/requirements.txt
Due: none

:technologist: Update conda solve checkout
  .github/workflows/conda-env-create.yml
Due: none

:technologist: Update conda solve checkout
  requirements/requirements.txt
Due: none

:technologist: Update `mamba-org/setup-micromamba` `checkout` (#1077)
  .github/workflows/conda-env-create.yml
Due: none

:technologist: Address Co-Pilot comments
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: Fix Deepsource error
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix ngff reader error
  tiatoolbox/wsicore/wsireader.py
Due: none

:pushpin: Add Python 3.14 to pyproject.toml
  pyproject.toml
Due: none

improve coverage
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

deepsource
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

🔨 Simplify DataParallel unwrap in engine_abc and kongnet
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix `ruff` errors
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix WSI Reading (#1076)
  requirements/requirements.txt
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

🐛 Fix multi-gpu error (AttributeError) for `kongnet` and `nucleus_detector` (#1074)
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: none

:bug: Fix missing changes from #1076
  tiatoolbox/wsicore/__init__.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/base.py
Due: none

:bug: Fix Deepsource error
  tiatoolbox/wsicore/wsireader/base.py
Due: none

:bug: Fix pre-commit errors
  tiatoolbox/wsicore/wsireader/transformed.py
Due: none

:bug: Fix Deepsource and AI errors
  tiatoolbox/wsicore/wsireader.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/jp2.py
Due: none

:heavy_plus_sign: Add `s3fs` dependency
  pyproject.toml
Due: none

:bug: Fix tests `test_tiffreader.py`
  tests/test_tiffreader.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
