Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:memo: Update AUTHORS.md
  AUTHORS.md
Due: none

:memo: Update HISTORY.md
  HISTORY.md
Due: none

:hammer: Fix `pip install` Check for Windows
  .github/workflows/pip-install.yml
Due: none

:hammer: Fix `pip install` Check for Windows (#1032)
  .github/workflows/pip-install.yml
Due: none

:memo: Fix HISTORY.md
  HISTORY.md
Due: none

Revert ":pushpin: Pin library versions in requirements.txt"
  requirements/requirements.txt
Due: none

🔖 Release 2.0.0 (#1033)
  .github/workflows/docker-publish.yml
  .github/workflows/pip-install.yml
  AUTHORS.md
  CITATION.cff
  HISTORY.md
  LICENSE
  docs/conf.py
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

:pushpin: Pin `zarr` and `tifffile`
  requirements/requirements.txt
Due: none

:pushpin: Pin `tifffile`
  requirements/requirements.txt
Due: none

:pushpin: Update Python Versions - Drop Python 3.10 support - Add Python 3.14 support
  .github/workflows/docker-publish.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  CONTRIBUTING.rst
  README.md
  docker/3.14/Debian/Dockerfile
  docker/3.14/Ubuntu/Dockerfile
  docs/installation.rst
  pyproject.toml
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
  tests/test_annotation_stores.py
Due: pytest-changed-files

:bug: Fix setup.py to include 3.14
  setup.py
Due: none

:fire: Remove openslide from requirements.conda.yml
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
Due: none

:fire: Remove Python 3.14 - Support for Python 3.14 needs a separate PR
  .github/workflows/docker-publish.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  CONTRIBUTING.rst
  docker/3.14/Debian/Dockerfile
  docker/3.14/Ubuntu/Dockerfile
  docs/installation.rst
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
Due: none

:arrow_up: Add `Python 3.14` Support
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  CONTRIBUTING.rst
  docs/installation.rst
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.txt
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
Due: none

initial training pass
  tests/models/test_arch_vanilla.py
  tests/models/test_training.py
  tiatoolbox/models/__init__.py
  tiatoolbox/models/architecture/vanilla.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/checkpoint.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/tasks.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

annotation-based targets
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/targets.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

add example
  examples/12-training-patch-folder-classification.ipynb
  examples/README.md
Due: notebook-markdown-format

add example
  examples/12-training-patch-folder-classification.ipynb
  examples/13-training-slide-annotation-segmentation.ipynb
  examples/README.md
Due: notebook-markdown-format

slide-level patch traininig
  examples/12-training-patch-folder-classification.ipynb
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/samplers.py
Due: pytest-changed-files, notebook-markdown-format

:zap: Filter `post process tiles` Using Mask
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:zap: Filter `post process tiles` Using Mask
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:rewind: Revert changes to multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:zap: Use tile_bounds within the masked region
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

fix notebook numbering
  examples/13-training-patch-folder-classification.ipynb
  examples/13-training-slide-annotation-segmentation.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/README.md
Due: notebook-markdown-format

:bug: Fix test_get_tile_info_small_image_triggers_early_return
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix test
  tests/engines/test_multi_task_segmentor.py
Due: pytest-changed-files

:bug: Fix calculation of max_value for instances
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

proper BCE & multilabel handling
  tests/models/test_training.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/tasks.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

:bug: Fix calculation of max_value for instances (#1038)
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

mask segmentation task fix
  tests/models/test_training.py
  tiatoolbox/models/training/tasks.py
Due: pytest-changed-files

fix trainer validation
  tests/models/test_training.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

:bug: Remove reinitialization of tile_bounds
  tests/models/test_arch_micronet.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

robustify patch-mask dataset
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/datasets.py
Due: pytest-changed-files

better checkpoint loading
  tests/models/test_training.py
  tiatoolbox/models/models_abc.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/checkpoint.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

clean up dataloader config
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/README.md
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/samplers.py
  tiatoolbox/models/training/targets.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
