Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

WIP: Change Notebook Pip Install URL
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

BUG: Fix Type In Hook Script
  pre-commit/notebook_urls.py
Due: none

WIP: Add Workflow For Notebook URL Fixes
  .github/workflows/notebook-urls.yml
  .pre-commit-config.yaml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

[skip ci] Display outputs.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

WIP: Provide examples path
  .github/workflows/notebook-urls.yml
Due: none

DOC: Update test link - Update test link
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

BUG: Set default file paths - Set default file paths
  .github/workflows/notebook-urls.yml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

WIP: Trigger notebook-urls on all files in examples - Trigger notebook-urls on all files in examples
  .github/workflows/notebook-urls.yml
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

WIP: Trigger notebook-urls on all files in examples - Trigger notebook-urls on all files in examples
  .github/workflows/notebook-urls.yml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

BUG: Fix inputs for workflow - Fix inputs for workflow
  .github/workflows/notebook-urls.yml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

BUG: Fix inputs for workflow - Fix inputs for workflow
  .github/workflows/notebook-urls.yml
Due: none

BUG: Fix inputs for workflow - Fix inputs for workflow
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

WIP: Default file paths for workflow - Default file paths for workflow
  .github/workflows/notebook-urls.yml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

WIP: Remove Line Breaks
  .github/workflows/notebook-urls.yml
Due: none

DOC: Pushing change on notebook to test if workflow works - Pushing change on notebook to test if workflow works
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] Add line to AffineWSITransformer class.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

📝 [skip ci] DOC: DFBR Jupyter Notebook revised (#494)
  docs/images/wsi-registration.png
  examples/10-wsi-registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

:bug: Fix W0612 on deepsource - Fix W0612 on deepsource
  tests/test_tiffreader.py
  whitelist.txt
Due: pytest-changed-files

:bug: Fix R0201 on deepsource - Fix R0201 on deepsource
  tests/test_annotation_tilerendering.py
  tests/test_pyramid.py
  whitelist.txt
Due: pytest-changed-files

:bug: Fix C0325 on deepsource - Fix C0325 on deepsource, remove unnecessary parenthesis
  tiatoolbox/tools/patchextraction.py
Due: none

:bug: Fix W0201 on deepsource - Fix W0201 on deepsource
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

:bug: Fix D0002 on deepsource - Fix D0002 on deepsource
  tiatoolbox/cli/common.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix R1728 on deepsource - Fix D0002 on deepsource, Redundant list comprehension can be replaced using generator
  tiatoolbox/utils/visualization.py
  tiatoolbox/wsicore/wsimeta.py
Due: none

:bug: Fix R1728 on deepsource - Fix R1728 on deepsource, Missing module/function docstring
  tiatoolbox/wsicore/wsireader.py
Due: none

:memo: Improve docstrings - Improve docstrings
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix PY-D0003 on DeepSource - Fix PY-D0003 on DeepSource, Missing module/function docstring.
  tiatoolbox/tools/patchextraction.py
Due: none

:bug: Fix PY-D0003 on DeepSource - Fix PY-D0003 on DeepSource, Missing module/function docstring.
  tiatoolbox/annotation/storage.py
Due: none

:bug: Fix PY-D0003 on DeepSource - Fix PY-D0003 on DeepSource, Missing module/function docstring.
  tiatoolbox/annotation/dsl.py
Due: none

:bug: BUG: Fix Deepsource Errors (#522)
  tests/models/test_patch_predictor.py
  tests/test_annotation_tilerendering.py
  tests/test_pyramid.py
  tests/test_tiffreader.py
  tiatoolbox/annotation/dsl.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/common.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

:memo: Update HISTORY.md - Update HISTORY.md
  HISTORY.md
Due: none

Bump version: 1.3.0 → 1.3.1
  .github/workflows/docker-publish.yml
  CITATION.cff
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: none

:heavy_minus_sign: DEP: Depreciate Python 3.7 support - Depreciate Python 3.7 support.
  .github/workflows/docker-publish.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  docker/3.7/Debian/Dockerfile
  docs/installation.rst
  requirements.conda.yml
  requirements.dev.conda.yml
  requirements.win64.conda.yml
  requirements.win64.dev.conda.yml
  setup.py
  tests/test_annotation_stores.py
  tox.ini
Due: pytest-changed-files

:arrow_up: UPD: Upgrade dependencies - Upgrade dependencies.
  .pre-commit-config.yaml
  docs/requirements.txt
  requirements.txt
  requirements_dev.txt
Due: none

:arrow_up: UPD: Update zarr version - Update zarr version.
  requirements.txt
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
