Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

add tests
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

✅ Add Tests for WKB to Coords
  tests/test_annotation_stores.py
Due: pytest-changed-files

🔥 Remove MultiPolygon from render_by_type Cases
  tiatoolbox/utils/visualization.py
Due: none

Apply suggestions from code review
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
Due: none

🐛 Fix Annotation WKB to Coords Tests
  tests/test_annotation_stores.py
Due: pytest-changed-files

🐛 Test Fixes
  tests/test_annotation_stores.py
Due: pytest-changed-files

⏪ Add Removed Imports
  tiatoolbox/utils/__init__.py
Due: none

⏪ Restore Removed Imports
  tiatoolbox/annotation/__init__.py
Due: none

[skip ci] Update docstring in `tiatoolbox/models/engine/io_config.py`
  tiatoolbox/models/engine/io_config.py
Due: none

:heavy_minus_sign: Remove isort dependency and use rff for import sorting.
  .pre-commit-config.yaml
  pyproject.toml
  requirements/requirements_dev.txt
Due: none

:recycle: Refactor imports using ruff isort.
  tests/models/test_dataset.py
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

[skip ci] :rotating_light: Add `ruff` checks to 10-wsi-registration.ipynb
  examples/10-wsi-registration.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

➖ Remove `isort` and Use `ruff` for sorting imports (#666)
  .pre-commit-config.yaml
  pyproject.toml
  requirements/requirements_dev.txt
  tests/models/test_dataset.py
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

🐛 Ensure Consistency Between WKB & Shapely Coords
  tests/test_annotation_stores.py
  tests/test_visualization.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

✅ Add MultiPoint Tests
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

✅ Add Test For Unknown Geomertry
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/enums.py
Due: pytest-changed-files

:rotating_light: Add return type to functions
  tiatoolbox/models/engine/io_config.py
Due: none

:hammer: Use set for unique values
  tests/engines/test_ioconfig.py
  tiatoolbox/models/engine/io_config.py
Due: pytest-changed-files

[skip ci] :memo: Update docstring.
  tiatoolbox/models/engine/io_config.py
Due: none

Convert List to Set where appropriate.
  tiatoolbox/models/engine/io_config.py
Due: none

:recycle: Use plural for values
  tiatoolbox/models/engine/io_config.py
Due: none

- Fix read_rect to make it work with 'mpp' and 'power' units
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Rename variable 'level_location' as '_level_location' since it is unused.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

:recycle: Refactor base code from `IOSegmentorConfig` to `ModelIOConfigABC` (#618)
  .github/workflows/python-package.yml
  tests/engines/__init__.py
  tests/engines/test_ioconfig.py
  tests/models/test_feature_extractor.py
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/models/__init__.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  whitelist.txt
Due: pytest-changed-files

Update tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/dataset/dataset_abc.py
Due: none

:recycle: Move Dataset Classes to `dataset_abc.py` (#637)
  tests/models/test_dataset.py
  tiatoolbox/models/__init__.py
  tiatoolbox/models/dataset/__init__.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/__init__.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:white_check_mark: fix fixtures to work in parallel
  tests/models/test_arch_micronet.py
  tests/models/test_hovernetplus.py
  tests/models/test_semantic_segmentation.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
