Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

:rewind: CI changes
  .github/workflows/python-package.yml
Due: none

:hammer: set parallel tests as a default option
  Makefile
Due: none

💚 Add own folder for .predict( methods
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:thread: Safer downloads
  tiatoolbox/utils/misc.py
Due: none

:heavy_plus_sign: add pytest-xdist dependency
  requirements/requirements_dev.txt
Due: none

:recycle: refactor `is_file` check
  tests/test_utils.py
Due: pytest-changed-files

💚 Add cache for the static assets
  tests/conftest.py
Due: none

:pushpin: Pin ruff to 0.0.281
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:pushpin: Use Path.open()
  tiatoolbox/annotation/storage.py
Due: none

:pushpin: Use `Path.glob()`
  examples/07-advanced-modeling.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add `ruff` checks to all notebooks.
  .pre-commit-config.yaml
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add ruff checks to annotation_nquery.ipynb and annotation_store.ipynb
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

💚 Add CI Cache (#644)
  .github/workflows/python-package.yml
Due: none

[skip ci] :rotating_light: Add ruff checks to annotation_nquery.ipynb and annotation_store.ipynb
  benchmarks/annotation_nquery.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Add ruff checks to annotation_nquery.ipynb and annotation_store.ipynb
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add ruff checks to all files with all options enabled.
  pyproject.toml
Due: none

:rotating_light: `ruff` tiatoolbox root
  tests/test_init.py
  tiatoolbox/__init__.py
Due: pytest-changed-files

Update tiatoolbox/__init__.py
  tiatoolbox/__init__.py
Due: none

:green_heart: Switch CI runner
  .github/workflows/python-package.yml
Due: none

:rotating_light: `ruff` tiatoolbox root (#678)
  tests/test_init.py
  tiatoolbox/__init__.py
Due: pytest-changed-files

:rotating_light: ruff cli/common
  tiatoolbox/cli/common.py
Due: none

:rotating_light: ruff cli/__init__.py
  tiatoolbox/cli/__init__.py
Due: none

:rotating_light: ruff cli/tissue_mask.py
  tiatoolbox/cli/tissue_mask.py
Due: none

:rotating_light: ruff cli/stain_norm.py
  tiatoolbox/cli/stain_norm.py
Due: none

:rotating_light: ruff cli/slide_thumbnail.py
  tiatoolbox/cli/slide_thumbnail.py
Due: none

:rotating_light: ruff cli/slide_info.py
  tiatoolbox/cli/slide_info.py
Due: none

:rotating_light: ruff cli/semantic_segment.py
  tiatoolbox/cli/semantic_segment.py
Due: none

:rotating_light: ruff cli/save_tiles.py
  tiatoolbox/cli/save_tiles.py
Due: none

:rotating_light: ruff cli/read_bounds.py
  tiatoolbox/cli/read_bounds.py
Due: none

:rotating_light: ruff cli/nucleus_instance_segment.py
  tiatoolbox/cli/nucleus_instance_segment.py
Due: none

:rotating_light: ruff cli/show_wsi.py
  tiatoolbox/cli/show_wsi.py
Due: none

:rotating_light: ruff cli/patch_predictor.py
  tiatoolbox/cli/patch_predictor.py
Due: none

:rotating_light: no coverage required for `TYPE_CHECKING`
  tiatoolbox/cli/common.py
  tiatoolbox/cli/tissue_mask.py
Due: none

:white_check_mark: Add tests for default bool values
  tests/test_tiatoolbox.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

🚨 Add `ruff` Checks to `cli` (#680)
  tests/test_tiatoolbox.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/read_bounds.py
  tiatoolbox/cli/save_tiles.py
  tiatoolbox/cli/semantic_segment.py
  tiatoolbox/cli/show_wsi.py
  tiatoolbox/cli/slide_info.py
  tiatoolbox/cli/slide_thumbnail.py
  tiatoolbox/cli/stain_norm.py
  tiatoolbox/cli/tissue_mask.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:rotating_light: `ruff` annotation_store_alloc.py
  benchmarks/annotation_store_alloc.py
Due: none

:rotating_light: `ruff` annotation_nquery.ipynb
  benchmarks/annotation_nquery.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Fix linter errors
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none
