Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:recycle: Refactor `typing` to `type_hints`.
  tests/test_annotation_stores.py
  tests/test_patch_extraction.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/dataset/classification.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/type_hints.py
  tiatoolbox/utils/image.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:bug: Fix `mypy` workflow
  .github/workflows/mypy-type-check.yml
Due: none

:pushpin: Python 3.12 for building docs
  .readthedocs.yml
Due: none

:memo: Update copyright year.
  docs/conf.py
Due: none

[skip ci] :memo: Update README.md
  README.md
Due: none

[skip ci] :memo: Remove redundant text.
  README.md
Due: none

[skip ci] :memo: Add index heading
  docs/conf.py
  docs/index.rst
  docs/usage_examples.rst
Due: none

[skip ci] :bug: Fix heading
  docs/index.rst
Due: none

comet format support
  tiatoolbox/utils/postproc_defs.py
  tiatoolbox/wsicore/wsireader.py
Due: none

UPD: Add read_bounds to TransformedWSIReader and update docstrings
  tiatoolbox/wsicore/wsireader.py
Due: none

UPD: Add to read_rect to keep padding
  tiatoolbox/wsicore/wsireader.py
Due: none

UPD: Change two methods to static_methods
  tiatoolbox/wsicore/wsireader.py
Due: none

FIX: Fix docstrings
  tiatoolbox/wsicore/wsireader.py
Due: none

Successfully implemented window-based segmentation
  examples/tiaviz-test.ipynb
  tiatoolbox/models/engine/general_segmentor.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: notebook-markdown-format

[skip ci] :memo: Improve Documentation (#913)
  CONTRIBUTING.rst
  README.md
  docs/conf.py
  docs/installation.rst
  docs/visualization.rst
  examples/README.md
Due: none

:bug: Fix `MapDe` `dist_filter` Shape (#914)
  tests/models/test_arch_mapde.py
  tiatoolbox/models/architecture/mapde.py
Due: pytest-changed-files

:hammer: Update `ruff` version
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:hammer: Update noqa for Unused static method argument
  tiatoolbox/annotation/storage.py
Due: none

UPD: Change docstrings and add H0-mini
  tiatoolbox/models/architecture/vanilla.py
Due: none

Add FsspecJsonWSIReader class. (#897)
  requirements/requirements.txt
  tests/test_wsireader.py
  tiatoolbox/utils/tiff_to_fsspec.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:hammer: Add `run` method to SemanticSegmentor
  tests/engines/test_patch_predictor.py
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor_new.py
Due: pytest-changed-files

:memo: Update docstring
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor_new.py
Due: none

:recycle: Refactor resolution to input_resolutions.
  tests/engines/test_engine_abc.py
  tests/engines/test_patch_predictor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor_new.py
Due: pytest-changed-files

:white_check_mark: Add test to cli.
  tests/engines/test_patch_predictor.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/semantic_segment.py
Due: pytest-changed-files

✨ Support for Additional Foundation Models (#906)
  tiatoolbox/models/architecture/vanilla.py
Due: none

:white_check_mark: Add SemanticSegmentor patch_mode test.
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/engine_abc.py
Due: pytest-changed-files

:bug: Fix `unet` architecture
  tests/models/test_arch_unet.py
Due: pytest-changed-files

:bug: Fix `test_datset` architecture
  tests/models/test_dataset.py
Due: pytest-changed-files

:white_check_mark: Add postproc to segmentation.
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/architecture/unet.py
Due: pytest-changed-files

:recycle: Move argmax postprocessing to utils.
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/architecture/vanilla.py
Due: none

UPD: Fix affine registration
  tiatoolbox/wsicore/wsireader.py
Due: none

:recycle: Use `input_resolutions` instead of `resolution` in Engine Params (#917)
  tests/engines/test_engine_abc.py
  tests/engines/test_patch_predictor.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/semantic_segment.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/io_config.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

metadata update
  tiatoolbox/wsicore/wsireader.py
Due: none

:white_check_mark: Check for cache_mode with zarr output.
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:white_check_mark: Update script for annotation store
  tests/engines/test_semantic_segmentor.py
  tests/test_utils.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/semantic_segmentor_new.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
