Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:arrow_up: Update ruff to 0.0.282
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:arrow_up: Update ruff to 0.0.282 (#681)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:rotating_light: `ruff` annotation_store.ipynb
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: `ruff` annotation_store.ipynb and annotation_nquery.ipynb
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

🚨 Add `ruff` Checks to All Jupyter Notebooks (#676)
  .pre-commit-config.yaml
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
  benchmarks/annotation_store_alloc.py
  pyproject.toml
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: `ruff` notebooks for #677
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Fix linter errors in benchmarks
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
  benchmarks/annotation_store_alloc.py
Due: notebook-check-ast, notebook-markdown-format

[skip ci] :rotating_light: Fix linter errors in benchmarks
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Fix linter errors in tests/test_annotation_stores.py
  tests/test_annotation_stores.py
Due: pytest-changed-files

:rotating_light: Fix linter errors in tests/test_enums.py and tests/test_test_visualization.py
  tests/test_enums.py
  tests/test_visualization.py
Due: pytest-changed-files

:rotating_light: Fix linter errors in tests
  tests/models/test_abc.py
  tests/models/test_arch_idars.py
  tests/models/test_arch_mapde.py
  tests/models/test_arch_micronet.py
  tests/models/test_arch_nuclick.py
  tests/models/test_arch_sccnn.py
  tests/models/test_arch_unet.py
  tests/models/test_feature_extractor.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_magic.py
  tests/test_tiffreader.py
  tests/test_tileserver.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors for pathlib.Path
  docs/conf.py
  pre-commit/requirements_consistency.py
  tests/conftest.py
  tests/models/test_arch_unet.py
  tests/models/test_multi_task_segmentor.py
  tests/test_patch_extraction.py
  tests/test_save_tiles.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_stainaugment.py
  tests/test_stainnorm.py
  tests/test_tileserver.py
  tests/test_tissuemask.py
  tests/test_visualization.py
  tests/test_wsi_registration.py
  tests/test_wsireader.py
  tiatoolbox/cli/read_bounds.py
  tiatoolbox/cli/slide_thumbnail.py
  tiatoolbox/models/architecture/__init__.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/magic.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors for pathlib.Path
  tests/models/test_dataset.py
  tests/models/test_feature_extractor.py
  tests/models/test_hovernetplus.py
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_data.py
  tests/test_magic.py
  tests/test_pyramid.py
  tests/test_save_tiles.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_stainnorm.py
  tests/test_tiatoolbox.py
  tests/test_tileserver.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors
  tests/conftest.py
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_magic.py
  tests/test_save_tiles.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_stainnorm.py
  tests/test_tiffreader.py
  tests/test_tileserver.py
  tests/test_tissuemask.py
  tests/test_utils.py
  tests/test_wsi_registration.py
  tests/test_wsimeta.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors annotations
  tests/conftest.py
  tests/models/test_arch_utils.py
  tests/models/test_arch_vanilla.py
  tests/models/test_dataset.py
  tests/models/test_hovernet.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_semantic_segmentation.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_data.py
  tests/test_dsl.py
  tests/test_exceptions.py
  tests/test_graph.py
  tests/test_magic.py
  tests/test_metrics.py
  tests/test_patch_extraction.py
  tests/test_pyramid.py
  tests/test_scale.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_stainnorm.py
  tests/test_tiatoolbox.py
  tests/test_tileserver.py
  tests/test_tissuemask.py
  tests/test_utils.py
  tests/test_visualization.py
  tests/test_wsi_registration.py
  tests/test_wsimeta.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors annotations
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_init.py
  tests/test_patch_extraction.py
  tests/test_utils.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix linter errors annotations
  tests/conftest.py
  tests/test_patch_extraction.py
  tests/test_slide_thumbnail.py
  tests/test_wsireader.py
Due: pytest-changed-files

:rotating_light: Fix import in conf.py
  docs/conf.py
Due: none

add some config tests
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:rotating_light: Fix ANN201 for tests return type.
  tests/conftest.py
  tests/models/test_arch_unet.py
  tests/models/test_dataset.py
  tests/models/test_feature_extractor.py
  tests/models/test_hovernet.py
  tests/models/test_hovernetplus.py
  tests/models/test_multi_task_segmentor.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_data.py
  tests/test_docs.py
  tests/test_dsl.py
  tests/test_magic.py
  tests/test_patch_extraction.py
  tests/test_pyramid.py
  tests/test_save_tiles.py
  tests/test_slide_info.py
  tests/test_slide_thumbnail.py
  tests/test_stainaugment.py
  tests/test_stainnorm.py
  tests/test_tiatoolbox.py
  tests/test_tiffreader.py
  tests/test_tileserver.py
  tests/test_tissuemask.py
  tests/test_utils.py
  tests/test_visualization.py
  tests/test_wsi_registration.py
  tests/test_wsimeta.py
  tests/test_wsireader.py
Due: pytest-changed-files

remove redundant code
  tiatoolbox/visualization/bokeh_app/app_hooks.py
  tiatoolbox/visualization/ui_utils.py
Due: none

:bug: Fix typo
  tests/models/test_nucleus_instance_segmentor.py
Due: pytest-changed-files

:rotating_light: Fix linter errors for `utils`
  tiatoolbox/utils/metrics.py
Due: none

:rotating_light: Add a function to misc for default bool values.
  tests/test_utils.py
  tiatoolbox/utils/magic.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:rotating_light: Fix FBT002
  tests/test_magic.py
  tests/test_utils.py
  tiatoolbox/utils/magic.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:rotating_light: Fix annotations
  tiatoolbox/utils/image.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
Due: none

ruff related changes
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/visualization/bokeh_app/app_hooks.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/ui_utils.py
Due: pytest-changed-files

deepsource/precommit fixes
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/visualization/bokeh_app/__init__.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

fix temp paths
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

deepsource changes
  requirements/requirements.txt
  tests/test_tileserver.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/visualization/tileserver_api.yml
Due: pytest-changed-files

deepsource fix
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

add tests
  tests/test_bokeh_app.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:rotating_light: Add `flake8-boolean-trap` checks
  tests/models/test_semantic_segmentation.py
  tests/test_magic.py
  tests/test_utils.py
  tests/test_wsireader.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/utils/magic.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

change graphs to json
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

:rotating_light: Add `flake8-boolean-trap` checks
  tests/test_visualization.py
  tiatoolbox/cli/nucleus_instance_segment.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/cli/save_tiles.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

:rotating_light: Add `flake8-boolean-trap` checks for `image.py`
  tests/test_utils.py
  tiatoolbox/utils/image.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
