Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

MAIN: improve coverage
  tests/models/test_arch_nuclick.py
  tiatoolbox/models/architecture/nuclick.py
Due: pytest-changed-files

UPD: remove activation option from ResidualConv
  tiatoolbox/models/architecture/nuclick.py
Due: none

TST: improve coverage for postprocessing
  tests/models/test_arch_nuclick.py
  tiatoolbox/models/architecture/nuclick.py
Due: pytest-changed-files

BUG: Fix Read TIFF Resolution Tag As A Fraction
  tiatoolbox/wsicore/wsireader.py
Due: none

BUG: Fix A Typo
  tiatoolbox/wsicore/wsireader.py
Due: none

UPD: Remove unused function
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

FIX: Deepsource error
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

BUG: Read TIFF Resolution Tags As A Fraction (#489)
  tiatoolbox/wsicore/wsireader.py
Due: none

address comments
  tests/test_annotation_stores.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

MAINT: update documentations with Shan suggestions
  tiatoolbox/models/architecture/nuclick.py
Due: none

MAIN: fix docstrings
  tiatoolbox/models/architecture/nuclick.py
Due: none

MAINT: fix spelling in arguments
  tiatoolbox/models/architecture/nuclick.py
Due: none

MAINT: set arguments type hints
  tiatoolbox/models/architecture/nuclick.py
Due: none

DOC: Fix docstring spacing
  tiatoolbox/models/architecture/nuclick.py
Due: none

[skip ci] Update reference
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

Add resample function for bspline
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

Add test and docstring
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

[skip ci] Add details of wsi alignment in readme file
  docs/images/wsi-registration.png
  examples/README.md
Due: none

- Test coverage
  tests/test_wsi_registration.py
Due: pytest-changed-files

ENH: Annotation Storage Additions For Visualization (#445)
  tests/test_annotation_stores.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

- Fix merge issue
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Update tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DEV: Use logger instead of print in `save_tiles.py` - Use logger instead of print in `save_tiles.py`
  tiatoolbox/wsicore/save_tiles.py
  tiatoolbox/wsicore/wsireader.py
Due: none

BUG: Remove verbose from exceptions test - Remove verbose from exceptions test
  tests/test_exceptions.py
Due: pytest-changed-files

remove unnecessary import
  tiatoolbox/annotation/storage.py
Due: none

BUG: Remove verbose from exceptions test - Remove verbose from exceptions test
  tiatoolbox/cli/save_tiles.py
Due: none

- Use kwargs
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Update kwargs in doc-string
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Add reference for B-spline
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- B-spline for rgb images and improve test coverage.
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Remove commented lines of code
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Fix too long line.
  tests/test_wsi_registration.py
Due: pytest-changed-files

- replace logger with print
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

BUG: Fix Bug When OME-TIFF Missing Objective Power
  tiatoolbox/wsicore/wsireader.py
Due: none

BUG: Fix Incorrect Arguments To Helper Functions
  tiatoolbox/wsicore/wsireader.py
Due: none

MANT: Remove Unused Variables
  tiatoolbox/wsicore/wsireader.py
Due: none

BUG: Fix Bug When Parsing TIFF Metadata In _info
  tiatoolbox/wsicore/wsireader.py
Due: none

NEW: Non-Rigid Registration Using SimpleITK (#488)
  requirements.txt
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files
