Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:rotating_light: Add `flake8-boolean-trap` checks for `stainaugment.py`
  tests/test_utils.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/utils/misc.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:rotating_light: Add `flake8-boolean-trap` checks for `cli`
  tiatoolbox/cli/semantic_segment.py
  tiatoolbox/cli/slide_info.py
Due: none

:rotating_light: Fix annotations FBT errors with keyword only arguments for bool
  tests/test_tiatoolbox.py
  tests/test_utils.py
  tiatoolbox/models/architecture/__init__.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/vanilla.py
  tiatoolbox/models/models_abc.py
Due: pytest-changed-files

:bug: Fix infer_batch() takes 2 positional arguments but 3 were given
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:rotating_light: Fix flake8-boolean-trap for misc.py
  tests/models/test_arch_mapde.py
  tests/models/test_arch_micronet.py
  tests/models/test_arch_sccnn.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
  tiatoolbox/models/architecture/vanilla.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:fire: Remove redundant code.
  tiatoolbox/cli/common.py
Due: none

:rotating_light: Fix patchextraction.py for boolean trap.
  tests/test_patch_extraction.py
  tiatoolbox/tools/patchextraction.py
Due: pytest-changed-files

:rotating_light: Fix nuclick.py for boolean trap.
  tiatoolbox/models/architecture/nuclick.py
Due: none

:rotating_light: Fix classification.py for boolean trap.
  tiatoolbox/models/dataset/classification.py
Due: none

:rotating_light: Fix `models` for flake8-boolean-trap.
  tests/models/test_patch_predictor.py
  tests/models/test_semantic_segmentation.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:bug: Fix tuple and list mismatch.
  tests/models/test_patch_predictor.py
Due: pytest-changed-files

:rotating_light: Fix `annotation` for flake8-boolean-trap.
  benchmarks/annotation_store_alloc.py
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

:rotating_light: Add FBT to ruff checks.
  pyproject.toml
Due: none

:rotating_light: Add FBT to ruff checks.
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

initial documentation draft
  docs/index.rst
  docs/visualization.rst
Due: none

:rewind: Revert changes to notebooks.
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

boolean trap stuff
  tests/test_bokeh_app.py
  tests/test_bokeh_config.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:rotating_light: Fix linter errors in image.py
  tiatoolbox/utils/image.py
Due: none

:rotating_light: Fix flake8-bandit errors
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/utils/env_detection.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Fix flake8-bandit errors
  tests/test_annotation_stores.py
  tests/test_utils.py
  tests/test_wsireader.py
Due: pytest-changed-files

:bug: Fix merge errors
  tiatoolbox/annotation/storage.py
Due: none

:rotating_light: Add `flake8-bandit` to checks in env_detection.py
  pyproject.toml
  tiatoolbox/utils/env_detection.py
Due: none

:rotating_light: Add `flake8-bandit` to checks in storage.py
  tiatoolbox/annotation/storage.py
Due: none

:bug: Fix tests
  tests/test_annotation_stores.py
Due: pytest-changed-files

:rotating_light: Add `flake8-bandit` checks to test_utils.py
  tests/test_utils.py
Due: pytest-changed-files

:rotating_light: Add `flake8-bandit` checks
  benchmarks/annotation_store_alloc.py
  pre-commit/notebook_urls.py
  tests/test_dsl.py
  tests/test_init.py
Due: pytest-changed-files

:rotating_light: Add `flake8-bandit` checks
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Add `flake8-bandit` checks
  examples/full-pipelines/slide-graph.ipynb
Due: notebook-check-ast, notebook-markdown-format

:bug: Fix OOM error
  tests/test_utils.py
Due: pytest-changed-files

:bug: Fix Coverage
  tiatoolbox/wsicore/wsireader.py
Due: none

:rotating_light: Fix PYL-R0201 error due to formatting.
  tiatoolbox/tools/stainaugment.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
