Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:rotating_light: Deepsource likes the flag on a different line?
  tiatoolbox/tools/stainaugment.py
Due: none

:arrow_up: Upgrade ruff to `0.0.283`
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:rotating_light: Fix PYI041 Use `float` instead of `int | float`
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/utils/misc.py
  tiatoolbox/wsicore/wsimeta.py
Due: none

:rotating_light: Fix PYI045 `__iter__` methods should return an `Iterator`, not an `Iterable`
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/pyramid.py
Due: none

:rotating_light: Use cell magics to specify bash cells
  examples/03-tissue-masking.ipynb
Due: notebook-check-ast, notebook-markdown-format

Update python-package.yml
  .github/workflows/python-package.yml
Due: none

Update tests/test_utils.py
  tests/test_utils.py
Due: pytest-changed-files

:recycle: switched to `Path`
  tests/models/test_semantic_segmentation.py
Due: pytest-changed-files

:arrow_up: Upgrade `ruff` to `0.0.284`
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:arrow_up: Upgrade `ruff` to `0.0.284` (#690)
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  requirements/requirements_dev.txt
Due: none

:adhesive_bandage: Add `imwrite` Check (#646)
  tests/test_utils.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:rotating_light: Add `Pylint` Checks
  pyproject.toml
Due: none

:rotating_light: Fix `annotation_store_alloc.py` `Pylint` Checks
  benchmarks/annotation_store_alloc.py
Due: none

:rotating_light: Fix `benchmarks` for `Pylint` Checks
  benchmarks/annotation_nquery.ipynb
  benchmarks/annotation_store.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Fix minor changes for `Pylint` Checks
  pre-commit/missing_imports.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/visualization/tileserver.py
Due: none

:rotating_light: Fix minor `idars` for `Pylint` Checks
  examples/inference-pipelines/idars.ipynb
Due: notebook-check-ast, notebook-markdown-format

:rotating_light: Fix `wsimeta.py` for `Pylint` Checks
  tiatoolbox/wsicore/wsimeta.py
Due: none

:rotating_light: Fix image.py for `Pylint` and `Ann` Checks
  tiatoolbox/utils/image.py
  tiatoolbox/utils/visualization.py
Due: none

:bug: Fix tests for patch extraction
  tiatoolbox/utils/image.py
Due: none

:rotating_light: Fix linter errors
  tiatoolbox/utils/env_detection.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/utils/visualization.py
Due: none

:recycle: Remove tests for engines and move them to tests/engine
  tests/engines/_test_multi_task_segmentor.py
  tests/engines/_test_nucleus_instance_segmentor.py
  tests/engines/_test_patch_predictor.py
  tests/engines/_test_semantic_segmentation.py
Due: none

:bug: Fix linter errors
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/engine_abc.py
Due: none

:sparkles: Add basic structure for `run`
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/__init__.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

🚨 Fix Linter Errors in `utils` (#685)
  tiatoolbox/utils/env_detection.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/transforms.py
  tiatoolbox/utils/visualization.py
Due: none

:bug: Fix unused tests
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
Due: pytest-changed-files

:memo: Add suggestions
  tests/engines/_test_patch_predictor.py
  tiatoolbox/cli/patch_predictor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
