Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

Edited to allow for multiple rust libraries
  Cargo.toml
  pyproject.toml
  tiatoolbox/rust-library/misc/Cargo.toml
  tiatoolbox/rust-library/misc/src/lib.rs
  tiatoolbox/rust-library/multitask/Cargo.toml
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Edited to allow for multiple rust libraries
  tiatoolbox/rust-library/misc/src/lib.rs
Due: none

Improved benchmarking
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

Changed dropdown box to combobox
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Corrected types
  tiatoolbox/rmisc.pyi
Due: none

Update README
  tiatoolbox/visualization/openlayers/README.md
Due: none

Edited so that it can locate rust tests
  tiatoolbox/rust-library/misc/Cargo.toml
Due: none

Added new test
  tests/test_rust.py
Due: pytest-changed-files

Added new tests for save_qupath_json
  tests/test_utils.py
Due: pytest-changed-files

Added rust to readthedocs
  .readthedocs.yml
Due: none

Edited to have a new test for multitask rust
  tests/test_rust.py
Due: pytest-changed-files

Edited to have more tests for patch_predictions_as_annotations
  tests/test_rust.py
Due: pytest-changed-files

Improved tests
  tests/test_rust.py
Due: pytest-changed-files

Make zoom level editable
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Improved tests to cover all possibilities
  tests/test_rust.py
Due: pytest-changed-files

Correct to ignore error message
  tests/test_rust.py
Due: pytest-changed-files

Updated formatting
  .github/workflows/rust.yml
  pyproject.toml
Due: none

Hide full file path
  tiatoolbox/cli/visualize.py
  tiatoolbox/visualization/tileserver.py
Due: none

Edited to have build single qupath feature to use rust
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Updated build_single_qupath_feature to have improved formatting
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Moving around the buttons
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/visualization/openlayers/src/style.css
Due: none

Added recursive file discovery
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/tileserver.py
Due: none

Add some tests loading files
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Small change to README
  tiatoolbox/visualization/openlayers/README.md
Due: none

Updated types in build single qupath feature
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Updated formatting of multitask rust library
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Updated formatting
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Improved benchmarking to include more tests
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

🚚 Additional improvement to toolbox setup workflow (#1112)
  CONTRIBUTING.rst
  docs/installation.rst
  pyproject.toml
  setup.py
Due: none

Improved benchmarking to pass pre-commit tests
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
Due: notebook-markdown-format

:recycle: Refactor `DICOMWSIReader` (#1087)
  tests/test_app_bokeh.py
  tests/test_wsireader.py
  tiatoolbox/visualization/bokeh_app/main.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/detection.py
  tiatoolbox/wsicore/wsireader/dicom.py
  tiatoolbox/wsicore/wsireader/factory.py
Due: pytest-changed-files

Added tests for codecov coverage
  tests/test_tileserver.py
  tiatoolbox/cli/visualize_beta.py
Due: pytest-changed-files

Added in benchmarking for comparing multitask functions
  benchmarks/comparing_multitask_functions_in_rust_v_python.ipynb
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: notebook-markdown-format

Updated rmultitask to improve formatting
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Small fix with metadata
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Fixed problems with dcm and zarr files
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Open files panel by default
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Added compute_annotations to rmultitask
  benchmarks/comparing_multitask_functions_in_rust_v_python.ipynb
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: notebook-markdown-format

Updated formatting for rmultitask
  tiatoolbox/rust-library/multitask/src/lib.rs
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
