Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, requirements-consistency

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  language: system
  stages:
  - push

requirements-consistency:
  name: check requirements are consistent
  entry: python pre-commit/requirements_consistency.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - pyyaml

DOC: Intersphinx mapping torch. - Intersphinx mapping torch.
  docs/conf.py
  tiatoolbox/models/architecture/idars.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/unet.py
Due: none

DEV: intersphinx mapping. - intersphinx mapping.
  docs/conf.py
Due: none

DOC: Fix typos. - Fix typos except models.
  docs/conf.py
  tiatoolbox/__init__.py
  tiatoolbox/data/__init__.py
  tiatoolbox/models/__init__.py
  tiatoolbox/tools/__init__.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/utils/__init__.py
  tiatoolbox/utils/image.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/__init__.py
  tiatoolbox/visualization/tileserver.py
Due: none

BUG: Remove unnecessary import - Remove unnecessary import.
  tiatoolbox/models/__init__.py
Due: none

DOC: Fix typos - Fix typos
  tiatoolbox/models/architecture/__init__.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/utils.py
  tiatoolbox/models/engine/__init__.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
Due: none

DOC: Class attributes should be initialised in __init__ - Class attributes should be initialised in __init__
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
Due: none

DEV: Update requirements.txt - Update requirements.txt
  requirements.txt
Due: requirements-consistency

DOC: JNB-RTD consistency for full-pipelines/slide-graph.ipynb (#425)
  examples/full-pipelines/slide-graph.ipynb
Due: none

DEV: Add html options to docs/conf.py - Add html options to docs/conf.py
  docs/conf.py
Due: none

Update tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/nuclick.py
Due: none

MAINT: Use html tags for em-dash and right arrow in text cells. Incorporate changes required by pre-commit hooks.
  examples/01-wsi-reading.ipynb
Due: none

address comments
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

DOC: JNB-RTD consistency for 01-wsi-reading.ipynb (#429)
  examples/01-wsi-reading.ipynb
Due: none

DEV: Add svg options to docs/conf.py - Add svg options to docs/conf.py
  docs/conf.py
Due: none

DEV: Add dark theme svg options to docs/conf.py - Add dark theme svg options to docs/conf.py
  docs/conf.py
Due: none

DEV: Add macOS To pip Install Workflow
  .github/workflows/pip-install.yml
Due: none

Update tiatoolbox/annotation/storage.py
  tiatoolbox/annotation/storage.py
Due: none

DOC: Change HTML Theme to furo (#457)
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/readme.md
  docs/readme.rst
  docs/requirements.txt
Due: requirements-consistency

add tests
  tests/test_annotation_stores.py
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

deepsource fixes
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: none

DOC: Update docstrings.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DEV: Replace math with numpy for sqrt.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Add reference to original paper.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Remove space.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

reduce complexity
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

DEV: Add register method.
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

extra tests
  tests/test_utils.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

more tests
  tests/test_annotation_stores.py
  tests/test_utils.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

DEV: Replace OrderedDict with dict.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  requirements-consistency: any of: (requirements.*.(txt|yml|yaml)|setup.py)$
