Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, requirements-consistency

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  language: system
  stages:
  - push

requirements-consistency:
  name: check requirements are consistent
  entry: python pre-commit/requirements_consistency.py
  pass_filenames: false
  language: python
  additional_dependencies:
  - pyyaml

TST: Fix merge conflicts. - Fix merge conflicts.
  tests/conftest.py
Due: none

DOC: Add type hints and fix docstring. - Add type hints and fix docstring.
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
Due: none

deepsource fixes
  tiatoolbox/annotation/storage.py
Due: none

precommit fixes
  tiatoolbox/annotation/storage.py
Due: none

DOC: Add type hints
  tests/conftest.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Rename class
  tests/test_wsi_registration.py
Due: pytest-changed-files

DOC: Add new line. - Add new line.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

NEW: Feature Extraction for Deep Feature Based Registration (#437)
  tests/conftest.py
  tests/test_wsi_registration.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

DOC: Update Python version to 3.10 for build.
  .readthedocs.yml
Due: none

DOC: Update OS and Python version
  .readthedocs.yml
Due: none

DEV: Remove `python.version` setting
  .readthedocs.yml
Due: none

DOC: Use `myst_parser`
  docs/conf.py
Due: none

DOC: Unhide hidden text cells
  examples/inference-pipelines/idars.ipynb
Due: none

DOC: Unhide hidden code cell. Format arguments of some functions. :wq
  examples/inference-pipelines/idars.ipynb
Due: none

Add typehints, update docstrings
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DEV: Add `myst-parser` to `docs/requirements.txt`
  docs/requirements.txt
Due: requirements-consistency

MAINT: Change "tail --lines 1" to "tail -n 1"
  examples/inference-pipelines/idars.ipynb
Due: none

DOC: make clean-up bullet-proof against execution interruption.
  examples/inference-pipelines/idars.ipynb
Due: none

add tests
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

MAINT: improve wording in one text cell
  examples/inference-pipelines/idars.ipynb
Due: none

DEV: Add dependencies for sphinx build. - Add dependencies for sphinx build.
  docs/requirements.txt
  requirements.conda.yml
  requirements.dev.conda.yml
  requirements.win64.conda.yml
  requirements_dev.txt
Due: requirements-consistency

MAINT: Add typehints. - Add typehints.
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
Due: none

NEW: add nuclick architecture
  tiatoolbox/models/architecture/nuclick.py
Due: none

DEV: Remove development dependencies from base requirements file. - Remove development dependencies from base requirements file.
  requirements.conda.yml
  requirements.win64.conda.yml
Due: requirements-consistency

DOC: Remove dot
  tiatoolbox/models/architecture/mapde.py
Due: none

DOC: Update Python Version To `3.10` in Readthedocs. (#447)
  .readthedocs.yml
  docs/requirements.txt
  requirements.conda.yml
  requirements.dev.conda.yml
  requirements.win64.conda.yml
  requirements_dev.txt
Due: requirements-consistency

improve readability
  tiatoolbox/annotation/storage.py
Due: none

DOC: On Colab use develop version of tiatoolbox. Fix consequent pre-commit complaints
  examples/inference-pipelines/idars.ipynb
Due: none

DOC: Improve some text cells. Change default ON_GPU to True. Satisfy consequent pre-commit requirements.
  examples/inference-pipelines/idars.ipynb
Due: none

MAINT: fix minor typo
  examples/07-advanced-modeling.ipynb
Due: none

add mask ratio parameter in patch extractor
  tiatoolbox/tools/patchextraction.py
Due: none

black linting
  tiatoolbox/tools/patchextraction.py
Due: none

deal with special case when min_mask_ratio is zero
  tiatoolbox/tools/patchextraction.py
Due: none

add linting
  tiatoolbox/tools/patchextraction.py
Due: none

DEV: Remove nbsphinx and replace it with myst-nb. - Remove nbsphinx and replace it with myst-nb.
  docs/conf.py
  docs/requirements.txt
Due: requirements-consistency

DEV: Remove nbsphinx from notebook 05. - Remove nbsphinx from notebook 05.
  examples/05-patch-prediction.ipynb
Due: none

[SKIP CI] DEV: Comment all notebooks except full pipeline. - Comment all notebooks except full pipeline for test.
  docs/notebooks.rst
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  requirements-consistency: any of: (requirements.*.(txt|yml|yaml)|setup.py)$
