Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_commit_msg: ':technologist: pre-commit autoupdate'
  autoupdate_schedule: 'monthly'
repos:
  - repo: local
    hooks:
      - id: pytest-changed-files
        name: pytest-changed-files
        entry: pytest
        files: tests/.*\btest_\w*.py
        require_serial: true
        language: system
        stages: [pre-push]
      - id: notebook-markdown-format
        name: notebook markdown format
        entry: python pre-commit/notebook_markdown_format.py
        require_serial: true
        types_or: [jupyter]
        language: python
        additional_dependencies:
        - mdformat
        - mdformat-black
        - mdformat-myst
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.18
    hooks:
    - id: mdformat
      # Optionally add plugins
      additional_dependencies:
      - mdformat-gfm  # GitHub flavoured markdown
      - mdformat-black  # Black formatting for python verbatim blocks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast               # Simply checks whether the files parse as valid Python.
      - id: fix-byte-order-marker   # Removes utf-8 byte order marker.
      - id: check-json              # Checks JSON files for parseable syntax.
      - id: check-merge-conflict    # Checks for files that contain merge conflict strings.
      - id: check-symlinks          # Checks for symlinks which do not point to anything.
      - id: check-toml              # Checks TOML files for parseable syntax.
      - id: check-xml               # Checks XML files for parseable syntax.
      - id: check-yaml              # Checks YAML files for parseable syntax.
      - id: destroyed-symlinks      # Detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key      # Detects the presence of private keys.
      - id: end-of-file-fixer       # Ensures that a file is either empty, or ends with one newline.
      - id: mixed-line-ending       # Replaces or checks mixed line endings.
      - id: requirements-txt-fixer  # Sorts entries in requirements.txt.
      - id: trailing-whitespace     # Trims trailing whitespace.
      - id: file-contents-sorter    # Sorts the lines in specified files (defaults to alphabetical).
        files: whitelist.txt
      - id: debug-statements        # Checks for debugger imports and py37+ `breakpoint()` calls in python source.
      - id: pretty-format-json      # Sets a standard for formatting JSON files.
        exclude_types: [jupyter]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks           # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons    # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

Add secondary annotation colour mapping
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Improve annotation ranges
  tests/javascript/utils/numbers.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/numbers.js
Due: none

Fix annotation inspection timing
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
Due: none

Fix eval, Fix Codecov, Introducing use example
  tests/test_mc_dropout_units.py
  tiatoolbox/models/architecture/bayesian_wrapper.py
  tiatoolbox/models/architecture/vanilla.py
  tiatoolbox/models/engine/deep_feature_extractor.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/mc_dropout.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/prompt_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
  tiatoolbox/models/engine/uncertainty.py
Due: pytest-changed-files

Polish annotation controls
  tests/javascript/utils/annotation-filters.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/annotation-filters.js
Due: none

Fix codecov and deepsource checks
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/javascript/utils/annotation-colours.test.js
  tiatoolbox/visualization/tileserver.py
Due: none

Fix codecov and deepsource again
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Rename annotation selection controls
  tests/javascript/panels/annotations.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
Due: none

Fix for deepsource test
  tests/test_mc_dropout_units.py
Due: pytest-changed-files

Add independent annotation layer controls
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Update Vitest dependencies together
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

Only show selected class in Class + Property mode
  tests/javascript/panels/annotations.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
Due: none

Add linked annotation opacity controls
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Add annotation colour import
  tests/javascript/panels/annotations.test.js
  tests/javascript/utils/annotation-colours.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
Due: pytest-changed-files

Add annotation palette controls
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Add annotation selection highlighting
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/settings.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Fix github ai problem
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Rebuild legacy OpenLayers viewer
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.js
Due: none

Improve annotation class colour handling
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Fixing codecov coverage
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Add OpenLayers annotation controls (#1144)
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/javascript/panels/settings.test.js
  tests/javascript/utils/annotation-colours.test.js
  tests/javascript/utils/annotation-filters.test.js
  tests/javascript/utils/numbers.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/utils/visualization.py
  tiatoolbox/visualization/openlayers/README.md
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/openlayers/src/styles/controls.css
  tiatoolbox/visualization/openlayers/src/styles/panels.css
  tiatoolbox/visualization/openlayers/src/styles/states.css
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
  tiatoolbox/visualization/openlayers/src/utils/annotation-filters.js
  tiatoolbox/visualization/openlayers/src/utils/numbers.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:bug: Fix package-lock json
  tiatoolbox/visualization/openlayers/package-lock.json
Due: none

Bump vitest and @vitest/coverage-v8
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

:arrow_up: Upgrade `wsidicom>=0.36.1`
  pyproject.toml
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader/dicom.py
Due: pytest-changed-files

:arrow_up: Upgrade `wsidicom>=0.36.0`
  pyproject.toml
Due: none

:pushpin: Pin `wsidicom<0.36.0`
  pyproject.toml
Due: none

:pushpin: Pin `wsidicom<0.36.0` (#1154)
  pyproject.toml
Due: none

:bug: Fix pre-commit errors
  tiatoolbox/visualization/openlayers/package-lock.json
Due: none

Fix brace-expansion
  tiatoolbox/visualization/openlayers/package-lock.json
Due: none

:pushpin: Update `ruff` version to `0.16.10`
  .github/workflows/python-package.yml
  pyproject.toml
Due: none

:recycle: Refactor `AnnotationStoreReader`
  examples/04-patch-extraction.ipynb
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/annotation_store.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/factory.py
Due: notebook-markdown-format

:recycle: Refactor `AnnotationStoreReader` import
  tiatoolbox/wsicore/wsireader/factory.py
Due: none

:recycle: Refactor `AnnotationStoreReader` (#1162)
  examples/04-patch-extraction.ipynb
  tiatoolbox/tools/patchextraction.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/annotation_store.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/factory.py
Due: notebook-markdown-format

update notebook WIP
  examples/06-semantic-segmentation.ipynb
Due: notebook-markdown-format

:fire: Remove `uv.lock`
  uv.lock
Due: none

update notebook example(WIP)
  examples/06-semantic-segmentation.ipynb
  tests/models/test_arch_segformer.py
  tiatoolbox/models/architecture/segformer.py
Due: pytest-changed-files, notebook-markdown-format
