Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:rewind: Use `cached_property`.
  tiatoolbox/wsicore/wsireader.py
Due: none

:memo: Fix typos
  tests/test_annotation_stores.py
  tiatoolbox/annotation/storage.py
Due: pytest-changed-files

[skip ci] :memo: Fix typos
  docs/installation.rst
Due: none

NEW: add python 3.11 to docker files
  docker/3.11/Debian/Dockerfile
  docker/3.11/Ubuntu/Dockerfile
Due: none

NEW: add python 3.12 to docker files
  docker/3.12/Debian/Dockerfile
  docker/3.12/Ubuntu/Dockerfile
Due: none

:technologist: Address comments
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/patch_predictor.py
Due: pytest-changed-files

:bug: Fix SIM401 errors
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/utils/misc.py
Due: none

:technologist: Default is None for `kwargs.get()`
  tiatoolbox/models/engine/engine_abc.py
Due: none

:bug: Fix patch processing.
  tiatoolbox/models/engine/engine_abc.py
Due: none

fix stainnorm.py typing
  tiatoolbox/tools/stainnorm.py
Due: none

update mypy-type-check.yml
  .github/workflows/mypy-type-check.yml
Due: none

fix stainaugment.py
  .github/workflows/mypy-type-check.yml
  tiatoolbox/tools/stainaugment.py
Due: none

update stainaugment.py
  tiatoolbox/tools/stainaugment.py
Due: none

:white_check_mark: Add tests
  tests/engines/test_engine_abc.py
  tiatoolbox/models/engine/engine_abc.py
Due: pytest-changed-files

update stainaugment.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/tools/stainnorm.py
Due: none

👷 Enable CI checks
  .github/workflows/mypy-type-check.yml
Due: none

update stainnorm.py
  tiatoolbox/tools/stainnorm.py
Due: none

👷 Add python package checks
  .github/workflows/python-package.yml
Due: none

BUG: fix box in docker files
  docker/3.11/Ubuntu/Dockerfile
  docker/3.12/Ubuntu/Dockerfile
Due: none

:pushpin: Update minimum Python version to `3.9` (#786)
  .github/workflows/docker-publish.yml
  .github/workflows/mypy-type-check.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  README.md
  benchmarks/annotation_store.ipynb
  benchmarks/annotation_store_alloc.py
  docker/3.11/Debian/Dockerfile
  docker/3.11/Ubuntu/Dockerfile
  docker/3.12/Debian/Dockerfile
  docker/3.12/Ubuntu/Dockerfile
  docs/installation.rst
  examples/full-pipelines/slide-graph.ipynb
  pyproject.toml
  requirements/requirements.conda.yml
  requirements/requirements.dev.conda.yml
  requirements/requirements.win64.conda.yml
  requirements/requirements.win64.dev.conda.yml
  setup.py
  tests/test_annotation_stores.py
  tests/test_app_bokeh.py
  tests/test_docs.py
  tests/test_dsl.py
  tests/test_wsireader.py
  tiatoolbox/__init__.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/cli/visualize.py
  tiatoolbox/data/__init__.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/tools/stainextract.py
  tiatoolbox/typing.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files, notebook-markdown-format

:bug: Fix NPY002 Replace legacy `np.random.sample` call with `np.random.Generator`
  tests/test_graph.py
Due: pytest-changed-files

:pushpin: Pin dependency
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:bug: Fix deepsource errors
  tiatoolbox/wsicore/wsireader.py
Due: none

📌 Update `wsidicom` dependency (#785)
  requirements/requirements.txt
Due: none

add reading slide-level info from provided csv
  tests/test_app_bokeh.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

add documentation entry
  docs/visualization.rst
  tiatoolbox/visualization/bokeh_app/main.py
Due: none

fix typo
  docs/visualization.rst
Due: none

improve test coverage
  tests/test_json_config_bokeh.py
  tiatoolbox/visualization/bokeh_app/main.py
Due: pytest-changed-files

:bug: Fix testing abstract class
  tests/engines/test_engine_abc.py
Due: pytest-changed-files

:hammer: Set overwrite to False as per documentation.
  tiatoolbox/models/engine/engine_abc.py
Due: none

:memo: Improve documentation documentation.
  tiatoolbox/models/engine/engine_abc.py
Due: none

:memo: Improve documentation documentation.
  tests/engines/test_engine_abc.py
Due: pytest-changed-files

:white_check_mark: Fix interpolation test.
  tests/test_wsireader.py
Due: pytest-changed-files

:children_crossing: Handle Multidimensional `Features` in `WSIReader` (#742)
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
