Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

- Add comments for Affine transform
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Replace reverse_translation with inverse_translation
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Output results
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Clear unnecessary outputs.
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Set ON_GPU = True
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Remove empty cell.
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

BUG: Read MPP Metadata From NGFF v0.4 Zattrs
  tiatoolbox/wsicore/metadata/ngff.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: none

BUG: Fix Use Before Reference Error
  tiatoolbox/wsicore/wsireader.py
Due: none

REF: Refactor code for readability - Refactor code for readability
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Make WSL2 recommend bold
  docs/installation.rst
Due: none

- Add test for test_filtering_matching_points
  tests/test_wsi_registration.py
Due: pytest-changed-files

- Merge parent branch
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Remove cells from documentation - Remove cells from documentation
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Test coverage
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

TST: Add Unit Test for Reading MPP
  tests/test_wsireader.py
Due: pytest-changed-files

BUG: Fix Reading MPP For NGFF
  tiatoolbox/wsicore/wsireader.py
Due: none

- Test coverage
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Add tag to remove cells
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

- Add non-rigid registration function
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Fix partial test coverage
  tests/test_wsi_registration.py
Due: pytest-changed-files

- Replace scipy with opencv for computing center of mass
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Add test for estimate_bspline_transform
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Simplify compute_center_of_mass function
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- Add heading for reading images
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

NEW: Add DFBRegistration Function (#465)
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

- Update installation section
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] Remove outputs
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

MAINT: Minor Docstring Edit
  tiatoolbox/wsicore/wsireader.py
Due: none

MNT: Minor Comment Edit
  tiatoolbox/wsicore/wsireader.py
Due: none

REF: Use lower case for sitk - Use lower case for sitk
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

TST: Add Unit Tests For Zattrs MPP
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Add Unit Tests
  tests/test_wsireader.py
Due: pytest-changed-files

DEV: Update requirements.txt
  requirements.txt
Due: none

MANT: Refactor Test
  tests/test_wsireader.py
Due: pytest-changed-files

BUG: Read MPP Metadata From NGFF v0.4 Zattrs (#486)
  tests/test_wsireader.py
  tiatoolbox/wsicore/metadata/ngff.py
  tiatoolbox/wsicore/wsireader.py
  whitelist.txt
Due: pytest-changed-files

UPD: add nuclick to pretrained models
  tiatoolbox/data/pretrained_model.yaml
Due: none

UPD: add nuclick-output to remote_samples
  tests/models/test_arch_nuclick.py
  tiatoolbox/data/remote_samples.yaml
Due: pytest-changed-files

MINT: fix deepsource errors
  tests/models/test_arch_nuclick.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
