Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:white_check_mark: Update hovernet postprocessing to be compatible with multitask design
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
Due: none

use numpy for full batch if possible
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

add to notebook
  examples/nucleus-detection.ipynb
  tiatoolbox/models/engine/nucleus_detector.py
Due: notebook-markdown-format

remove test.py
  examples/test.py
Due: none

update notebook
  examples/nucleus-detection.ipynb
Due: notebook-markdown-format

:construction: Initial implementation of merged predictions
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:construction: Initial implementation of merged predictions
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add support for tile based "predictions" output
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add support for tile based "predictions" output
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix deepsource error
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
Due: none

:bug: Fix deepsource error
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix `mypy` error
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: none

:bug: Fix deepsource errors
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:bug: Fix coverage for `misc.py`
  tests/engines/test_multi_task_segmentor.py
  tests/test_utils.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

:bug: Fix coverage for `multi_task_segmentor.py`
  tests/engines/test_multi_task_segmentor.py
  tests/test_utils.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

add test for prepare_full_batch
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:memo: Update docstrings.
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

improve test coverage
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:memo: Update docstrings.
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

:pushpin: Pin `dask>=2026.1.2` - dask version 2026.1.2 has breaking changes
  requirements/requirements.txt
  tiatoolbox/models/engine/engine_abc.py
Due: none

:white_check_mark: Add CLI support.
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/cli/__init__.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/multitask_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Update CLI tests.
  tests/test_cli.py
Due: pytest-changed-files

:bug: Fix ARG001 error
  tiatoolbox/cli/common.py
Due: none

:bug: Fix deepsource and `mypy` errors.
  tests/test_cli.py
  tiatoolbox/cli/common.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:pushpin: Pin `dask>=2026.1.2`
  requirements/requirements.txt
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:hammer: Fix `SemanticSegmentor` Memory Spill Issue (#990)
  requirements/requirements.txt
  tests/engines/test_semantic_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: pytest-changed-files

:green_heart: Address Co-Pilot review comments.
  tests/test_utils.py
  tiatoolbox/cli/common.py
  tiatoolbox/cli/multitask_segmentor.py
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

address comments
  tests/models/test_arch_utils.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/architecture/utils.py
Due: pytest-changed-files

:pushpin: Update `ruff` version to `0.14.14`
  .github/workflows/python-package.yml
  requirements/requirements_dev.txt
Due: none

:green_heart: Address Co-Pilot comments
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/engine/engine_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/utils/misc.py
Due: none

:zap: Use `prepare_full_batch` from `semantic_segmentor`.
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

:zap: Use `save_to_cache` from `semantic_segmentor`.
  tiatoolbox/models/engine/multi_task_segmentor.py
  tiatoolbox/models/engine/semantic_segmentor.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
