Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

[skip ci] DOC: DFBR Jupyter Notebook (#485)
  docs/images/wsi-registration.png
  examples/10-wsi_registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

DOC: Update HISTORY.md - Update HISTORY.md
  HISTORY.md
Due: none

Bump version: 1.2.1 → 1.3.0
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: none

DOC: Update CITATION.cff - Update CITATION.cff
  CITATION.cff
Due: none

DOC: Update 10-wsi-registration.ipynb - Update 10-wsi-registration.ipynb
  examples/10-wsi-registration.ipynb
  examples/10-wsi_registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

[skip travis] DOC: Update HISTORY.md - Update HISTORY.md
  HISTORY.md
Due: none

TST: Add Unit Test For Missing InstrumentRef
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Add Test For Missing OME PhysicalSize Attrib
  tests/test_wsireader.py
Due: pytest-changed-files

MANT: Remove Variable
  tiatoolbox/wsicore/wsireader.py
Due: none

MAINT: Remove Variable
  tiatoolbox/wsicore/wsireader.py
Due: none

MANT: Remove Variable + Refactor
  tiatoolbox/wsicore/wsireader.py
Due: none

MANT: Rename Imports
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Extract TIFFReader Specific Tests Into Module
  tests/test_tiffreader.py
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Add Missing _
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Remove Duplicate Code For Parameterised Test Generation
  tests/conftest.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_graph.py
  tests/test_wsireader.py
Due: pytest-changed-files

- Address Davids' comments
  examples/10-wsi_registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

REF: Rename 10-wsi-registration.ipynb - Rename 10-wsi-registration.ipynb
  examples/10-wsi-registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

[skip ci] DOC: Update links in 10-wsi-registration.ipynb - Update links in 10-wsi-registration.ipynb
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

BUG: Update HoVer-Net+ Post-processing (#431)
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/architecture/hovernetplus.py
Due: none

[skip ci] DOC: Update HISTORY.md - Update HISTORY.md
  HISTORY.md
Due: none

Revert "TST: Remove Duplicate Code For Parameterised Test Generation"
  tests/conftest.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_graph.py
  tests/test_wsireader.py
Due: pytest-changed-files

TST: Add Test For Missing OME PhysicalSizeY
  tests/test_tiffreader.py
Due: pytest-changed-files

TST: Add Unit Test For Non-Tiled TIFFReader Metadata
  tests/test_tiffreader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

DOC: Update Test Docstring
  tests/test_tiffreader.py
Due: pytest-changed-files

BUG: Fix Fetching Resolution For Non-Tiled TIFFs
  tests/test_tiffreader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

BUG: Fix Bug When OME-TIFF Missing Objective Power (#492)
  tests/test_tiffreader.py
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

REL: Release 1.3.0 (#493)
  CITATION.cff
  HISTORY.md
  examples/10-wsi-registration.ipynb
  examples/10-wsi_registration.ipynb
  examples/README.md
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: notebook-check-ast, notebook-markdown-format

[skip ci] BUG: Fix FLK-D202 No blank lines allowed after function docstring - Fix FLK-D202 No blank lines allowed after function docstring
  tests/test_tileserver.py
  tiatoolbox/cli/show_wsi.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

[skip ci] DOC: Update README.md - Update README.md for badge location
  README.md
Due: none

[skip ci] DOC: Fix docstring - Fix docstring
  tests/test_tileserver.py
Due: pytest-changed-files

[skip ci] BUG: Fix FLK-D202 No blank lines allowed after function docstring (#497)
  README.md
  tests/test_tileserver.py
  tiatoolbox/cli/show_wsi.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/metrics.py
  tiatoolbox/utils/misc.py
Due: pytest-changed-files

DEV: Update requirements.txt - Update requirements.txt
  requirements.txt
Due: none

DEV: Update requirements_dev.txt - Update requirements_dev.txt
  requirements_dev.txt
Due: none

DEV: Update docs/requirements.txt - Update docs/requirements.txt
  docs/requirements.txt
Due: none

DEV: Update wsidicom v0.4.0 not supported by python 3.7 - wsidicom 0.4.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update matplotlib v3.6.0 not supported by python 3.7 - matplotlib v3.6.0 not supported by python 3.7
  requirements.txt
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
