Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:arrow_down: Downgrade docutils for compatibility - Downgrade docutils for compatibility
  requirements_dev.txt
Due: none

[skip ci] :pencil2: Fix typo - Fix typo
  HISTORY.md
Due: none

more tests
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/visualization/tileserver_api.yml
Due: pytest-changed-files

REV: Revert dependency version updates - Revert dependency version updates for update in a separate PR
  .pre-commit-config.yaml
  docs/requirements.txt
  requirements.txt
  requirements_dev.txt
Due: none

➖ DEV: Remove Python 3.7 Support (#526)
  .github/workflows/docker-publish.yml
  .github/workflows/pip-install.yml
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  HISTORY.md
  docker/3.7/Debian/Dockerfile
  docs/installation.rst
  requirements.conda.yml
  requirements.dev.conda.yml
  requirements.win64.conda.yml
  requirements.win64.dev.conda.yml
  setup.py
  tests/test_annotation_stores.py
  tox.ini
Due: pytest-changed-files

DEV: Update .pre-commit-config.yaml - Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

DEV: Update docs/requirements.txt - Update docs/requirements.txt
  docs/requirements.txt
Due: none

DEV: Update requirements.txt - Update requirements.txt
  requirements.txt
Due: none

DEV: Update requirements_dev.txt - Update requirements_dev.txt
  requirements_dev.txt
Due: none

DEV: Update isort version - Update isort version
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

DEV: Update pre-commit - Update pre-commit
  .pre-commit-config.yaml
Due: none

DEV: Update pygrep-hooks - Update pygrep-hooks
  .pre-commit-config.yaml
Due: none

:bug: BUG: Fix flake8 B028 - Fix flake8 B028
  tiatoolbox/annotation/dsl.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/wsicore/wsimeta.py
Due: none

:bug: BUG: Fix flake8 B017 - Fix flake8 B017
  tests/test_exceptions.py
  tests/test_tissuemask.py
  tiatoolbox/tools/tissuemask.py
Due: pytest-changed-files

:bug: BUG: Fix flake8 B017 - Fix flake8 B017
  tests/test_wsireader.py
Due: pytest-changed-files

:arrow_up: DEV: Upgrade dependencies (#527)
  .pre-commit-config.yaml
  docs/requirements.txt
  requirements.txt
  requirements_dev.txt
Due: none

:bug: BUG: Fix Flake8 Errors (#528)
  tests/test_annotation_stores.py
  tests/test_exceptions.py
  tests/test_tissuemask.py
  tests/test_wsireader.py
  tiatoolbox/annotation/dsl.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/pyramid.py
  tiatoolbox/tools/stainaugment.py
  tiatoolbox/tools/tissuemask.py
  tiatoolbox/wsicore/wsimeta.py
Due: pytest-changed-files

:pushpin: DEV: Update isort version - Update isort version
  .pre-commit-config.yaml
Due: none

:pushpin: DEV: Update black version - Update black version
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

:pushpin: DEV: Update isort version - Update isort version - isort 5.12.0 doesn't allow build on Ubuntu
  .pre-commit-config.yaml
Due: none

:pushpin: DEV: Update isort version - Update isort version - isort 5.12.0 doesn't allow build on Ubuntu
  requirements_dev.txt
Due: none

:pushpin: REV: Update isort version - Update isort version - Ubuntu package was failing due to download error
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

:pushpin: DEV: Update isort version (#536)
  .pre-commit-config.yaml
  requirements_dev.txt
Due: none

:pushpin: DEV: Update black version (#537)
  .pre-commit-config.yaml
  examples/03-tissue-masking.ipynb
  examples/07-advanced-modeling.ipynb
  examples/full-pipelines/slide-graph.ipynb
  examples/inference-pipelines/slide-graph.ipynb
  requirements_dev.txt
  tests/models/test_patch_predictor.py
  tests/test_docs.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/engine/nucleus_instance_segmentor.py
  tiatoolbox/models/engine/patch_predictor.py
  tiatoolbox/visualization/tileserver.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files, notebook-check-ast, notebook-markdown-format

:sparkles: NEW: Add Nucleus Detection Engine - Add Nucleus Detection Engine - Fix documentation in patch_predictor.py
  tiatoolbox/models/engine/__init__.py
  tiatoolbox/models/engine/nucleus_detection.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:art: DEV: Improve structure of init - Improve structure of init
  tiatoolbox/models/engine/nucleus_detection.py
  tiatoolbox/models/engine/patch_predictor.py
Due: none

:bug: BUG: Remove verbose input from wsi.save_tiles - Remove verbose input from wsi.save_tiles
  tests/test_wsireader.py
Due: pytest-changed-files

:bug: BUG: Remove verbose input from wsi.save_tiles - Remove verbose input from wsi.save_tiles - Remove flush from logger.debug()
  tiatoolbox/wsicore/save_tiles.py
Due: none

:ambulance: BUG: Fix DICOMWSIReader metadata reading - Fix DICOMWSIReader metadata read to make it compatible with latest version of wsidicom
  requirements.txt
  tiatoolbox/wsicore/wsireader.py
Due: none

ENH: More Helpful __repr__ For Annotation
  tiatoolbox/annotation/storage.py
Due: none

WIP: Add Signature & Docstring For `nquery`
  tiatoolbox/annotation/storage.py
Due: none

:ambulance: BUG: Fix DICOMWSIReader metadata reading (#539)
  requirements.txt
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: BUG: Fix default value for verbose - Fix default value for verbose
  tests/test_wsireader.py
  tiatoolbox/cli/save_tiles.py
Due: pytest-changed-files

:zap: DEV: Improve test coverage - Improve test coverage for cli/save_tiles.py
  tests/test_save_tiles.py
Due: pytest-changed-files

DOC: Reformat Docstring Examples Output
  tiatoolbox/annotation/storage.py
Due: none

:bookmark: REL: Release 1.3.2 - Restricts wsidicom version to \<0.7.0 for compatibility - Fix bug related to reading DICOM files
  HISTORY.md
  requirements.txt
Due: none

Bump version: 1.3.1 → 1.3.2
  .github/workflows/docker-publish.yml
  CITATION.cff
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: none

:bug: BUG: Fix version pin for wsidicom - Fix version pin for wsidicom
  requirements.txt
Due: none

🔖 REL: Release 1.3.2 (#541)
  .github/workflows/docker-publish.yml
  CITATION.cff
  HISTORY.md
  requirements.txt
  setup.cfg
  setup.py
  tiatoolbox/__init__.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
