Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

REF: Move the comment above the keyword - Move the comment above the keyword
  setup.cfg
Due: none

DEV: Enable E800 checks - Enable E800 checks
  setup.cfg
Due: none

DEV: Remove deepsource check - Remove deepsource check
  tests/models/test_arch_micronet.py
Due: pytest-changed-files

DEV: Update requirements.txt - Update requirements.txt
  docs/requirements.txt
  requirements.txt
Due: none

DEV: Remove commented code from test files - Remove commented code from test files
  tests/models/test_nucleus_instance_segmentor.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_pyramid.py
  tests/test_slide_info.py
  tests/test_stainnorm.py
  tests/test_wsimeta.py
  tests/test_wsireader.py
Due: pytest-changed-files

BUG: Fix PYL-E1120 - Fix PYL-E1120
  tests/test_wsimeta.py
Due: pytest-changed-files

BUG: Fix PYL-W1114 - Fix PYL-W1114
  tests/test_stainnorm.py
Due: pytest-changed-files

add tileserver changes
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
  whitelist.txt
Due: pytest-changed-files

MANT: Move Comment To New Line
  setup.cfg
Due: none

DEV: Fix Flake8 E800 for tests (#512)
  docs/requirements.txt
  requirements.txt
  setup.cfg
  tests/models/test_arch_micronet.py
  tests/models/test_nucleus_instance_segmentor.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_pyramid.py
  tests/test_slide_info.py
  tests/test_stainnorm.py
  tests/test_wsimeta.py
  tests/test_wsireader.py
Due: pytest-changed-files

Rename wsi_reader as reader.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Doc: Modified Returns section for consistency.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

DOC: Update documentation for get_tissue_regions - Update documentation for get_tissue_regions
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

REV: Restore files from develop - Restore files from develop as these will be updated in #494
  docs/images/wsi-registration.png
  examples/10-wsi-registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

DOC: Fix indent for documentation - Fix indent for documentation
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/visualization.py
Due: none

DOC: Fix indent for documentation - Fix indent for documentation
  tiatoolbox/annotation/storage.py
Due: none

DOC: Copy Sample SVS Loader From docs-examples-1
  setup.cfg
  tests/test_data.py
  tiatoolbox/data/__init__.py
Due: pytest-changed-files

fixes from checks
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
  whitelist.txt
Due: pytest-changed-files

add some tests
  tests/test_tileserver.py
  tests/test_utils.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

REV: Revert setup.cfg to develop - Revert setup.cfg to develop branch
  setup.cfg
Due: none

DOC: Copy Sample SVS Loader From docs-examples-1 (#517)
  tests/test_data.py
  tiatoolbox/data/__init__.py
Due: pytest-changed-files

[skip ci] DOCS: Simplify Example Notebook 1 (#503)
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] Incorporating Mostafa's comments.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

[skip ci] Update section for transformation mapping.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

:technologist: DOC: Use branch name for installation links - Use branch name for installation links
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

:bug: DEV: Fix tests for transformation - Fix tests for transformation
  tests/test_wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: pytest-changed-files

:sparkles: NEW: DFBR for Registering Images (#510)
  tests/test_wsi_registration.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/utils/misc.py
  tiatoolbox/utils/visualization.py
Due: pytest-changed-files

:construction_worker: DEV: Add Notebook URL Replacement Hook
  .pre-commit-config.yaml
  pre-commit/notebook_check_ast.py
  pre-commit/notebook_markdown_format.py
  pre-commit/notebook_urls.py
Due: none

ENH: Filter Notebooks To Only Those Modified vs develop or Previous Commit
  pre-commit/notebook_urls.py
Due: none

BUG: Fix Decoding Subprocess Output
  pre-commit/notebook_urls.py
Due: none

MAINT: Specify origin/develop
  pre-commit/notebook_urls.py
Due: none

MAINT: Change Char Tuple To Raw String
  pre-commit/notebook_check_ast.py
Due: none

MAIN: Use Pre-Commit Env Variables
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

BUG: Specify UTF-8 Encoding When Opening
  pre-commit/notebook_check_ast.py
  pre-commit/notebook_urls.py
Due: none

WIP: Adjust Git Diff Args
  pre-commit/notebook_urls.py
Due: none

DEV: Restrict shapely version to less than 2.0.0 - Restrict shapely version to less than 2.0.0 until it is compatible
  requirements.txt
Due: none

DEV: Restrict shapely version to less than 2.0.0 (#520)
  requirements.txt
Due: none

WIP: Adjust Pre-Commit Hook Config (Push Only)
  .pre-commit-config.yaml
  examples/01-wsi-reading.ipynb
  pre-commit/notebook_urls.py
Due: notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
