Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$

MAIN: skip PYL-W0221
  tiatoolbox/models/architecture/nuclick.py
Due: none

BUG: fix nuclick forward
  tiatoolbox/models/architecture/nuclick.py
Due: none

BUG: fix test with _transform method
  tiatoolbox/models/architecture/unet.py
Due: none

DEV: Update torch version
  requirements.txt
Due: none

add blank line
  tests/test_wsireader.py
Due: pytest-changed-files

MANT: Refactor Parameterized Tests (#501)
  tests/conftest.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_graph.py
  tests/test_wsireader.py
Due: pytest-changed-files

documentation improvements
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

doc formatting
  tiatoolbox/wsicore/wsireader.py
Due: none

NEW: Add NuClick architecture (#449)
  tests/models/test_arch_micronet.py
  tests/models/test_arch_nuclick.py
  tiatoolbox/data/pretrained_model.yaml
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/models/architecture/idars.py
  tiatoolbox/models/architecture/mapde.py
  tiatoolbox/models/architecture/micronet.py
  tiatoolbox/models/architecture/nuclick.py
  tiatoolbox/models/architecture/sccnn.py
  tiatoolbox/models/architecture/unet.py
Due: pytest-changed-files

Update tiatoolbox/tools/registration/wsi_registration.py
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

Update comments.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

add test
  tests/test_wsireader.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

typing consistency
  tiatoolbox/utils/visualization.py
Due: none

ENH: Add Annotation Store Reader (#476)
  tests/test_annotation_stores.py
  tests/test_annotation_tilerendering.py
  tests/test_wsireader.py
  tiatoolbox/annotation/storage.py
  tiatoolbox/data/remote_samples.yaml
  tiatoolbox/tools/pyramid.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/wsicore/wsimeta.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

DEV: Update dev dependencies - Update dev dependencies and build docs
  docs/requirements.txt
  requirements.txt
  requirements_dev.txt
Due: none

NEW: add python3.10 and ubuntu22.04
  .github/workflows/docker-publish.yml
  docker/3.7/Debian/Dockerfile
  docker/3.8/Debian/Dockerfile
  docker/3.9/Debian/Dockerfile
  docker/3.9/Ubuntu/Dockerfile
Due: none

NEW: add python3.10 and ubuntu22.04
  docker/3.10/Debian/Dockerfile
  docker/3.10/Ubuntu/Dockerfile
Due: none

🐳 DEV: Publishing Docker Images (#504)
  .github/workflows/docker-publish.yml
  docker/3.10/Debian/Dockerfile
  docker/3.10/Ubuntu/Dockerfile
  docker/3.7/Debian/Dockerfile
  docker/3.8/Debian/Dockerfile
  docker/3.9/Debian/Dockerfile
  docker/3.9/Ubuntu/Dockerfile
Due: none

Delete notebook and update README.md
  examples/10-wsi-registration.ipynb
  examples/README.md
Due: notebook-check-ast, notebook-markdown-format

DEV: Update search for bump2version - Update search for bump2version
  CITATION.cff
  setup.cfg
Due: none

DEV: Update search for bump2version - Update search for bump2version
  setup.cfg
Due: none

DOC: Wording
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

MAINT: Wording & hide-output Tag
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

DEV: Update bump2version config (#511)
  CITATION.cff
  setup.cfg
Due: none

DEV: Update Dependencies (#498)
  docs/requirements.txt
  requirements.txt
  requirements_dev.txt
Due: none

DEV: Update setup.cfg for flake8 E800
  setup.cfg
Due: none
