Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

:bug: Fix `NGFFWSIReader` import
  tiatoolbox/wsicore/wsireader/factory.py
  tiatoolbox/wsicore/wsireader/ngff.py
Due: none

:bug: Cyclic `NGFFWSIReader` import
  tiatoolbox/wsicore/wsireader/factory.py
Due: none

♻️ Refactor `NGFFWSIReader` (#1136)
  tests/test_multichannel_reading.py
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader/__init__.py
  tiatoolbox/wsicore/wsireader/base.py
  tiatoolbox/wsicore/wsireader/factory.py
  tiatoolbox/wsicore/wsireader/ngff.py
Due: pytest-changed-files

Add automatic annotation colours
  tests/javascript/api/tileserver.test.js
  tests/javascript/utils/annotation-colours.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
Due: none

Document OpenLayers JavaScript tests
  tiatoolbox/visualization/openlayers/README.md
Due: none

Use Matplotlib annotation colours
  tests/javascript/api/tileserver.test.js
  tests/javascript/utils/annotation-colours.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

:white_check_mark: Add test for `get_wsi_output_shape`
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

Document OpenLayers JavaScript tests
  tests/javascript/api/tileserver.test.js
  tests/javascript/components/file-select.test.js
  tests/javascript/controls/grid.test.js
  tests/javascript/controls/map-controls.test.js
  tests/javascript/controls/overview-map.test.js
  tests/javascript/controls/scale-bar.test.js
  tests/javascript/panels/files.test.js
  tests/javascript/panels/layers.test.js
  tests/javascript/panels/settings.test.js
  tests/javascript/utils/colours.test.js
  tests/javascript/utils/paths.test.js
Due: none

:white_check_mark: Add test for `_update_run_params`
  tests/engines/test_engine_abc.py
Due: pytest-changed-files

:white_check_mark: Add test for `process_contours`
  tests/test_utils.py
Due: pytest-changed-files

Move JavaScript test documentation
  tests/javascript/README.md
  tiatoolbox/visualization/openlayers/README.md
Due: none

:bug: Fix deepsource errors
  tests/engines/test_engine_abc.py
  tests/engines/test_semantic_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add `JavaScript` Testing and `CI` for `OpenLayers` Viewer (#1135)
  .github/dependabot.yml
  .github/workflows/javascript.yml
  .gitignore
  tests/javascript/README.md
  tests/javascript/api/tileserver.test.js
  tests/javascript/components/file-select.test.js
  tests/javascript/controls/grid.test.js
  tests/javascript/controls/map-controls.test.js
  tests/javascript/controls/overview-map.test.js
  tests/javascript/controls/scale-bar.test.js
  tests/javascript/panels/files.test.js
  tests/javascript/panels/layers.test.js
  tests/javascript/panels/settings.test.js
  tests/javascript/utils/colours.test.js
  tests/javascript/utils/paths.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/eslint.config.js
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
  tiatoolbox/visualization/openlayers/src/controls/grid.js
  tiatoolbox/visualization/openlayers/src/controls/map-controls.js
  tiatoolbox/visualization/openlayers/src/panels/layers.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
  tiatoolbox/visualization/openlayers/vitest.config.js
Due: none

Made contrast enhancer in rust
  .github/workflows/rust.yml
  .readthedocs.yml
  Cargo.toml
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  pyproject.toml
  tests/rust/__init__.py
  tests/rust/test_misc.py
  tests/test_utils.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.css
  tiatoolbox/rust/utils/misc/Cargo.toml
  tiatoolbox/rust/utils/misc/__init__.pyi
  tiatoolbox/rust/utils/misc/src/lib.rs
  tiatoolbox/utils/misc.py
Due: pytest-changed-files, notebook-markdown-format

Update viewer.js to remove stashed changes lines
  tiatoolbox/data/visualization/static/openlayers/viewer.js
Due: none

Corrected errors
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer_legacy.css
Due: none

Removed unused imports
  tiatoolbox/rust/utils/misc/src/lib.rs
Due: none

Removed unused imports
  tiatoolbox/rust/utils/misc/Cargo.toml
Due: none

Converted misc code into rust
  .github/dependabot.yml
  .github/workflows/javascript.yml
  .github/workflows/rust.yml
  .gitignore
  .readthedocs.yml
  Cargo.toml
  benchmarks/comparing_misc_functions_in_rust_v_python.ipynb
  pyproject.toml
  tests/javascript/README.md
  tests/javascript/api/tileserver.test.js
  tests/javascript/components/file-select.test.js
  tests/javascript/controls/grid.test.js
  tests/javascript/controls/map-controls.test.js
  tests/javascript/controls/overview-map.test.js
  tests/javascript/controls/scale-bar.test.js
  tests/javascript/panels/files.test.js
  tests/javascript/panels/layers.test.js
  tests/javascript/panels/settings.test.js
  tests/javascript/utils/colours.test.js
  tests/javascript/utils/paths.test.js
  tests/rust/__init__.py
  tests/rust/test_misc.py
  tests/test_utils.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/rust/utils/misc/Cargo.toml
  tiatoolbox/rust/utils/misc/__init__.pyi
  tiatoolbox/rust/utils/misc/src/lib.rs
  tiatoolbox/utils/misc.py
  tiatoolbox/visualization/openlayers/eslint.config.js
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
  tiatoolbox/visualization/openlayers/src/controls/grid.js
  tiatoolbox/visualization/openlayers/src/controls/map-controls.js
  tiatoolbox/visualization/openlayers/src/panels/layers.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
  tiatoolbox/visualization/openlayers/vitest.config.js
Due: pytest-changed-files, notebook-markdown-format

Removed unused code
  tiatoolbox/utils/misc.py
Due: none

Format OpenLayers package lock
  tiatoolbox/visualization/openlayers/package-lock.json
Due: none

Update Vitest 5 dependencies
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

Fix Vitest 5 dependency update
  tiatoolbox/visualization/openlayers/package-lock.json
  tiatoolbox/visualization/openlayers/package.json
Due: none

:white_check_mark: Add test for `PromptSegmentor`
  tests/engines/test_prompt_segmentor.py
Due: pytest-changed-files

:white_check_mark: Add test for `sam`
  tests/models/test_arch_sam.py
Due: pytest-changed-files

:bug: Fix deepsource errors
  tests/engines/test_prompt_segmentor.py
  tests/models/test_arch_sam.py
Due: pytest-changed-files

Add annotation controls
  tests/javascript/api/tileserver.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/style.css
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/openlayers/src/styles/controls.css
  tiatoolbox/visualization/openlayers/src/styles/panels.css
  tiatoolbox/visualization/openlayers/src/styles/states.css
Due: none

Support configured annotation colours
  tests/javascript/utils/annotation-colours.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Label annotation groups by layer
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
Due: none

Constrain annotation panel height
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
Due: none

Export annotation colour configuration
  tests/javascript/utils/annotation-colours.test.js
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/openlayers/src/utils/annotation-colours.js
Due: none

Add bulk annotation visibility controls
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
Due: none

Test annotation panel controls
  tests/javascript/panels/annotations.test.js
  tests/javascript/utils/annotation-colours.test.js
Due: none

Document annotation controls
  tiatoolbox/visualization/openlayers/README.md
Due: none

Add layer-aware annotation properties
  tests/test_tileserver.py
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Add annotation property API helpers
  tests/javascript/api/tileserver.test.js
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
Due: none

Add annotation display modes
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/annotations.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/annotations.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
Due: pytest-changed-files

Rebuild OpenLayers viewer with Vite 8.3.0
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/visualization/openlayers/package-lock.json
Due: none

Add annotation inspection
  tests/javascript/api/tileserver.test.js
  tests/javascript/panels/settings.test.js
  tests/test_tileserver.py
  tiatoolbox/data/visualization/static/openlayers/viewer.css
  tiatoolbox/data/visualization/static/openlayers/viewer.js
  tiatoolbox/data/visualization/templates/index.html
  tiatoolbox/visualization/openlayers/src/api/tileserver.js
  tiatoolbox/visualization/openlayers/src/main.js
  tiatoolbox/visualization/openlayers/src/panels/settings.js
  tiatoolbox/visualization/openlayers/src/styles/annotations.css
  tiatoolbox/visualization/tileserver.py
Due: pytest-changed-files

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
