Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-check-ast, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - push

notebook-check-ast:
  name: check notebook ast
  entry: python pre-commit/notebook_check_ast.py
  language: python

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

DEV: Update scikit-learn v1.1.0 not supported by python 3.7 - scikit-learn v1.1.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update scipy v1.8.0 not supported by python 3.7 - scipy v1.8.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update pandas v1.4.0 not supported by python 3.7 - pandas v1.4.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update zarr v2.12.0 not supported by python 3.7 - zarr v2.12.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update numpy v1.22.0 not supported by python 3.7 - zarr v1.22.0 not supported by python 3.7
  requirements.txt
Due: none

DEV: Update docutils to resolve dev environment - Update docutils to resolve dev environment
  requirements_dev.txt
Due: none

DEV: Move doc related dependencies to docs/requirements.txt - Move doc related dependencies to docs/requirements.txt
  docs/requirements.txt
  requirements_dev.txt
Due: none

remove import
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

docstring improvement
  tiatoolbox/wsicore/wsireader.py
Due: none

MANT: Refactor Parameterized Tests
  tests/conftest.py
  tests/test_annotation_stores.py
  tests/test_dsl.py
  tests/test_graph.py
  tests/test_wsireader.py
Due: pytest-changed-files

DEV: Update CI Python Versions (+3.11, -3.7)
  .github/workflows/python-package.yml
Due: none

DEV: Add Python 3.11 & Drop 3.7 In setup.py
  setup.py
Due: none

DEV: Update pip Workflow Python Versions
  .github/workflows/pip-install.yml
Due: none

DEV: Update Conda Requirements Python Versions
  requirements.conda.yml
Due: none

DEV: Update Conda Dev Python Requirements Versions
  requirements.dev.conda.yml
Due: none

DEV: Update Conda Windows Python Versions
  requirements.win64.conda.yml
Due: none

DEV: Update Windows Dev Conda Python Versions
  requirements.win64.dev.conda.yml
Due: none

DEV: Add Back 3.7 To CI Workflow
  .github/workflows/python-package.yml
Due: none

DEV: Add 3.7 Back To setup.py
  setup.py
Due: none

DEV: Add 3.7 Back To pip Install Workflow
  .github/workflows/pip-install.yml
Due: none

address comments
  tiatoolbox/annotation/storage.py
  tiatoolbox/tools/pyramid.py
Due: none

docstring improvement
  tiatoolbox/annotation/storage.py
Due: none

- DEV: Add transformer.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

- DEV: Fix pre-commit issues.
  tiatoolbox/tools/registration/wsi_registration.py
Due: none

[skip ci] Extract tiles and then apply B-spline.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

DEV: Add translation registration using phase correlation.
  examples/10-wsi-registration.ipynb
  tiatoolbox/tools/registration/wsi_registration.py
Due: notebook-check-ast, notebook-markdown-format

- Show Jupyter output.
  examples/10-wsi-registration.ipynb
Due: notebook-check-ast, notebook-markdown-format

NEW: Add Function In Data For Sample Image
  tiatoolbox/data/__init__.py
Due: none

DOC: Simplify Notebook 1
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

MAINT: Apply Shan suggestions from code review
  tiatoolbox/models/architecture/nuclick.py
Due: none

DOC: Add Synchronised Read Example
  examples/01-wsi-reading.ipynb
Due: notebook-check-ast, notebook-markdown-format

reinstate spaces
  tests/test_wsireader.py
Due: pytest-changed-files

make precommit changes
  tiatoolbox/annotation/storage.py
  tiatoolbox/utils/visualization.py
  tiatoolbox/wsicore/wsireader.py
Due: none

[skip ci] NEW: add docker images and publish workflow
  .github/workflows/docker-publish.yaml
  docker/3.7/Debian/Dockerfile
  docker/3.8/Debian/Dockerfile
  docker/3.9/Debian/Dockerfile
  docker/3.9/Ubuntu/Dockerfile
Due: none

UPD: move other CIs outside
  .github/conda-env-create.yml
  .github/pip-install.yml
  .github/python-package.yml
  .github/workflows/docker-publish.yml
Due: none

UPD: using default tags
  .github/workflows/docker-publish.yml
Due: none

UPD: using master branch tags
  .github/workflows/docker-publish.yml
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-check-ast: any of: \.ipynb$
  notebook-markdown-format: any of: \.ipynb$
