Repository TissueImageAnalytics/tiatoolbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed-files, notebook-markdown-format

pytest-changed-files:
  name: pytest-changed-files
  entry: pytest
  require_serial: true
  language: system
  stages:
  - pre-push

notebook-markdown-format:
  name: notebook markdown format
  entry: python pre-commit/notebook_markdown_format.py
  require_serial: true
  language: python
  additional_dependencies:
  - mdformat
  - mdformat-black
  - mdformat-myst

remove unneeded error checking
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/checkpoint.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/datasets.py
Due: pytest-changed-files

remove wrappers
  examples/13-training-patch-folder-classification.ipynb
  examples/14-training-slide-annotation-segmentation.ipynb
  examples/README.md
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/config.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files, notebook-markdown-format

update nb 13
  examples/13-training-patch-folder-classification.ipynb
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
Due: pytest-changed-files, notebook-markdown-format

tweak nb 13
  examples/13-training-patch-folder-classification.ipynb
  tiatoolbox/models/training/utils.py
Due: notebook-markdown-format

add aug presets
  examples/13-training-patch-folder-classification.ipynb
  tests/models/test_training.py
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/augmentations.py
  tiatoolbox/models/training/datasets.py
Due: pytest-changed-files, notebook-markdown-format

⚡ Filter `tile_bounds` with Mask (#1037)
  tests/engines/test_multi_task_segmentor.py
  tests/models/test_arch_micronet.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:pushpin: Fix glymur version
  requirements/requirements.txt
Due: none

:pushpin: Update dependencies
  requirements/requirements.txt
Due: none

:bookmark: Release 2.0.1 (#1039)
  .github/workflows/docker-publish.yml
  AUTHORS.md
  CITATION.cff
  HISTORY.md
  pyproject.toml
  requirements/requirements.txt
  setup.py
  tests/engines/test_multi_task_segmentor.py
  tests/models/test_arch_micronet.py
  tiatoolbox/__init__.py
  tiatoolbox/models/dataset/dataset_abc.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:bookmark: Release 2.0.1 (#1040)
  .github/workflows/docker-publish.yml
  AUTHORS.md
  CITATION.cff
  HISTORY.md
  pyproject.toml
  setup.py
  tiatoolbox/__init__.py
Due: none

Apply suggested fix to tiatoolbox/__init__.py from Copilot Autofix
  tiatoolbox/__init__.py
Due: none

Apply suggested fix to tiatoolbox/models/architecture/unet.py from Copilot Autofix
  tiatoolbox/models/architecture/unet.py
Due: none

robustify stain aug
  tiatoolbox/tools/stainaugment.py
Due: none

:bug: Fix misc.py
  tiatoolbox/utils/misc.py
Due: none

:bug: Fix `wsireader.py` - Use `CacheStore` for zarr v3
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

prep trainer for multi-head tasks
  tests/models/test_training.py
  tiatoolbox/models/training/tasks.py
  tiatoolbox/models/training/trainer.py
Due: pytest-changed-files

composite targets
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files

add structured tasks
  tests/models/test_training.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/tasks.py
Due: pytest-changed-files

update augs for multitask
  tests/models/test_training.py
  tiatoolbox/models/training/augmentations.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files

kongnet training helpers
  tests/models/test_arch_kongnet.py
  tests/models/test_training.py
  tiatoolbox/models/architecture/kongnet.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/kongnet.py
Due: pytest-changed-files

add initial kong train example nb
  examples/15-training-kongnet-conic.ipynb
  examples/README.md
Due: notebook-markdown-format

improve kongnet nb
  examples/15-training-kongnet-conic.ipynb
  tests/models/test_training_targets.py
  tiatoolbox/models/training/__init__.py
  tiatoolbox/models/training/datasets.py
  tiatoolbox/models/training/targets.py
Due: pytest-changed-files, notebook-markdown-format

:white_check_mark: Force skip test
  tests/models/test_models_abc.py
Due: pytest-changed-files

:bug: Fix NGFF Reader
  tiatoolbox/wsicore/wsireader.py
Due: none

:bug: Fix NGFF Reader - Remove sqlite tests
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:white_check_mark: Use FsspecStore for remote files.
  tiatoolbox/wsicore/__init__.py
  tiatoolbox/wsicore/wsireader.py
Due: none

:recycle: Update how `register_codec` is used
  tiatoolbox/wsicore/wsireader.py
Due: none

:white_check_mark: Add support to read s3 using NGFFWSIReader
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

:pencil2: Fix typos
  tests/test_wsireader.py
  tiatoolbox/wsicore/wsireader.py
Due: pytest-changed-files

Fix model name formatting in pretrained.rst
  docs/pretrained.rst
Due: none

Update pretrained.rst
  docs/pretrained.rst
Due: none

:bug: Fix `nucleus_detector.py`
  tests/engines/test_nucleus_detection_engine.py
  tiatoolbox/models/engine/nucleus_detector.py
Due: pytest-changed-files

:bug: Zarr uses str indexing instead of int
  tests/engines/test_multi_task_segmentor.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: pytest-changed-files

:white_check_mark: Test with np full
  tiatoolbox/models/architecture/hovernet.py
  tiatoolbox/models/engine/multi_task_segmentor.py
Due: none

Path conditions:
  pytest-changed-files: any of: tests/.*\btest_\w*.py
  notebook-markdown-format: any of: \.ipynb$
